In [1]:
import sqlite3 as sql 

con = None

try:
    con = sql.connect('test.db')
    
    cur = con.cursor()
    
    cur.execute('select  SQLITE_VERSION()') # 버전을 가져옴
    
    data = cur.fetchone()
    
    print("SQLite Version: ", data)
    
except Exception as e:
    print("Error: ", e)
finally:
    if con:
        con.close()

SQLite Version:  ('3.21.0',)

In [2]:
con = sql.connect('test.db')

with con:
    cur = con.cursor()
    cur.execute("create table cars(id int primary key, name text, price int )") # pk 필수
    cur.execute("insert into cars values(1,'Audi',52642)")
    cur.execute("insert into cars values(2,'Mercedes',57127)")
    cur.execute("insert into cars values(3,'Audi',9000)")
    cur.execute("insert into cars values(4,'Audi',29000)")
    cur.execute("insert into cars values(5,'Audi',350000)")
    cur.execute("insert into cars values(6,'Audi',21000)")
    cur.execute("insert into cars values(7,'Audi',41400)")
    cur.execute("insert into cars values(8,'Audi',21600)")

In [11]:
cars = [
  (1,'Audi',52642),
  (2,'Mercedes',57127),
  (3,'Audi',9000),
  (4,'Audi',29000),
  (5,'Audi',350000),
  (6,'Audi',21000),
  (7,'Audi',41400),  
  (8,'Audi',21600)
]

con = sql.connect('test.db')

with con: # with con -> 마치면 자동으로 close하게 됨 
    cur = con.cursor() # 포인터 개념 
    cur.execute("drop table if exists cars")
    cur.execute("create table cars(id int primary key, name text, price int)")
    cur.executemany("insert into cars values(?,?,?)",cars)

In [8]:
try:
    con = sql.connect('test.db')
    
    cur = con.cursor()
    
    cur.executescript(
        """
        drop table if exists cars;
        cur.execute("create table cars(id int primary key, name text, price int );") 
        cur.execute("insert into cars values(1,'Audi',52642);")
        cur.execute("insert into cars values(2,'Mercedes',57127);")
        cur.execute("insert into cars values(3,'Audi',9000);")
        cur.execute("insert into cars values(4,'Audi',29000);")
        cur.execute("insert into cars values(5,'Audi',350000);")
        cur.execute("insert into cars values(6,'Audi',21000);")
        cur.execute("insert into cars values(7,'Audi',41400);")
        cur.execute("insert into cars values(8,'Audi',21600);")
        """
    )
    
    con.commit()
    
except Exception as e:
        if con: # 인터프립터 언어이기 때문에 만약 insert부분에 오류가 나도 위에 크리에이트문은 이미 
                    # 실행이 되어있는 상황
            con.rollback()
        print("Error: ", e)
finally:
    if con:
        con.close()

Error:  near "cur": syntax error

In [9]:
con = sql.connect(":memory:")

with con:
    cur = con.cursor()
    cur.execute("create table friends(id int primary key, name text )")
    cur.execute("insert into friends(Name) values ('Tom');")
    cur.execute("insert into friends(Name) values ('Rebecca');")
    cur.execute("insert into friends(Name) values ('Jim');")
    cur.execute("insert into friends(Name) values ('Ribert');")
    
    lid = cur.lastrowid
    print("The last Id of the inserted row is", lid)

The last Id of the inserted row is 4

In [12]:
con = sql.connect('test.db')

with con:
    cur = con.cursor()
    cur.execute("select * from cars")
    
    while True: # fetchall
        row = cur.fetchone()
        
        if row == None:
            break;
            
        print(row[0], row[1], row[2])

1 Audi 52642
2 Mercedes 57127
3 Audi 9000
4 Audi 29000
5 Audi 350000
6 Audi 21000
7 Audi 41400
8 Audi 21600

In [13]:
con = sql.connect('test.db')

with con:
    con.row_factory = sql.Row # dict type, or mapping accesee를 하기 위해 colum 명 index, 조건해서 필터링으로 가져온다.
    
    cur = con.cursor()
    cur.execute("select * from cars")
    
    rows = cur.fetchall()
    
    for row in rows:
        print(row["id"], row["name"], row["price"]) # dictionary 구현 메소드 오버로딩

1 Audi 52642
2 Mercedes 57127
3 Audi 9000
4 Audi 29000
5 Audi 350000
6 Audi 21000
7 Audi 41400
8 Audi 21600

In [15]:
uId = 1
uPrice = 62300

con = sql.connect('test.db')
#qmarker 사용
with con:
    cur = con.cursor()
    
    cur.execute("update cars set price =? where id =?", (uPrice, uId))
    
    print("Number of rows updated:", cur.rowcount)

Number of rows updated: 1

In [16]:
uId = 4

con = sql.connect('test.db')

with con:
    
    cur = con.cursor()
    
    cur.execute("select name, price from cars where id =:id",{"id":uId})
    
    row = cur.fetchone()
    print(row[0], row[1])

Audi 29000