파이썬은 추상화가 잘 되어있어 
connect한 클래스가 리턴값으로 cur를 가져오기 때문에 
cursor를 선언 하지 않기 때문에 , cursor를 생략하는경우도 있지만 
꼭 쓰길 바란다 파이썬만 쓰지 않기 때문에

In [1]:
import sqlite3

con = sqlite3.connect(':memory:')
cur = con.cursor()

In [3]:
con.executescript(
    """   
        drop table artist;
        drop table genre;
        drop table album;
        drop table track;

        
        create table artist( 
                id INTEGER not null primary key autoincrement,
                name text);

        create table genre (
                Id INTEGER not null primary key  autoincrement, 
                name TEXT );

        create table album(
                id INTEGER primary key  autoincrement,
                title text, 
                artist_id int 
                );
        create table track(
            id INTEGER primary key  autoincrement,
            title text, 
            length INTEGER,
            count INTEGER,
            rating INTEGER,
            album_id INTEGER, 
            genre_id INTEGER 
        );

        insert into artist (id, name) values(1, 'Led zepplin');
        insert into artist (id, name) values(2, 'AC/DC');

        insert into genre (id, name) values(1, 'Rock');
        insert into genre (id, name) values(2, 'Metal');

    
    """
)

In [4]:
cur.execute('select * from artist')

In [5]:
artist = cur.fetchall()
type(artist)

list

In [9]:
for id_ in artist:
    cur.execute("insert into album (title, artist_id) values('IV', :id_)", {"id_":id_[0]})
    print(id_[0])

1
2

In [10]:
con.executescript(
    """   

        insert into album (title, artist_id) values('IV', 1);
        insert into album (title, artist_id) values('who Made who', 2);

        insert into track (title, album_id, genre_id) values('Black Dog',1, 1);
        insert into track (title, album_id, genre_id) values('Stairway', 1, 2);
        insert into track (title, album_id, genre_id) values('About to Rock', 2, 1);
        insert into track (title, album_id, genre_id) values('who Made who', 2, 2);

    
    """
)

In [11]:
cur.execute("SELECT * FROM album")

In [12]:
print(cur.fetchall())

[(1, 'IV', 1), (2, 'IV', 1), (3, 'IV', 2), (4, 'IV', 1), (5, 'who Made who', 2)]

In [13]:
cur.execute("SELECT * FROM track")

In [14]:
print(cur.fetchall())

[(1, 'Black Dog', None, None, None, 1, 1), (2, 'Stairway', None, None, None, 1, 2), (3, 'About to Rock', None, None, None, 2, 1), (4, 'who Made who', None, None, None, 2, 2)]

In [15]:
cur.execute("select * from artist, album") # 데이터 쌍을 가능한 최대한 나타낸다 ...

In [16]:
for row in cur.fetchall():
    print(row)

(1, 'Led zepplin', 1, 'IV', 1)
(1, 'Led zepplin', 2, 'IV', 1)
(1, 'Led zepplin', 3, 'IV', 2)
(1, 'Led zepplin', 4, 'IV', 1)
(1, 'Led zepplin', 5, 'who Made who', 2)
(2, 'AC/DC', 1, 'IV', 1)
(2, 'AC/DC', 2, 'IV', 1)
(2, 'AC/DC', 3, 'IV', 2)
(2, 'AC/DC', 4, 'IV', 1)
(2, 'AC/DC', 5, 'who Made who', 2)

In [17]:
cur.execute("select * from artist cross join  album ")

In [18]:
for row in cur.fetchall():
    print(row)

(1, 'Led zepplin', 1, 'IV', 1)
(1, 'Led zepplin', 2, 'IV', 1)
(1, 'Led zepplin', 3, 'IV', 2)
(1, 'Led zepplin', 4, 'IV', 1)
(1, 'Led zepplin', 5, 'who Made who', 2)
(2, 'AC/DC', 1, 'IV', 1)
(2, 'AC/DC', 2, 'IV', 1)
(2, 'AC/DC', 3, 'IV', 2)
(2, 'AC/DC', 4, 'IV', 1)
(2, 'AC/DC', 5, 'who Made who', 2)

In [19]:
cur.execute("select * from artist join album on artist.id = album.artist_id")

In [20]:
for row in cur.fetchall():
    print(row)

(1, 'Led zepplin', 1, 'IV', 1)
(1, 'Led zepplin', 2, 'IV', 1)
(2, 'AC/DC', 3, 'IV', 2)
(1, 'Led zepplin', 4, 'IV', 1)
(2, 'AC/DC', 5, 'who Made who', 2)

In [21]:
cur.execute("select artist.name, album.title from artist join album on artist.id = album.artist_id")

In [22]:
for row in cur.fetchall():
    print(row)

('Led zepplin', 'IV')
('Led zepplin', 'IV')
('AC/DC', 'IV')
('Led zepplin', 'IV')
('AC/DC', 'who Made who')

In [23]:
cur.execute("select a.name, album.title from artist as a join album on a.id = album.artist_id")

In [24]:
for row in cur.fetchall():
    print(row)

('Led zepplin', 'IV')
('Led zepplin', 'IV')
('AC/DC', 'IV')
('Led zepplin', 'IV')
('AC/DC', 'who Made who')

In [70]:
cur.execute("select id , title, length, count, rating, album_id, genre_id from track")

In [71]:
print("id , title, length, count, rating, album_id, genre_id")
for row in cur.fetchall():
    print(row)

id , title, length, count, rating, album_id, genre_id
(1, 'Black Dog', None, None, None, 1, 1)
(2, 'Stairway', None, None, None, 1, 2)
(3, 'About to Rock', None, None, None, 2, 1)
(4, 'who Made who', None, None, None, 2, 2)

In [69]:
cur.execute("select id, title, artist_id from album")

In [65]:
print("id, title, artist_id ")
for row in cur.fetchall():
    print(row)

id, title, artist_id
(1, 'IV', 1)
(2, 'IV', 1)
(3, 'IV', 2)
(4, 'IV', 1)
(5, 'who Made who', 2)

In [47]:
cur.execute("select * from album join track on album.id = track.album_id")  # inner join

In [48]:
for row in cur.fetchall():
    print(row)

(1, 'IV', 1, 1, 'Black Dog', None, None, None, 1, 1)
(1, 'IV', 1, 2, 'Stairway', None, None, None, 1, 2)
(2, 'IV', 1, 3, 'About to Rock', None, None, None, 2, 1)
(2, 'IV', 1, 4, 'who Made who', None, None, None, 2, 2)

In [51]:
cur.execute("select * from track join album join genre join artist on track.album_id = album.id and \
            track.genre_id = genre.id and \
            album.artist_id = artist.id")  # inner join

In [52]:
for row in cur.fetchall():
    print(row)

(1, 'Black Dog', None, None, None, 1, 1, 1, 'IV', 1, 1, 'Rock', 1, 'Led zepplin')
(2, 'Stairway', None, None, None, 1, 2, 1, 'IV', 1, 2, 'Metal', 1, 'Led zepplin')
(3, 'About to Rock', None, None, None, 2, 1, 2, 'IV', 1, 1, 'Rock', 1, 'Led zepplin')
(4, 'who Made who', None, None, None, 2, 2, 2, 'IV', 1, 2, 'Metal', 1, 'Led zepplin')

In [74]:
cur.execute("select track.title, album.title, genre.name, artist.name from track join album join genre join artist on \
            track.album_id = album.id and \
            track.genre_id = genre.id and \
            album.artist_id = artist.id")  # inner join

In [75]:
print("track.title, album.title, genre.name, artist.name")
for row in cur.fetchall():
    print(row)

track.title, album.title, genre.name, artist.name
('Black Dog', 'IV', 'Rock', 'Led zepplin')
('Stairway', 'IV', 'Metal', 'Led zepplin')
('About to Rock', 'IV', 'Rock', 'Led zepplin')
('who Made who', 'IV', 'Metal', 'Led zepplin')

In [76]:
# dump
with open('test.dump', 'w') as f:
    for line in con.iterdump():
        f.write("%s\n" % line)