In [1]:
import sqlite3

In [2]:
with open('test.dump', 'r') as f:
    data = f.read()

In [3]:
data

'BEGIN TRANSACTION;\nCREATE TABLE album(\n                id INTEGER primary key  autoincrement,\n                title text, \n                artist_id int \n                );\nINSERT INTO "album" VALUES(1,\'IV\',1);\nINSERT INTO "album" VALUES(2,\'IV\',1);\nINSERT INTO "album" VALUES(3,\'IV\',2);\nINSERT INTO "album" VALUES(4,\'IV\',1);\nINSERT INTO "album" VALUES(5,\'who Made who\',2);\nCREATE TABLE artist( \n                id INTEGER not null primary key autoincrement,\n                name text);\nINSERT INTO "artist" VALUES(1,\'Led zepplin\');\nINSERT INTO "artist" VALUES(2,\'AC/DC\');\nCREATE TABLE genre (\n                Id INTEGER not null primary key  autoincrement, \n                name TEXT );\nINSERT INTO "genre" VALUES(1,\'Rock\');\nINSERT INTO "genre" VALUES(2,\'Metal\');\nDELETE FROM "sqlite_sequence";\nINSERT INTO "sqlite_sequence" VALUES(\'artist\',2);\nINSERT INTO "sqlite_sequence" VALUES(\'genre\',2);\nINSERT INTO "sqlite_sequence" VALUES(\'album\',5);\nINSERT INTO "sqlite_sequence" VALUES(\'track\',4);\nCREATE TABLE track(\n            id INTEGER primary key  autoincrement,\n            title text, \n            length INTEGER,\n            count INTEGER,\n            rating INTEGER,\n            album_id INTEGER, \n            genre_id INTEGER \n        );\nINSERT INTO "track" VALUES(1,\'Black Dog\',NULL,NULL,NULL,1,1);\nINSERT INTO "track" VALUES(2,\'Stairway\',NULL,NULL,NULL,1,2);\nINSERT INTO "track" VALUES(3,\'About to Rock\',NULL,NULL,NULL,2,1);\nINSERT INTO "track" VALUES(4,\'who Made who\',NULL,NULL,NULL,2,2);\nCOMMIT;\n'

In [4]:
con = sqlite3.connect('dump.db')

In [5]:
cur = con.cursor()

In [6]:
cur.executescript(data)

OperationalError: table album already exists

In [7]:
cur.execute("insert into track (title) values ('아무거나')")

In [8]:
cur.execute("select * from track")

In [9]:
print(cur.fetchall())

[(1, 'Black Dog', None, None, None, 1, 1), (2, 'Stairway', None, None, None, 1, 2), (3, 'About to Rock', None, None, None, 2, 1), (4, 'who Made who', None, None, None, 2, 2), (5, '아무거나', None, None, None, None, None)]

In [10]:
cur.execute('select * from track left join album on album.id=track.album_id')

In [11]:
for row in cur.fetchall():
    print(row)

(1, 'Black Dog', None, None, None, 1, 1, 1, 'IV', 1)
(2, 'Stairway', None, None, None, 1, 2, 1, 'IV', 1)
(3, 'About to Rock', None, None, None, 2, 1, 2, 'IV', 1)
(4, 'who Made who', None, None, None, 2, 2, 2, 'IV', 1)
(5, '아무거나', None, None, None, None, None, None, None, None)

In [12]:
cur.execute('select * from track right join album on album.id=track.album_id') # 왼쪽 테이블 기준

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [13]:
cur.execute('select * from album left join track on album.id=track.album_id')

In [14]:
for row in cur.fetchall():
    print(row)

(1, 'IV', 1, 1, 'Black Dog', None, None, None, 1, 1)
(1, 'IV', 1, 2, 'Stairway', None, None, None, 1, 2)
(2, 'IV', 1, 3, 'About to Rock', None, None, None, 2, 1)
(2, 'IV', 1, 4, 'who Made who', None, None, None, 2, 2)
(3, 'who Made who', 2, None, None, None, None, None, None, None)
(4, 'IV', 1, None, None, None, None, None, None, None)
(5, 'who Made who', 2, None, None, None, None, None, None, None)
(6, 'IV', 1, None, None, None, None, None, None, None)
(7, 'who Made who', 2, None, None, None, None, None, None, None)

# orm
- orm 은 dbms가 아니라 그냥 프로그램, 단지 맵핑
- ORM allows a developer to write Python code instead of SQL to create, read, update and delete
    - Developers can use the programming language they are comfortable with to work with a database instead of writing SQL statements or stored procedures
- ORMs make it theoretically possible to switch an application between various relational databases
    - In practice however, it's best to use the same database for local development as is used in production

In [15]:
!pip list

Package                            Version
---------------------------------- -----------
absl-py                            0.1.12
alabaster                          0.7.10
anaconda-client                    1.6.9
anaconda-navigator                 1.7.0
anaconda-project                   0.8.2
asn1crypto                         0.24.0
astor                              0.6.2
astroid                            1.6.1
astropy                            2.0.3
attrs                              17.4.0
Babel                              2.5.3
backports.shutil-get-terminal-size 1.0.0
beautifulsoup4                     4.6.0
bitarray                           0.8.1
bkcharts                           0.2
blaze                              0.11.3
bleach                             1.5.0
bokeh                              0.12.13
boto                               2.48.0
Bottleneck                         1.2.1
builtwith                          1.3.3
certifi                            2018.1.18
cffi                               1.11.4
chardet                            3.0.4
click                              6.7
cloudpickle                        0.5.2
clyent                             1.2.2
colorama                           0.3.9
comtypes                           1.1.4
conda                              4.5.1
conda-build                        3.4.1
conda-verify                       2.0.0
contextlib2                        0.5.5
cryptography                       2.1.4
cycler                             0.10.0
Cython                             0.27.3
cytoolz                            0.9.0
dask                               0.16.1
datashape                          0.5.4
decorator                          4.2.1
distributed                        1.20.2
docutils                           0.14
entrypoints                        0.2.3
et-xmlfile                         1.0.1
fastcache                          1.0.2
filelock                           2.0.13
Flask                              0.12.2
Flask-Cors                         3.0.3
future                             0.16.0
gast                               0.2.0
gevent                             1.2.2
glob2                              0.6
greenlet                           0.4.12
grpcio                             1.10.0
h5py                               2.7.1
heapdict                           1.0.0
html5lib                           0.9999999
idna                               2.6
imageio                            2.2.0
imagesize                          0.7.1
ipykernel                          4.8.2
ipython                            6.2.1
ipython-genutils                   0.2.0
ipywidgets                         7.1.1
isort                              4.2.15
itsdangerous                       0.24
jdcal                              1.3
jedi                               0.11.1
Jinja2                             2.10
jsonschema                         2.6.0
jupyter                            1.0.0
jupyter-client                     5.2.2
jupyter-console                    5.2.0
jupyter-core                       4.4.0
jupyterlab                         0.31.4
jupyterlab-launcher                0.10.2
Keras                              2.1.5
lazy-object-proxy                  1.3.1
llvmlite                           0.21.0
locket                             0.2.0
lxml                               4.1.1
Markdown                           2.6.11
MarkupSafe                         1.0
matplotlib                         2.1.2
mccabe                             0.6.1
menuinst                           1.4.11
mistune                            0.8.3
mpmath                             1.0.0
msgpack-python                     0.5.1
multipledispatch                   0.4.9
navigator-updater                  0.1.0
nbconvert                          5.3.1
nbformat                           4.4.0
networkx                           2.1
nltk                               3.2.5
nose                               1.3.7
notebook                           5.4.0
numba                              0.36.2
numexpr                            2.6.4
numpy                              1.14.0
numpydoc                           0.7.0
odo                                0.5.1
olefile                            0.45.1
openpyxl                           2.4.10
packaging                          16.8
pandas                             0.22.0
pandocfilters                      1.4.2
parso                              0.1.1
partd                              0.3.8
path.py                            10.5
pathlib2                           2.3.0
patsy                              0.5.0
pep8                               1.7.1
pickleshare                        0.7.4
Pillow                             5.0.0
pip                                10.0.1
pkginfo                            1.4.1
pluggy                             0.6.0
ply                                3.10
prompt-toolkit                     1.0.15
protobuf                           3.5.2.post1
psutil                             5.4.3
py                                 1.5.2
pycodestyle                        2.3.1
pycosat                            0.6.3
pycparser                          2.18
pycrypto                           2.6.1
pycurl                             7.43.0.1
pyflakes                           1.6.0
Pygments                           2.2.0
pylint                             1.8.2
pymongo                            3.7.1
pyodbc                             4.0.22
pyOpenSSL                          17.5.0
pyparsing                          2.2.0
PySocks                            1.6.7
pytest                             3.3.2
python-dateutil                    2.6.1
python-whois                       0.7.0
pytz                               2017.3
PyWavelets                         0.5.2
pywin32                            222
pywinpty                           0.5
PyYAML                             3.12
pyzmq                              16.0.3
QtAwesome                          0.4.4
qtconsole                          4.3.1
QtPy                               1.3.1
requests                           2.18.4
rope                               0.10.7
ruamel-yaml                        0.15.35
scikit-image                       0.13.1
scikit-learn                       0.19.1
scipy                              1.0.0
seaborn                            0.8.1
Send2Trash                         1.4.2
setuptools                         38.4.0
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
six                                1.11.0
snowballstemmer                    1.2.1
sortedcollections                  0.5.3
sortedcontainers                   1.5.9
Sphinx                             1.6.6
sphinxcontrib-websupport           1.0.1
spyder                             3.2.6
SQLAlchemy                         1.2.1
statsmodels                        0.8.0
sympy                              1.1.1
tables                             3.4.2
tblib                              1.3.2
tensorboard                        1.8.0
tensorflow                         1.8.0
tensorflow-gpu                     1.7.0
termcolor                          1.1.0
terminado                          0.8.1
testpath                           0.3.1
toolz                              0.9.0
torch                              0.3.1.post2
torchvision                        0.2.0
tornado                            4.5.3
traitlets                          4.3.2
typing                             3.6.2
ujson                              1.35
unicodecsv                         0.14.1
urllib3                            1.22
virtualenv                         16.0.0
wcwidth                            0.1.7
webencodings                       0.5.1
Werkzeug                           0.14.1
wheel                              0.30.0
widgetsnbextension                 3.1.0
win-inet-pton                      1.0.1
win-unicode-console                0.5
wincertstore                       0.2
wrapt                              1.10.11
xlrd                               1.1.0
XlsxWriter                         1.0.2
xlwings                            0.11.5
xlwt                               1.3.0
zict                               0.1.3

In [1]:
import sqlalchemy 
sqlalchemy.__version__

'1.2.1'

# sqlalchemy
- SQLAlchemy is a well-regarded database toolkit and ORM implementation written in Python
- SQLAlchemy provides a generalized interface for creating and executing database-agnostic code without needing to write SQL statements.

<img src = "db1.jpg"/>

<img src = "db2.jpg"/>

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("sqlite:///archmy_core.db", echo = True) #경로 
# engine = create_engine("slqite:///:memory:", echo = True)
# engine = create_engine("sqlite:///test.db", echo = True)

In [4]:
print(engine) # 시작 지점 메인 함수

Engine(sqlite:///archmy_core.db)

In [5]:
from sqlalchemy import MetaData

In [6]:
metatdata = MetaData()

In [7]:
print(metatdata)

MetaData(bind=None)

In [8]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

metadata = MetaData()
users = Table('users', metadata,
        Column('id', Integer, primary_key = True),
        Column('name', String),
        Column('fullname', String),
        )

addresses = Table('adresses', metadata,
            Column('id', Integer, primary_key= True),
            Column('user_id', Integer, ForeignKey('users.id')),# 참조대상 
            Column('email_address', String, nullable= False)
            )

In [9]:
print(users)

users

In [10]:
print(addresses)

adresses

In [26]:
metadata.create_all(engine)# 아직 데이터베이스화 되지 않은 애들 바인딩 해줘라

2018-07-18 21:44:08,341 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-18 21:44:08,342 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:08,344 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-18 21:44:08,345 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:08,346 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-18 21:44:08,347 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:08,350 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adresses")
2018-07-18 21:44:08,350 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:08,353 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2018-07-18 21:44:08,353 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:08,362 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-18 21:44:08,363 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-07-18 21:44:08,364 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:08,375 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
for row in metadata.tables:
    print(row)

users
adresses

In [6]:
print(metadata)

MetaData(bind=None)

## insert

In [11]:
users.insert() # spl이 아니다 오브젝트

In [12]:
print(users.insert())

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [31]:
print(users.insert().values(name="kim", fullname="Anonymous, Kim")) # table에있는 어트리뷰트가 아니라 인스턴스 변수

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [15]:
insert = users.insert().values(name="kim", fullname="Anonymous, Kim")
insert.compile().params #Compile this SQL expression

# Return value is a Compiled object
# Compiled object also can return a dictionary of bind parameter names and values using the params accessor
# binding

{'fullname': 'Anonymous, Kim', 'name': 'kim'}

In [78]:
insert.bind = engine

In [81]:
print(insert.bind)

Engine(sqlite://)

In [33]:
print(insert)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [13]:
con = engine.connect()
# Provides high-level functionality for a wrapped DB-API connection
# Provides execution support for string-based SQL statements as well as ClauseElement, Compiled and DefaultGenerator objects

2018-08-09 01:04:49,166 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-08-09 01:04:49,167 INFO sqlalchemy.engine.base.Engine ()
2018-08-09 01:04:49,170 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-08-09 01:04:49,171 INFO sqlalchemy.engine.base.Engine ()

In [16]:
result = con.execute(insert)
#Executes a SQL statement construct and returns a ResultProxy

# ResultProxy
# Wraps a DB-API cursor object to provide easier access to row columns

2018-08-09 01:05:04,741 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-08-09 01:05:04,742 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous, Kim')
2018-08-09 01:05:04,745 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) no such table: users [SQL: 'INSERT INTO users (name, fullname) VALUES (?, ?)'] [parameters: ('kim', 'Anonymous, Kim')] (Background on this error at: http://sqlalche.me/e/e3q8)

In [36]:
result.inserted_primary_key # 데이터 넣은거

[1]

In [37]:
insert = users.insert() # table 객체를 받아옴

In [38]:
con.execute(insert, name = "lee", fullname= "Unknown, Lee")

2018-07-18 21:44:22,467 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-18 21:44:22,468 INFO sqlalchemy.engine.base.Engine ('lee', 'Unknown, Lee')
2018-07-18 21:44:22,471 INFO sqlalchemy.engine.base.Engine COMMIT

In [39]:
result = con.execute(insert, name = "xxx", fullname="xxx, xxx")

2018-07-18 21:44:24,044 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-18 21:44:24,046 INFO sqlalchemy.engine.base.Engine ('xxx', 'xxx, xxx')
2018-07-18 21:44:24,048 INFO sqlalchemy.engine.base.Engine COMMIT

In [40]:
result.inserted_primary_key # pk return

[3]

In [41]:
con.execute(addresses.insert(), [
    {'user_id':1, 'email_address':'anonymous.kim@test.com'},
    {'user_id':2, 'email_address':'anonymous.lee@test.com'}    
])

2018-07-18 21:44:26,069 INFO sqlalchemy.engine.base.Engine INSERT INTO adresses (user_id, email_address) VALUES (?, ?)
2018-07-18 21:44:26,071 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@test.com'), (2, 'anonymous.lee@test.com'))
2018-07-18 21:44:26,074 INFO sqlalchemy.engine.base.Engine COMMIT

## select

In [42]:
from sqlalchemy.sql import select # 하지만 그냥 select할경우 쿼리문으로해두 상관 없긴해

In [43]:
query = select([users]) # 객체를 통째로 넣기위해서 list

In [44]:
print(query)

SELECT users.id, users.name, users.fullname
FROM users

In [45]:
result = con.execute(query)

2018-07-18 21:44:29,217 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-18 21:44:29,218 INFO sqlalchemy.engine.base.Engine ()

In [46]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim')
(2, 'lee', 'Unknown, Lee')
(3, 'xxx', 'xxx, xxx')

In [47]:
row = result.fetchone() #제너레이터

In [48]:
print(row)

None

In [49]:
rows = result.fetchall()

In [50]:
for row in rows:
    print(row[0], row[1], row[2])

In [51]:
result = con.execute(select([users.c.name, users.c.fullname])) # Column 안에 인스턴스 이기 때문에 c 안

2018-07-18 21:44:33,887 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2018-07-18 21:44:33,888 INFO sqlalchemy.engine.base.Engine ()

In [52]:
for row in result:
    print(row)

('kim', 'Anonymous, Kim')
('lee', 'Unknown, Lee')
('xxx', 'xxx, xxx')

In [53]:
result = con.execute(select([users, addresses]))

2018-07-18 21:44:35,114 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, adresses.id, adresses.user_id, adresses.email_address
FROM users, adresses
2018-07-18 21:44:35,115 INFO sqlalchemy.engine.base.Engine ()

In [54]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@test.com')
(1, 'kim', 'Anonymous, Kim', 2, 2, 'anonymous.lee@test.com')
(2, 'lee', 'Unknown, Lee', 1, 1, 'anonymous.kim@test.com')
(2, 'lee', 'Unknown, Lee', 2, 2, 'anonymous.lee@test.com')
(3, 'xxx', 'xxx, xxx', 1, 1, 'anonymous.kim@test.com')
(3, 'xxx', 'xxx, xxx', 2, 2, 'anonymous.lee@test.com')

## Conjections

In [55]:
from sqlalchemy import and_, or_, not_

In [56]:
print(users.c.id == addresses.c.user_id)

users.id = adresses.user_id

In [57]:
print(or_(users.c.id == addresses.c.user_id, users.c.id == 1))

users.id = adresses.user_id OR users.id = :id_1

In [58]:
print(users.c.id == addresses.c.user_id | (users.c.id ==1 )) # 논리연산자로 가능

users.id = (adresses.user_id OR users.id = :id_1)

In [59]:
result = con.execute(select([users]).where(users.c.id ==1 ) ) # qmarker style

2018-07-18 21:44:39,409 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2018-07-18 21:44:39,410 INFO sqlalchemy.engine.base.Engine (1,)

In [60]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim')

In [61]:
result = con.execute(select([users, addresses]).where(users.c.id == addresses.c.user_id ) ) # inner join 형태로 만들기

2018-07-18 21:44:40,441 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, adresses.id, adresses.user_id, adresses.email_address
FROM users, adresses
WHERE users.id = adresses.user_id
2018-07-18 21:44:40,442 INFO sqlalchemy.engine.base.Engine ()

In [62]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@test.com')
(2, 'lee', 'Unknown, Lee', 2, 2, 'anonymous.lee@test.com')

In [63]:
result = con.execute(select([users]).where(users.c.name.like("k%")))

2018-07-18 21:44:41,571 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name LIKE ?
2018-07-18 21:44:41,572 INFO sqlalchemy.engine.base.Engine ('k%',)

In [64]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim')

In [65]:
result = con.execute(select([users]).where(users.c.name.like("%I%")))

2018-07-18 21:44:42,695 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name LIKE ?
2018-07-18 21:44:42,696 INFO sqlalchemy.engine.base.Engine ('%I%',)

In [66]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim')

In [67]:
result = con.execute(select([users, addresses]).where(users.c.id == addresses.c.user_id).where(users.c.name.like("k%")))

2018-07-18 21:44:44,558 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, adresses.id, adresses.user_id, adresses.email_address
FROM users, adresses
WHERE users.id = adresses.user_id AND users.name LIKE ?
2018-07-18 21:44:44,560 INFO sqlalchemy.engine.base.Engine ('k%',)

In [68]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@test.com')

##  join

In [69]:
from sqlalchemy import join

In [70]:
print(users.join(addresses)) # 알아서; pk와 forinkey를 명시적으로 설정을 해줬기 때문에

users JOIN adresses ON users.id = adresses.user_id

In [71]:
print(users.join(addresses, users.c.id == addresses.c.user_id))

users JOIN adresses ON users.id = adresses.user_id

In [72]:
result = con.execute(select([users]).select_from(users.join(addresses))) 
# pk와 fk를 설정해줬기 때문에 간단해 졌다
# curspor값 받기

2018-07-18 21:44:49,168 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users JOIN adresses ON users.id = adresses.user_id
2018-07-18 21:44:49,170 INFO sqlalchemy.engine.base.Engine ()

In [73]:
for row in result:
    print(row) # inner join

(1, 'kim', 'Anonymous, Kim')
(2, 'lee', 'Unknown, Lee')

In [74]:
result = con.execute(select([users.c.name, addresses.c.email_address]).select_from(users.join(addresses)))

2018-07-18 21:44:50,199 INFO sqlalchemy.engine.base.Engine SELECT users.name, adresses.email_address
FROM users JOIN adresses ON users.id = adresses.user_id
2018-07-18 21:44:50,201 INFO sqlalchemy.engine.base.Engine ()

In [75]:
for row in result:
    print(row) #reft outter join

('kim', 'anonymous.kim@test.com')
('lee', 'anonymous.lee@test.com')

## create

In [76]:
artist = Table("Artist", metadata, # rapper 안에 있어야한다.
              Column('id', Integer, primary_key = True ),
              Column('name', String, nullable=False),
              extend_existing = True) # 기존에 있으면 덮어 씌어라

album = Table('Album', metadata,
             Column('id', Integer, primary_key=True),
             Column('title' ,String, nullable=False),
             Column('artist_id', Integer, ForeignKey('Artist.id')),
             extend_existing=True)

genre = Table('Genre', metadata,
              Column('id',Integer, primary_key =True),
              Column('name', String, nullable=False),
              extend_existing=True)

track = Table("track", metadata,
              Column('id', Integer, primary_key=True),
              Column('title', String, nullable=False),
              Column('length', Integer,nullable=False),
              Column('rating', Integer, nullable=False),
              Column('count', Integer, nullable=False),
              Column('album_id', Integer, ForeignKey('Album.id')),
              Column('genre_id', Integer, ForeignKey('Genre.id')),
              extend_existing=True)

metadata.create_all(engine)

2018-07-18 21:44:51,473 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-18 21:44:51,474 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:51,476 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adresses")
2018-07-18 21:44:51,477 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:51,478 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-18 21:44:51,479 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:51,481 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-18 21:44:51,482 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:51,483 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-18 21:44:51,484 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:51,485 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-18 21:44:51,486 INFO sqlalchemy.engine.base.Engine ()

In [77]:
artist

Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None)

In [78]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'adresses': Table('adresses', MetaData(bind=None), Column('id', Integer(), table=<adresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<adresses>), Column('email_address', String(), table=<adresses>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('title', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'track': Table('track', MetaData(bind=None), Column('id', Integer(), table=<track>, primary_key=True, nullable=False), Column('title', String(), table=<track>, nullable=False), Column('length', Integer(), table=<track>, nullable=False), Column('rating', Integer(), table=<track>, nullable=False), Column('count', Integer(), table=<track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<track>), schema=None)})

In [79]:
for row in metadata.tables:
    print(row)

users
adresses
Artist
Album
Genre
track

In [80]:
users.drop(engine)

2018-07-18 21:44:55,081 INFO sqlalchemy.engine.base.Engine
DROP TABLE users
2018-07-18 21:44:55,082 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:55,092 INFO sqlalchemy.engine.base.Engine COMMIT

In [81]:
addresses.drop(engine)

2018-07-18 21:44:55,703 INFO sqlalchemy.engine.base.Engine
DROP TABLE adresses
2018-07-18 21:44:55,704 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:44:55,716 INFO sqlalchemy.engine.base.Engine COMMIT

In [82]:
type(engine)

sqlalchemy.engine.base.Engine

In [83]:
for row in metadata.tables:
    print(row) # 안죽고 살아있다

users
adresses
Artist
Album
Genre
track

In [84]:
for row in engine.table_names():
    print(row) # 지웠지만, metadata는 살아있다. 하지만 엔진에서는 지워짐

2018-07-18 21:44:58,188 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-18 21:44:58,189 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
track

In [85]:
metadata.create_all(engine)

2018-07-18 21:45:06,832 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-18 21:45:06,833 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:45:06,835 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adresses")
2018-07-18 21:45:06,836 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:45:06,838 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-18 21:45:06,839 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:45:06,840 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-18 21:45:06,842 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:45:06,843 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-18 21:45:06,844 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:45:06,845 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-18 21:45:06,845 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:45:06,847 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2018-07-18 21:45:06,848 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:45:06,856 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-18 21:45:06,857 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-07-18 21:45:06,858 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:45:06,866 INFO sqlalchemy.engine.base.Engine COMMIT

In [86]:
con.execute(users.insert().values(name="kim", fullname="Anonymous, Kim")) # table에있는 어트리뷰트가 아니라 인스턴스 변수

2018-07-18 21:45:11,910 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-18 21:45:11,911 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous, Kim')
2018-07-18 21:45:11,914 INFO sqlalchemy.engine.base.Engine COMMIT

In [87]:
result = con.execute(users.select())
for row in result:
    print(row)

2018-07-18 21:45:12,837 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-18 21:45:12,838 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'Anonymous, Kim')

In [88]:
con.execute(artist.insert(), [
    {'name':'Led Zepplin'},
    {'name':'AC/DC'}
])

con.execute(album.insert(), [
    {'title':'IV', 'artist_id':1},
    {'title':'who Made Who', 'artist_id':2}
])

con.execute(genre.insert(), [
    {'name':'Rock'},
    {'name':'Metal'}
])

2018-07-18 21:45:13,405 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2018-07-18 21:45:13,406 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2018-07-18 21:45:13,409 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-18 21:45:13,419 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2018-07-18 21:45:13,420 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('who Made Who', 2))
2018-07-18 21:45:13,422 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-18 21:45:13,430 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2018-07-18 21:45:13,430 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2018-07-18 21:45:13,433 INFO sqlalchemy.engine.base.Engine COMMIT

In [89]:
con.execute(track.insert(), [
        {'title':'Black Dog', 'rating':5, 'length':297, 'count':0, 'album_id':1, 'genre_id':1},
    {'title':'Stairway', 'rating':5, 'length':482, 'count':0, 'album_id':1, 'genre_id':1,},
    {'title':'About to rock', 'rating':5, 'length':313, 'count':0, 'album_id':2, 'genre_id':2,},
    {'title':'Who Made Who', 'rating':5, 'length':297, 'count':0, 'album_id':2, 'genre_id':2,}
])

2018-07-18 21:45:13,974 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2018-07-18 21:45:13,975 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to rock', 313, 5, 0, 2, 2), ('Who Made Who', 297, 5, 0, 2, 2))
2018-07-18 21:45:13,978 INFO sqlalchemy.engine.base.Engine COMMIT

In [90]:
result = con.execute(track.delete())

2018-07-18 21:45:14,453 INFO sqlalchemy.engine.base.Engine DELETE FROM track
2018-07-18 21:45:14,454 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 21:45:14,457 INFO sqlalchemy.engine.base.Engine COMMIT

In [91]:
result = con.execute(track.select()) #아까 select는 컬럼 테이블
for row in result:
    print(row)

2018-07-18 21:45:14,967 INFO sqlalchemy.engine.base.Engine SELECT track.id, track.title, track.length, track.rating, track.count, track.album_id, track.genre_id
FROM track
2018-07-18 21:45:14,968 INFO sqlalchemy.engine.base.Engine ()

In [92]:
result = con.execute(select([track])
                    .where(
                        and_(
                            track.c.album_id == 1,
                            or_(
                                track.c.genre_id == 1,
                                track.c.genre_id == 2
                            )
                        )
                    ))

for row in result:
    print(row)

2018-07-18 21:45:15,495 INFO sqlalchemy.engine.base.Engine SELECT track.id, track.title, track.length, track.rating, track.count, track.album_id, track.genre_id
FROM track
WHERE track.album_id = ? AND (track.genre_id = ? OR track.genre_id = ?)
2018-07-18 21:45:15,496 INFO sqlalchemy.engine.base.Engine (1, 1, 2)

## update

In [93]:
from sqlalchemy import update

In [94]:
con.execute(track.update().values(genre_id=3).where(track.c.genre_id==1))

2018-07-18 21:45:16,830 INFO sqlalchemy.engine.base.Engine UPDATE track SET genre_id=? WHERE track.genre_id = ?
2018-07-18 21:45:16,831 INFO sqlalchemy.engine.base.Engine (3, 1)
2018-07-18 21:45:16,833 INFO sqlalchemy.engine.base.Engine COMMIT

In [95]:
result = con.execute(select([track])
                    .where(
                        and_(
                            track.c.album_id == 1,
                            or_(
                                track.c.genre_id == 1,
                                track.c.genre_id == 2
                            )
                        )
                    ))

for row in result:
    print(row)

2018-07-18 21:45:28,188 INFO sqlalchemy.engine.base.Engine SELECT track.id, track.title, track.length, track.rating, track.count, track.album_id, track.genre_id
FROM track
WHERE track.album_id = ? AND (track.genre_id = ? OR track.genre_id = ?)
2018-07-18 21:45:28,189 INFO sqlalchemy.engine.base.Engine (1, 1, 2)

In [96]:
con.execute(track.update().values(genre_id=1).where(track.c.genre_id==3))

2018-07-18 21:45:29,209 INFO sqlalchemy.engine.base.Engine UPDATE track SET genre_id=? WHERE track.genre_id = ?
2018-07-18 21:45:29,211 INFO sqlalchemy.engine.base.Engine (1, 3)
2018-07-18 21:45:29,212 INFO sqlalchemy.engine.base.Engine COMMIT

In [97]:
result = con.execute(select([track])
                    .where(
                        and_(
                            track.c.album_id == 1,
                            or_(
                                track.c.genre_id == 1,
                                track.c.genre_id == 2
                            )
                        )
                    ))

for row in result:
    print(row)

2018-07-18 21:45:29,872 INFO sqlalchemy.engine.base.Engine SELECT track.id, track.title, track.length, track.rating, track.count, track.album_id, track.genre_id
FROM track
WHERE track.album_id = ? AND (track.genre_id = ? OR track.genre_id = ?)
2018-07-18 21:45:29,873 INFO sqlalchemy.engine.base.Engine (1, 1, 2)

In [98]:
print(track.join(album)) #sql문 확인

track JOIN "Album" ON "Album".id = track.album_id

In [99]:
result = con.execute(track.select().select_from(track.join(album)))

for row in result:
    print(row)

2018-07-18 21:45:30,837 INFO sqlalchemy.engine.base.Engine SELECT track.id, track.title, track.length, track.rating, track.count, track.album_id, track.genre_id
FROM track JOIN "Album" ON "Album".id = track.album_id
2018-07-18 21:45:30,839 INFO sqlalchemy.engine.base.Engine ()

In [100]:
result = con.execute(select([track.c.title, album.c.title]).select_from(track.join(album))) # 트랙의 제목 엘범에 제목# pk 와 fk를 이미 설정해주었기 때문에 조건을 걸 필요 없다.

2018-07-18 21:45:31,305 INFO sqlalchemy.engine.base.Engine SELECT track.title, "Album".title
FROM track JOIN "Album" ON "Album".id = track.album_id
2018-07-18 21:45:31,306 INFO sqlalchemy.engine.base.Engine ()

In [101]:
for row in result:
    print(row)

In [102]:
print(track.join(album))

track JOIN "Album" ON "Album".id = track.album_id

In [103]:
print(track.join(album).join(genre))

track JOIN "Album" ON "Album".id = track.album_id JOIN "Genre" ON "Genre".id = track.genre_id

In [104]:
print(track.join(album).join(genre).join(artist))

track JOIN "Album" ON "Album".id = track.album_id JOIN "Genre" ON "Genre".id = track.genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [105]:
result = con.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                    .select_from(track.join(album).join(genre).join(artist)))
for row in result:
    print(row)

2018-07-18 21:45:33,637 INFO sqlalchemy.engine.base.Engine SELECT track.title, "Album".title, "Genre".name, "Artist".name
FROM track JOIN "Album" ON "Album".id = track.album_id JOIN "Genre" ON "Genre".id = track.genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2018-07-18 21:45:33,638 INFO sqlalchemy.engine.base.Engine ()

In [106]:
result = con.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                    .select_from(track.join(album).join(genre).join(artist))
                    .where(
                        and_(
                            genre.c.id == 1,
                            artist.c.name.like('%pp%')
                        )
                    ))
for row in result:
    print(row)

2018-07-18 21:45:34,156 INFO sqlalchemy.engine.base.Engine SELECT track.title, "Album".title, "Genre".name, "Artist".name
FROM track JOIN "Album" ON "Album".id = track.album_id JOIN "Genre" ON "Genre".id = track.genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".name LIKE ?
2018-07-18 21:45:34,157 INFO sqlalchemy.engine.base.Engine (1, '%pp%')

In [107]:
result = con.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                    .select_from(track.join(album).join(genre).join(artist))
                    .where(
                        and_(
                            genre.c.id == 1,
                            artist.c.id == 1
                        )
                    ))
for row in result:
    print(row)

2018-07-18 21:45:34,603 INFO sqlalchemy.engine.base.Engine SELECT track.title, "Album".title, "Genre".name, "Artist".name
FROM track JOIN "Album" ON "Album".id = track.album_id JOIN "Genre" ON "Genre".id = track.genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".id = ?
2018-07-18 21:45:34,604 INFO sqlalchemy.engine.base.Engine (1, 1)

In [108]:
print(track.join(album).join(genre).join(artist))

track JOIN "Album" ON "Album".id = track.album_id JOIN "Genre" ON "Genre".id = track.genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [ ]:
artist = Table("Artist", metadata, # rapper 안에 있어야한다.
              Column('id', Integer, primary_key = True ),
              Column('name', String, nullable=False),
              extend_existing = True) # 기존에 있으면 덮어 씌어라

album = Table('Album', metadata,
             Column('id', Integer, primary_key=True),
             Column('title' ,String, nullable=False),
             Column('artist_id', Integer, ForeignKey('Artist.id')),
             extend_existing=True)

genre = Table('Genre', metadata,
              Column('id',Integer, primary_key =True),
              Column('name', String, nullable=False),
              extend_existing=True)

track = Table("track", metadata,
              Column('id', Integer, primary_key=True),
              Column('title', String, nullable=False),
              Column('length', Integer,nullable=False),
              Column('rating', Integer, nullable=False),
              Column('count', Integer, nullable=False),
              Column('album_id', Integer, ForeignKey('Album.id')),
              Column('genre_id', Integer, ForeignKey('Genre.id')),
              extend_existing=True)

metadata.create_all(engine)