In [1]:
# expresion만 함수의 인자만 들어갈 수 있다. (np statement)

# 1. 문 + 식

In [2]:
def moon_sun(): #함수의 이름은 스네이크 방식 #헤더: # c -> 함수의 시그니쳐 
    pass # 형태만 구별 # 파이썬은 리턴을 안써두 되지만 가능한 return 권장
    return 0

In [3]:
def moon_sun2():
    print(0)
#   return None  암시적으로 숨어 있따.

In [4]:
1 + moon_sun()

1

In [5]:
1+ moon_sun2() # 문 + 식은 에러  
                # 왜 에러전에 0? 인터 프립터이기 때문에 1, 0, +(연산) 차례차례 실행

0

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

# 2. dis

In [6]:
import dis

In [7]:
type(dis)

module

In [8]:
dir(dis) # 대문자로 시작하는건 상수처럼 사용 (파이썬에는 상수 개념이 없다.)

['Bytecode',
 'COMPILER_FLAG_NAMES',
 'EXTENDED_ARG',
 'FORMAT_VALUE',
 'HAVE_ARGUMENT',
 'Instruction',
 '_Instruction',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_disassemble_bytes',
 '_disassemble_str',
 '_format_code_info',
 '_get_code_object',
 '_get_const_info',
 '_get_instructions_bytes',
 '_get_name_info',
 '_have_code',
 '_test',
 '_try_compile',
 '_unpack_opargs',
 'cmp_op',
 'code_info',
 'collections',
 'dis',
 'disassemble',
 'disco',
 'distb',
 'findlabels',
 'findlinestarts',
 'get_instructions',
 'hascompare',
 'hasconst',
 'hasfree',
 'hasjabs',
 'hasjrel',
 'haslocal',
 'hasname',
 'hasnargs',
 'io',
 'opmap',
 'opname',
 'pretty_flags',
 'show_code',
 'stack_effect',
 'sys',
 'types']

In [9]:
dis.dis(moon_sun)  # 어셈블리 형태로 어떻게 돌아가는지 interpreter java; replater

  3           0 LOAD_CONST               1 (0)
              2 RETURN_VALUE

# 3. parameter, argumet
- position, keyword

In [10]:
# def moon_sun(x): # x -> parameter 
# def moon_sun(3) # x = 3 parameter에 대치된 3 은 argument 

def moon_sun(x,y): # x,y -> tuple 
    return x,y

# positioner 
moon_sun(1,3) # 순서대로 출력

(1, 3)

In [11]:
# keyword method 
moon_sun(y=1, x=3) # 순서 안맞추고 기입

(3, 1)

In [12]:
# java varist 
# python *
z, *b, c = 1,2,3,4,5,6,7,8 # 고정되어 있는거 나머지 
b # b는 list

[2, 3, 4, 5, 6, 7]

In [13]:
def moon_sun(x,y, *z):
    return x,y,z

In [14]:
moon_sun(1,2,3,4,5,6,7,"11",b)

(1, 2, (3, 4, 5, 6, 7, '11', [2, 3, 4, 5, 6, 7]))

In [15]:
def moon_sun(x,*y, z): # python의 함수 파라미터에 *는 무조건 뒤에 
                       # 단, keyword는 가능 
    return x,y,z

In [16]:
moon_sun(1,2,3,4,5,6,7,"11",b)

TypeError: moon_sun() missing 1 required keyword-only argument: 'z'

In [17]:
moon_sun(1,2,3,4,5,6,7,"11",z=b) # 어디가 끝인지 모르기 때문에 keyword로 사용하게 되면 가능 하다.

(1, (2, 3, 4, 5, 6, 7, '11'), [2, 3, 4, 5, 6, 7])

In [18]:
# 무조건 키워드 방식
# *뒤에 이름을 붙이면 nope!!
def moon_sun(*,x,y):
    return x,y

In [19]:
moon_sun(12,23)

TypeError: moon_sun() takes 0 positional arguments but 2 were given

In [20]:
moon_sun(x= 12,y= 23)

(12, 23)

In [21]:
def moon_sun(x,y):
    return x,y

In [22]:
moon_sun(y=2) # 개수가 안맞으면 에러가 난다.

TypeError: moon_sun() missing 1 required positional argument: 'x'

# 4. default value

In [23]:
# 함수의 인자의 기본값 
# SyntaxError< - 컴파일 에러
# exception <- runtime error

def moon_sun(x=3,y): # 파이선의 인자는 무조건 앞에는 default value, nope!!!!
    return x,y

SyntaxError: non-default argument follows default argument (<ipython-input-23-42e9a22c642b>, line 5)

In [24]:
def moon_sun(x,y=3,z): # 파이선의 인자는 무조건 앞에는 default value nope!!!! 
                        # 두번 째부터 default후 3번재 인자가 있을 때 무조건 default 기입
    return x,y

SyntaxError: non-default argument follows default argument (<ipython-input-24-7cdddd09fb44>, line 1)

In [25]:
def moon_sun(x,y=3):
    return x,y

In [26]:
import pandas as pd

In [27]:
pd.read_csv #스네이크 방식 # parameter의 deault가  많다

In [28]:
def moon_sun(x,y=3,z=1): # 파이선의 인자는 무조건 앞에는 default value nope!!!!
    return x,y,z

In [29]:
moon_sun(1)

(1, 3, 1)

In [30]:
moon_sun(1,7)

(1, 7, 1)

In [31]:
moon_sun(1,z =7) # 내가 필요한 키워드만

(1, 3, 7)

# 5. 파라미터; or 사용, nope!!

In [32]:
def moon_sun(x or 3): # SyntaxError
    return x

SyntaxError: invalid syntax (<ipython-input-32-42950aeaedea>, line 1)

In [33]:
def moon_sun(x): # 파라미터에는 or, nope!!!
    return x

In [34]:
moon_sun(7 or 23) # argument는 가능

7

In [35]:
a = input('')
moon_sun(a or 23) # or은 argument !!!!
# 공백은 false 
# 23은 true 
# so 23 out

23

'23'

# 6. _ 사용; 불필요한 값 명칭

In [36]:
1,_ ,_ =2,3,2

SyntaxError: can't assign to literal (<ipython-input-36-c7a4cd119fb4>, line 1)

In [37]:
1,_ ,_ = (2,3,2) # can't assign to literal

SyntaxError: can't assign to literal (<ipython-input-37-fe91dd5ba1ed>, line 1)

In [38]:
x,_ ,_ = (2,3,2)

In [39]:
_ # 파이썬은 왼쪽에서 오른쪽  3 -> 2 로 계산 덮어쓰기 !!!! 
  # 관례상 _는  불필요한 값을 명칭한다.

2

# 7. unpacking; *

In [16]:
def moon_sun(x,*z):
    return x,z

In [41]:
moon_sun(1,23,2,3,2)

(1, (23, 2, 3, 2))

In [42]:
moon_sun(1,*(23,2,3,2)) # *를 묶으면 어떠한 자료형이든지 들어갈 수 있다. 
                        #단, dict nope!!!!!

(1, (23, 2, 3, 2))

In [43]:
# 컨테이너지만 시퀀스가 아닌것 
# set frozenset dictionary

# 시퀀스 컨테이너가 아닌것
# string 3개(str, bytes, btyearaay), range -> flat (숫자만) numeric

In [44]:
moon_sun(1,*[23,2,3,2])

(1, (23, 2, 3, 2))

In [20]:
moon_sun(1,*{'a':23,'b':2})

(1, ('a', 'b'))

In [25]:
moon_sun(1,*{23, 2, 5, 2})

(1, (2, 5, 23))

In [23]:
moon_sun(1,*frozenset({23,2,3,2}))

(1, (2, 3, 23))

In [47]:
moon_sun(1,*"aaaaaa")

(1, ('a', 'a', 'a', 'a', 'a', 'a'))

In [48]:
list("aaaa")# *parmeter는 가변인자

['a', 'a', 'a', 'a']

In [49]:
list(1,2,3,4) #함수의 인자로 받아들이기 때문에 !!!

TypeError: list() takes at most 1 argument (4 given)

In [50]:
list({1,2,3,4})#iterable인것만 들어감

[1, 2, 3, 4]

In [1]:
def moon_sun(x,**y):
    return x,y

In [2]:
moon_sun(1,x=2,y=3) #x의 값이 두개로 들어가는 상황 1, 2

TypeError: moon_sun() got multiple values for argument 'x'

In [53]:
moon_sun(1,a=2,y=3)

(1, {'a': 2, 'y': 3})

# 8. unpacking; **

In [1]:
# **의 두개는 dict로 들어감

In [55]:
def moon_sun(x,**y):
    if 'a' in  y: # 멤버십 연산자 in 다음에 dict는 key 비교 
        print('aaaa')
    return x,y

In [56]:
moon_sun(1,a=2,y=3)

aaaa

(1, {'a': 2, 'y': 3})

In [57]:
def moon_sun(x,**y,*z): # 무조건 *, ** 순서대로 
    return x,y,z

SyntaxError: invalid syntax (<ipython-input-57-9bb2e22b68a8>, line 1)

In [1]:
def moon_sun(x,*y,**z):
    return x,y,z

In [59]:
moon_sun(1, a=2, b=3,1)

SyntaxError: positional argument follows keyword argument (<ipython-input-59-04d2f5aaf306>, line 1)

In [60]:
moon_sun(12,23,4, a=2, b=3)

(12, (23, 4), {'a': 2, 'b': 3})

In [3]:
moon_sun(12,23,{'a':2, 'b':3})

(12, (23, {'a': 2, 'b': 3}), {})

In [2]:
moon_sun(12,23,**{'a':2, 'b':3})

(12, (23,), {'a': 2, 'b': 3})

In [62]:
moon_sun(12,23,7,z={1:2, 2:3})

(12, (23, 7), {'z': {1: 2, 2: 3}})

In [63]:
moon_sun(12,y=[23,4],z= {1:2, 2:3})

(12, (), {'y': [23, 4], 'z': {1: 2, 2: 3}})

In [64]:
list()

[]

In [65]:
x = {1:'a', 2:'b'} #dit안에 dic를 들어갈 수 없다 imutable한 얘만 
y = {2:'c', 3:'d'}

In [66]:
z={**x} # **로 풀어 해친다

In [67]:
z

{1: 'a', 2: 'b'}

In [68]:
z = {**x, **y} # 파이썬은 왼쪽에서 오른쪽으로 계산하기 때문에 2 -> c

In [69]:
z

{1: 'a', 2: 'c', 3: 'd'}

In [70]:
moon_sun(1,[2,3,4,],**{1:'e'}) # **풀어 해쳐 들어가지만 왜 에러??

TypeError: moon_sun() keywords must be strings

In [28]:
moon_sun(1,2,5,**{1:'3'})

TypeError: moon_sun() keywords must be strings

In [29]:
moon_sun(1,2,5,**{'1':'3'})

(1, (2, 5), {'1': '3'})

In [7]:
a={1:'3'}

In [40]:
moon_sun(1,3,5,a=a)

(1, (3, 5), {'a': {1: '3'}})

In [41]:
moon_sun(1,3,5,z=a)

(1, (3, 5), {'z': {1: '3'}})

In [42]:
moon_sun(1,3,5,a)

(1, (3, 5, {1: '3'}), {})

In [8]:
moon_sun(1,3,5,z=**a)

SyntaxError: invalid syntax (<ipython-input-8-5f71537a5f80>, line 1)

In [9]:
moon_sun(1,3,4,a)

(1, (3, 4, {1: '3'}), {})

# Exercise

In [73]:
# 한개만 입력 받았을 때 시퀀스면 시퀀스 
# 시퀀스가 아니면 시퀀스가 아니라고 출력

In [74]:
# hasattr
# issubclass

In [75]:
def type_check(x):
    #if type(x) in [list,tuple,range]:
    if isinstance (x, (list, tuple,range)): #인자에서 리스트 놉
        print('xxxxx')

In [76]:
type_check([1,2,3])

xxxxx

In [77]:
def moon_sun(x,y):
    return x,y

In [78]:
moon_sun(1) # TypeError

TypeError: moon_sun() missing 1 required positional argument: 'y'

In [79]:
moon_sun(1,3)

(1, 3)

In [80]:
moon_sun(1,x =3) # multiple values for argument 'x' x의 중복

TypeError: moon_sun() got multiple values for argument 'x'

# 8-1 * **   ,  * ***

In [1]:
def moon_sun(x,**y):
    return x,y

In [82]:
moon_sun(0,a=3,y=3)

(0, {'a': 3, 'y': 3})

In [10]:
moon_sun('1',**{'1':1, '1':2, '3':4}) # ** unpacking 풀어주는거 함수 인자의 앞에 수와 dict 키워드 중복일 경우 에러

('1', {'1': 2, '3': 4})

In [85]:
a = {1:'3', 2:'3'}

In [87]:
# *는 묶은 상태에서  함수에 인자에 들어갈 때 풀어서 들어가야한다. 
# dict key가 숫자이면 안됨
# 함수의 헤더는 문자열만 가능

In [86]:
moon_sun(1,**{1:2, '3':4}) # 함수에 들어갈 dict는 숫자가 안됨

TypeError: moon_sun() keywords must be strings

In [13]:
def moon_sun(x,*y):
    return x,y

In [14]:
moon_sun(1,2,3,4,5)

(1, (2, 3, 4, 5))

In [19]:
moon_sun(1,*[2,3,4,5],1)

(1, (2, 3, 4, 5, 1))

In [20]:
def moon_sun(1,*y):
    return x,y

SyntaxError: invalid syntax (<ipython-input-20-f9e9d59bab5b>, line 1)

# 9. 함수형 기법

In [92]:
# 파이썬은 펄스트 클래스 시티즌 

# 할당가능 a = 1 
# 함수에 인자로 들어갈 수 있따.
# 함수의 리턴값으로 가능

# 자료 형태에 자료 (list)
# 함수를 말할 때 -> 펄스트 클래스 펀션  -> high -order func.

# java 는 second class 
# high-order fucntion 함수를 리턴하거나 함수를 인자로 받을 수 있는 것 (2가지 펀션 )
# 그래서, 함수형 기법을 지원

In [104]:
# 파이썬은 함수 위주로 
# .dfdf (합성함수) <- 함수형 프로그래밍 
# 흐름이 간결

In [17]:
a = {'a':1,'b':2,'c':3} #like id card #검색할 속도가 빠른다 # 반복이 느리다

In [10]:
b = {1:1 , 2:2 , 3:3}

In [94]:
for i in a:  # in 때문에 key value out a.keys는 쓸 필요가 없다.
    print(i)

a
b
c

In [95]:
dir(a)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [96]:
a.values()

dict_values([1, 2, 3])

In [97]:
for i in a.values():
    print(i)

1
2
3

In [98]:
a.items() # unpacking이 가능하다

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [11]:
for i in b.items():
    print(i)

(1, 1)
(2, 2)
(3, 3)

In [100]:
for i,j in a.items(): #unpacking j라는 값을 더 쓰기 때문에 메모리에는 손해다 ..... 
    print(i,j)

a 1
b 2
c 3

In [18]:
for i in a:
    print(a[i])

1
2
3

In [14]:
for i in b:
    print(type(b[i]))

<class 'int'>
<class 'int'>
<class 'int'>

# 10. scope

In [102]:
# dict -> syquence nope!!!
# tuple -> syquence 
# key value -> named tuple

In [103]:
from collections import OrderedDict # syquence type 지원

In [105]:
a_list = []
for i in range(1,11): 
    a_list.append(i)
a_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [106]:
i # local scope가 glbal scope로 전환

10

# 10 -1 컴프리헨션

In [107]:
[j for j in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
j

3

In [109]:
[j for j in range(1,11) if j%2 ==0 ]

[2, 4, 6, 8, 10]

In [17]:
# list, set, tuple, 중첩도 가능하다
# 컴프리헨션
x

0

In [21]:
[a for a in x for x in range(1,11)]

NameError: name 'x' is not defined

In [112]:
[range(1,11)]

[range(1, 11)]

In [113]:
list(range(1,11)) # iterable #함성함수 ; like a 함수형 프로그래밍

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
'문근영'.replace('영','영은 예쁘다').replace

# 11. 함수형 프로그래밍

In [115]:
# map 
# filter
# reduce

In [116]:
sum(list(range(1,11)))

55

In [117]:
# lambada expresion
map(lambda x:x+2, range(1,11)) # high order func.
# map은 제너레이터 객체

In [118]:
list(map(lambda x:x+2, range(1,11)))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [119]:
sum(list(map(lambda x:x+2, range(1,11))))

75

In [120]:
#map은 어떠한 함수 형태로 맵핑 
# iterabe; str, bytes, bytearray, tuple, list, set
# 연산자 stirng + 1 안됨 
# 튜풀

In [121]:
sum(list(map(lambda x:x+2, "ㄴㄴㄴ"))

SyntaxError: unexpected EOF while parsing (<ipython-input-121-d58c19ab1d7c>, line 1)

In [19]:
sum(list(map(lambda x:x+2, 1,2,3)))

TypeError: 'int' object is not iterable

In [21]:
sum(list(map(lambda x:x+2, (1,2,3))))

12

In [22]:
(1,2,3) +"2" # 식 + 수

TypeError: can only concatenate tuple (not "str") to tuple

In [3]:
a =(1,2,3)+ (1,) # 자체값안에 있는값은 안바뀌지만 새로운 iterable이 나온다

In [5]:
a

(1, 2, 3, 1)

In [125]:
a = a+[2]

TypeError: can only concatenate tuple (not "list") to tuple

In [126]:
sum(list(map(lambda x:x+2,{1,2,3})))

12

In [127]:
set(list(map(lambda x:x+2,{1,2,3})))

{3, 4, 5}

In [128]:
def add_two(x):
    return x +2

In [129]:
map(add_two, {1,2,3}) #이름만 기입 함수형 페러다임

In [130]:
filter(add_two, {1,23} ) # 대부분 itea 함수형 지원이 아주 많다

In [131]:
filter(lambda x:x>3, {1,2,3,4,5,6,})

In [132]:
list(filter(lambda x:x>3, {1,2,3,4,5,6,})) # 조건을 만들어서 filter

[4, 5, 6]

# 12. all, any

In [133]:
# all

In [27]:
all(["",[],(),{}]) # 안에 구성요소가 전부 다 참인지 판별
                   # 공백도 문자이기때문에 거짓

False

In [135]:
all("")

True

In [136]:
all([""])

False

In [137]:
all([1,2,3])

True

In [23]:
#any

In [138]:
any(["",[],(),{}])

False

In [4]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

# 13. sorted

In [139]:
sorted([1,4,2,])

[1, 2, 4]

In [140]:
sorted(['A','a'], key = str.lower)

['A', 'a']

# Summary

In [141]:
# 모두다 함수형 기법은 아니다. 
# 함수이름, lambda 
# map 
# filter
# reduce  기본
# all any는 기본적으로 만들어진것
# 기본 3가지는 내가 만든 함수를 쉽게 적용할수 있다.

# 함수형은 loop를 없애는것
# sum도 loop 없앰 
# all도 same
# iterable이 들어간건 함수형언어가 거의 대부분

# 함수형 기법이 만능은 아니다.
# 알면 확실히 편해 
# for i in {dict}
# for에서 index 처럼 사용하고 싶다.

# enumerate
# map filter compehension < rerere >  <-   <> 가 나오는건 제너레이터 의심
# in 다음은 iterable이 들어간다 .

In [33]:
a =enumerate([1,2,3])

In [34]:
a

In [35]:
print(a)

<enumerate object at 0x0000020AFA19E948>

In [30]:
b = (x for x in range(10))

In [31]:
b

In [32]:
print(b)

<generator object <genexpr> at 0x0000020AFA146DB0>

In [146]:
def a():
    return [1,2,3,4,5]

In [147]:
xx =a()

In [148]:
dir(xx)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [149]:
type(xx)

list

In [150]:
for a in a():
    print(a)

1
2
3
4
5

In [151]:
dir(a) # __it <- iterable

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [152]:
dir(map)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [153]:
for i in b:  #iter
    print(i)

0
1
2
3
4
5
6
7
8
9

In [154]:
# lazy  -> generate 한방에 메모리에 올라가면 메모리는 처리속도가 빠르기 때문에 
            # 메모리에 데이터 한방에 못 올라간다.
            # 레이즈 기법은 하나씩 하나씩 올리기 때문에 느리지만 여유가 있다.
            # for 하나하나 돌 때 마다 생성한다.
    
# 이거 기법

In [155]:
for i,j in a:  #iter
    print(i)

TypeError: 'int' object is not iterable

In [156]:
for i,j in enumerate(range(3,11)):
    print(i,j) #파이썬 인덱스는 0부터

0 3
1 4
2 5
3 6
4 7
5 8
6 9
7 10

In [157]:
for i,j in enumerate(range(3,11),10):
    print(i,j) #인덱스는 10부터 <- 함수형 기법

10 3
11 4
12 5
13 6
14 7
15 8
16 9
17 10

In [158]:
for i in map(lambda x:x+1, range(10)):
    print(i) #인덱스는 10부터 <- 함수형 기법

1
2
3
4
5
6
7
8
9
10

In [159]:
a = 3 
b = 4 if a>1 else 0

In [160]:
c = [x for x in range(10) if x>5]

In [161]:
c

[6, 7, 8, 9]

In [162]:
c = [x for x in range(10)]

In [24]:
d = [x for x in range(10) if x>5 else ""]  #if 뒤에

SyntaxError: invalid syntax (<ipython-input-24-a727b9e86c84>, line 1)

In [27]:
d = [x for x in range(10) if x>5 ]  #if 뒤에

In [28]:
d

[6, 7, 8, 9]

In [25]:
c = [x if x>5 else "" for x in range(10)] # if 앞에
# 함수형 기법은 for 없는거 간결하게 표현

In [26]:
c

['', '', '', '', '', '', 6, 7, 8, 9]

In [167]:
a = list(range(1,10))
b = list(range(1,10))
for i in a:
    for j in b:
        print(i,j,i*j)

1 1 1
1 2 2
1 3 3
1 4 4
1 5 5
1 6 6
1 7 7
1 8 8
1 9 9
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [168]:
d = [(x,a) for a in range(10) for x in range(10,20)] # 뒤에서 부터 돈다 돌아 ~~ 돌아 돌아 ~~~~ 흐아

In [169]:
d

[(10, 0),
 (11, 0),
 (12, 0),
 (13, 0),
 (14, 0),
 (15, 0),
 (16, 0),
 (17, 0),
 (18, 0),
 (19, 0),
 (10, 1),
 (11, 1),
 (12, 1),
 (13, 1),
 (14, 1),
 (15, 1),
 (16, 1),
 (17, 1),
 (18, 1),
 (19, 1),
 (10, 2),
 (11, 2),
 (12, 2),
 (13, 2),
 (14, 2),
 (15, 2),
 (16, 2),
 (17, 2),
 (18, 2),
 (19, 2),
 (10, 3),
 (11, 3),
 (12, 3),
 (13, 3),
 (14, 3),
 (15, 3),
 (16, 3),
 (17, 3),
 (18, 3),
 (19, 3),
 (10, 4),
 (11, 4),
 (12, 4),
 (13, 4),
 (14, 4),
 (15, 4),
 (16, 4),
 (17, 4),
 (18, 4),
 (19, 4),
 (10, 5),
 (11, 5),
 (12, 5),
 (13, 5),
 (14, 5),
 (15, 5),
 (16, 5),
 (17, 5),
 (18, 5),
 (19, 5),
 (10, 6),
 (11, 6),
 (12, 6),
 (13, 6),
 (14, 6),
 (15, 6),
 (16, 6),
 (17, 6),
 (18, 6),
 (19, 6),
 (10, 7),
 (11, 7),
 (12, 7),
 (13, 7),
 (14, 7),
 (15, 7),
 (16, 7),
 (17, 7),
 (18, 7),
 (19, 7),
 (10, 8),
 (11, 8),
 (12, 8),
 (13, 8),
 (14, 8),
 (15, 8),
 (16, 8),
 (17, 8),
 (18, 8),
 (19, 8),
 (10, 9),
 (11, 9),
 (12, 9),
 (13, 9),
 (14, 9),
 (15, 9),
 (16, 9),
 (17, 9),
 (18, 9),
 (19, 9)]

In [170]:
[(a, x,a*x) for a in range(10) for x in range(1,10)] # 뒤에서 부터 돈다 돌아 ~~ 돌아 돌아 ~~~~ 흐아

[(0, 1, 0),
 (0, 2, 0),
 (0, 3, 0),
 (0, 4, 0),
 (0, 5, 0),
 (0, 6, 0),
 (0, 7, 0),
 (0, 8, 0),
 (0, 9, 0),
 (1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (1, 6, 6),
 (1, 7, 7),
 (1, 8, 8),
 (1, 9, 9),
 (2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16),
 (4, 5, 20),
 (4, 6, 24),
 (4, 7, 28),
 (4, 8, 32),
 (4, 9, 36),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (8, 1, 8),
 (8, 2, 16),
 (8, 3, 24),
 (8, 4, 32),
 (8, 5, 40),
 (8, 6, 48),
 (8, 7, 56),
 (8, 8, 64),
 (8, 9, 72),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [171]:
[(a, x,a*x) for a in range(10) for x in range(1,10) if a%2 != 0]

[(1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (1, 6, 6),
 (1, 7, 7),
 (1, 8, 8),
 (1, 9, 9),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [172]:
[(a, x,a*x) for a in range(1,10,2) for x in range(1,10)]

[(1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (1, 6, 6),
 (1, 7, 7),
 (1, 8, 8),
 (1, 9, 9),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [173]:
def ax(a,x):
    return a*x

In [174]:
[ax(a, x) for a in range(2,10,2) for x in range(1,10)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72]

In [175]:
[(a, x,a*x) for a in range(10) if a%2 != 0 for x in range(1,10) ]

[(1, 1, 1),
 (1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (1, 6, 6),
 (1, 7, 7),
 (1, 8, 8),
 (1, 9, 9),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [176]:
[[a, x] for a in range(1,10,2) for x in range(1,10) ] # list안에 list 무한한 확장 가능 너무 너무 강력해서 미칠거 같아

[[1, 1],
 [1, 2],
 [1, 3],
 [1, 4],
 [1, 5],
 [1, 6],
 [1, 7],
 [1, 8],
 [1, 9],
 [3, 1],
 [3, 2],
 [3, 3],
 [3, 4],
 [3, 5],
 [3, 6],
 [3, 7],
 [3, 8],
 [3, 9],
 [5, 1],
 [5, 2],
 [5, 3],
 [5, 4],
 [5, 5],
 [5, 6],
 [5, 7],
 [5, 8],
 [5, 9],
 [7, 1],
 [7, 2],
 [7, 3],
 [7, 4],
 [7, 5],
 [7, 6],
 [7, 7],
 [7, 8],
 [7, 9],
 [9, 1],
 [9, 2],
 [9, 3],
 [9, 4],
 [9, 5],
 [9, 6],
 [9, 7],
 [9, 8],
 [9, 9]]

In [177]:
# loop를 완전히 단축시킬 수 없기 때문에 전자에서 보여준 []

# 14. mutable

In [178]:
# mutable을 쓰지 않는다 
# mutable의 문제

In [6]:
def mutable(x, y=[]): #함수에서 디폴트값 파라미터의 디폴트값은 절대로 뮤터블로 쓰지 말아야한다 .
        y.append(x)
        print(y)
        return y

In [18]:
y = []
print("y : ",id(y))
print("[] : ",id([]))

y :  1647383917896
[] :  1647383999688

In [19]:
[].append(1)
y.append(1)
print("[].append(1) :",[])
print("y.append(1) :",y)
print("y : ",id(y))
print("[] : ",id([]))

[].append(1) : []
y.append(1) : [1]
y :  1647383917896
[] :  1647382846024

In [20]:
y = [1,2,3]
print("y = [1,2,3] : ",id(y))

y = [1,2,3] :  1647384001864

In [21]:
y= []
print("y :",y)
print("y = [] : ",id(y))

y : []
y = [] :  1647383919944

In [7]:
c = mutable(1,)

[1]

In [10]:
c # 반복 해봐

[1]

In [9]:
[].append(1)

In [11]:
mutable(2) # mutable은 자기 자신이 변할 수 있음 그래서  뮤터블은 default값으로 사용하지마!!!!
           # 함수형은 상태체그를 안하기 때문에 
           # 왜 이렇게 돼냐?
           # 내부적으로

[1, 2]

[1, 2]

In [191]:
import time # 시간과 날찌에 관한 타입

In [192]:
time.time()

1531063779.5893328

In [193]:
def time_at(time = time.time()):
    return time

In [194]:
time_at()

1531063783.7752461

In [195]:
time_at()

1531063783.7752461

In [196]:
time_at()

1531063783.7752461

In [197]:
time.sleep(5)

In [198]:
time_at()

1531063783.7752461

In [199]:
# paramter에 값은 처음 생성된값으로 계속 유지 (고정)
# mutable 실행 할 때 마다 계속 추가됨 
# default는 변할 수있느 얘 -> mu이면 생각지 못한 버그가 발생 
# 함수형 기법에서 muta안쓰는 이유 
# 아예 애시당초 안쓴다고 하드라~~
# 페럴라이징 
# 새로운 기능들은 대부분 함수형 기법으로 나온다 
# 2~30년이나 됨 
# 데이터 처리 코드가 추상화로 인한 사례땜에

In [200]:
def moon(self= None): # 명백하게 입력값 출력값 구분 디버깅 할 때도 좋아 
    return self

In [201]:
moon()

In [202]:
moon(1)

1

In [203]:
# 함수 본체 바디에 인자를 넣는 경우 
# c에서 많이 하는거야
# scope 
# 자기가 생존하는 범위 
# scop의 기본적인 법칙 .LEGB(local Enclosed global Builtin)

In [204]:
x = 1 
def a():
    x =2  # def 안에 x가 먼저 
    print('------',x)
    return x
print(a())
print(x) # 함수 밖에 있는걸 가져와

------ 2
2
1

In [205]:
x = 1 
y = 3 
def a():
    x =2  # def 안에 x가 먼저 
    print('------',x)
    print('------',y) #def 안에 없을 때는 밖에있는걸 가져온다. 
    return x
print(a())
print(x) # 함수 밖에 있는걸 가져와 
#파이썬의 좋은점이자 룰을 깨는것

------ 2
------ 3
2
1

In [206]:
x = 1 
y = 3 
def a():
    global x # 전체 값을 바꾼다 함수 안에서 함수 밖에있는걸 바꿔줘~~~ 
    x += 3
    print('------',x)
    print('------',y) #def 안에 없을 때는 밖에있는걸 가져온다. 
    return x
print(a())
print(x)

------ 4
------ 3
4
4

In [207]:
x = 1 
y = 3 
def a():
    
    x += 3 # global 선언을 안했기때문에 함수 밖에있는 glbal name space를 사용하지 못한다.
    print('------',x)
    print('------',y) #def 안에 없을 때는 밖에있는걸 가져온다. 
    return x
print(a())
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [208]:
# mutable도 못쓰고 glbal이런거 안쓰는게 권장

In [209]:
# glbol에 있은 반댓말

In [210]:
import keyword

In [211]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [212]:
# 파이썬은 함수 안에 함수를 만들 수 있어 
#  nonlocal

In [213]:
x = 1 
y = 3 
def a():
    x = 3
    def b(x):
        return x
    return b
print(a()(3)) # like javascript 
print(x)

3
1

In [214]:
x = 1 
y = 3 
def a():
    x = 2
    def b():
        return x # 제일 가까운 def x= 2
    return b
print(a()()) # like javascript 
print(x)

2
1

In [215]:
x = 1 
y = 3 
def a():
#     x = 2
    def b():
        global x
        return x # 제일 가까운 def x= 2
    return b
print(a()()) # like javascript

1

In [218]:
x = 1 
y = 3 
def a():
#     x = 2
    def b():
#         global x
        return x # 제일 가까운 def x= 2
    x = 2
    return b
print(a()()) # like javascript

2

In [29]:
x = 1 
y = 3 
def a():
#     x = 2
    def b():
        nonlocal x
        return x # 제일 가까운 def x= 2
    x = 2
    return b
print(a()()) # like javascript

2

In [30]:
x = 1 
y = 3 
def a():
#     x = 2
    def b():
        nonlocal x # 글로벌도 아닌 로컬도 아닌  
        return x # 제일 가까운 def x= 2
    global x
    return b
print(a()()) # like javascript

SyntaxError: no binding for nonlocal 'x' found (<ipython-input-30-f12ae792ce7b>, line 6)

In [415]:
# 파이썬 특징 함수안에 함수선언
# 함수안에 또다른 함수 실행 가능
# 글로벌은 완전 함수 밖에
# nonlocal 안에 중첩되었을 때 안것과 밖에 사이의 값

In [222]:
a , b =3 , 4

In [223]:
a, b =b, a

In [224]:
b

3

In [225]:
#global 밖에선언한 값을 가져오겠다 
# 그냥 값을 안바꿔도 global 선언가능

In [226]:
xxx = xxx +1 # 선언과 할당이 동시에 안되면 에러 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# 초기화된 선언과 할당이 안되면 ~~~

NameError: name 'xxx' is not defined