In [1]:
import pandas as pd
df = pd.read_csv('./data/data-zillow.csv', sep=',', engine='python')

In [2]:
df.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

In [3]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10830 entries, 0 to 10829
Data columns (total 8 columns):
Date          10830 non-null object
RegionID      10830 non-null int64
RegionName    10830 non-null object
State         10830 non-null object
Metro         10256 non-null object
County        10830 non-null object
SizeRank      10830 non-null int64
Zhvi          10830 non-null int64
dtypes: int64(3), object(5)
memory usage: 677.0+ KB

In [5]:
df.describe()

            RegionID      SizeRank          Zhvi
count   10830.000000  10830.000000  1.083000e+04
mean    84344.818837   5414.500000  2.503076e+05
std    125679.686534   3126.496042  2.565582e+05
min      3301.000000      0.000000  3.740000e+04
25%     19346.250000   2707.250000  1.269000e+05
50%     35444.500000   5414.500000  1.818000e+05
75%     52608.250000   8121.750000  2.823500e+05
max    737791.000000  10829.000000  6.343800e+06

In [6]:
df["RegionName"]

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [7]:
df.RegionName

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [8]:
df.loc[:,'RegionName']

0                 New York
1              Los Angeles
2                  Chicago
3             Philadelphia
4                  Phoenix
5                Las Vegas
6                San Diego
7                   Dallas
8                 San Jose
9             Jacksonville
10           San Francisco
11                  Austin
12                 Detroit
13                Columbus
14                 Memphis
15               Charlotte
16                 El Paso
17                  Boston
18                 Seattle
19               Baltimore
20                  Denver
21              Washington
22               Nashville
23               Milwaukee
24                  Tucson
25                Portland
26           Oklahoma City
27                   Omaha
28             Albuquerque
29                  Fresno
               ...
10800         Mount Sidney
10801          Cedar Grove
10802                Clark
10803            Daleville
10804          Piney Point
10805                 Almo
10806           Bois D Arc
10807              Tyaskin
10808            Inverness
10809               Otwell
10810          Lake Hughes
10811          Marble Hill
10812                 Mead
10813             Hesperus
10814              Midland
10815               Lavaca
10816         Mays Landing
10817        Stinson Beach
10818     Upper Brookville
10819              Decatur
10820           Horse Shoe
10821               Laotto
10822            Goldsboro
10823            Phoenicia
10824                Jones
10825              Nehalem
10826    Clear Lake Shores
10827      Lebanon Borough
10828              Henrico
10829       East Hampstead
Name: RegionName, Length: 10830, dtype: object

In [8]:
df.iloc[:,2].head()

0        New York
1     Los Angeles
2         Chicago
3    Philadelphia
4         Phoenix
Name: RegionName, dtype: object

In [9]:
df.describe()

            RegionID      SizeRank          Zhvi
count   10830.000000  10830.000000  1.083000e+04
mean    84344.818837   5414.500000  2.503076e+05
std    125679.686534   3126.496042  2.565582e+05
min      3301.000000      0.000000  3.740000e+04
25%     19346.250000   2707.250000  1.269000e+05
50%     35444.500000   5414.500000  1.818000e+05
75%     52608.250000   8121.750000  2.823500e+05
max    737791.000000  10829.000000  6.343800e+06

In [10]:
df.count()

Date          10830
RegionID      10830
RegionName    10830
State         10830
Metro         10256
County        10830
SizeRank      10830
Zhvi          10830
dtype: int64

In [11]:
df.min()

Date          2017-05-31
RegionID            3301
RegionName     Abbeville
State                 AK
County            Acadia
SizeRank               0
Zhvi               37400
dtype: object

In [12]:
df.skew()

RegionID    1.973159
SizeRank    0.000000
Zhvi        6.714811
dtype: float64

In [13]:
df.kurt()

RegionID     2.291461
SizeRank    -1.200000
Zhvi        82.042387
dtype: float64

In [14]:
df.cov()

              RegionID      SizeRank          Zhvi
RegionID  1.579538e+10  2.044245e+07 -1.037760e+09
SizeRank  2.044245e+07  9.774978e+06 -9.274275e+07
Zhvi     -1.037760e+09 -9.274275e+07  6.582212e+10

In [22]:
df.iloc[:, 1:4]

       RegionID         RegionName State
0          6181           New York    NY
1         12447        Los Angeles    CA
2         17426            Chicago    IL
3         13271       Philadelphia    PA
4         40326            Phoenix    AZ
5         18959          Las Vegas    NV
6         54296          San Diego    CA
7         38128             Dallas    TX
8         33839           San Jose    CA
9         25290       Jacksonville    FL
10        20330      San Francisco    CA
11        10221             Austin    TX
12        17762            Detroit    MI
13        10920           Columbus    OH
14        32811            Memphis    TN
15        24043          Charlotte    NC
16        17933            El Paso    TX
17        44269             Boston    MA
18        16037            Seattle    WA
19         3523          Baltimore    MD
20        11093             Denver    CO
21        41568         Washington    DC
22         6118          Nashville    TN
23         5976          Milwaukee    WI
24         7481             Tucson    AZ
25        13373           Portland    OR
26        33225      Oklahoma City    OK
27        40152              Omaha    NE
28        23429        Albuquerque    NM
29        18203             Fresno    CA
...         ...                ...   ...
10800     36944       Mount Sidney    VA
10801     44501        Cedar Grove    WV
10802     44615              Clark    CO
10803     44844          Daleville    VA
10804     49693        Piney Point    MD
10805     50692               Almo    KY
10806    171874         Bois D Arc    MO
10807      7512            Tyaskin    MD
10808      8646          Inverness    CA
10809     13137             Otwell    IN
10810     25468        Lake Hughes    CA
10811     25749        Marble Hill    GA
10812     25835               Mead    CO
10813     32017           Hesperus    CO
10814     32847            Midland    GA
10815     46172             Lavaca    AR
10816     46452       Mays Landing    NJ
10817     49856      Stinson Beach    CA
10818     54802   Upper Brookville    NY
10819     55357            Decatur    AR
10820      5216         Horse Shoe    NC
10821     12312             Laotto    IN
10822     18317          Goldsboro    MD
10823     19929          Phoenicia    NY
10824     22147              Jones    AL
10825     26077            Nehalem    OR
10826     24105  Clear Lake Shores    TX
10827    737788    Lebanon Borough    NJ
10828    182023            Henrico    VA
10829     51793     East Hampstead    NH

[10830 rows x 3 columns]

In [23]:
df.iat[1,4]

'Los Angeles-Long Beach-Anaheim'

In [24]:
df.loc[1:7, 'Metro':'County']

                            Metro        County
1  Los Angeles-Long Beach-Anaheim   Los Angeles
2                         Chicago          Cook
3                    Philadelphia  Philadelphia
4                         Phoenix      Maricopa
5                       Las Vegas         Clark
6                       San Diego     San Diego
7               Dallas-Fort Worth        Dallas

In [25]:
df['ë¬¸ê·¼ì˜'] = 3 # ì—†ëŠ” ì»¬ëŸ¼

In [26]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi,ë¬¸ê·¼ì˜
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400,3
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900,3
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700,3
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300,3
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300,3
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500,3
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100,3
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700,3
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400,3
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300,3
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300,3
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600,3
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500,3
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300,3
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100,3
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800,3
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400,3
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600,3
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300,3
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100,3
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200,3
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900,3
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500,3
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900,3
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800,3
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900,3
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700,3
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100,3
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600,3
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700,3
...,...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500,3
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700,3
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600,3
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800,3
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000,3
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400,3
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000,3
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600,3
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300,3
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200,3
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700,3
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900,3
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600,3
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100,3
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900,3
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400,3
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800,3
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600,3
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600,3
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300,3
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700,3
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700,3
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700,3
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600,3
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200,3
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200,3
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900,3
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100,3
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800,3
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400,3

In [27]:
del df['ë¬¸ê·¼ì˜'] #íŒŒì´ì¬ ê¸°ë°˜ì´ê¸° ë•Œë¬¸ì— ê°€ëŠ¥í•˜ë‹¤. ì¶”ê°€ ì‚­ì œëŠ” [], del ~~

In [30]:
df.iloc[7,4:8]

Metro       Dallas-Fort Worth
County                 Dallas
SizeRank                    7
Zhvi                   164700
Name: 7, dtype: object

In [31]:
df.loc[11,:]

Date          2017-05-31
RegionID           10221
RegionName        Austin
State                 TX
Metro             Austin
County            Travis
SizeRank              11
Zhvi              321600
Name: 11, dtype: object

In [34]:
df.loc[1,['State','County']]

State              CA
County    Los Angeles
Name: 1, dtype: object

In [35]:
df.loc[0] # í–‰ ì „ì²´

Date          2017-05-31
RegionID            6181
RegionName      New York
State                 NY
Metro           New York
County            Queens
SizeRank               0
Zhvi              672400
Name: 0, dtype: object

In [36]:
df.loc[df.Date=='2017-05-31'] # ì¡°ê±´

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
7,2017-05-31,38128,Dallas,TX,Dallas-Fort Worth,Dallas,7,164700
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
9,2017-05-31,25290,Jacksonville,FL,Jacksonville,Duval,9,152300
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
11,2017-05-31,10221,Austin,TX,Austin,Travis,11,321600
12,2017-05-31,17762,Detroit,MI,Detroit,Wayne,12,41500
13,2017-05-31,10920,Columbus,OH,Columbus,Franklin,13,128300
14,2017-05-31,32811,Memphis,TN,Memphis,Shelby,14,81100
15,2017-05-31,24043,Charlotte,NC,Charlotte,Mecklenburg,15,183800
16,2017-05-31,17933,El Paso,TX,El Paso,El Paso,16,113400
17,2017-05-31,44269,Boston,MA,Boston,Suffolk,17,554600
18,2017-05-31,16037,Seattle,WA,Seattle,King,18,670300
19,2017-05-31,3523,Baltimore,MD,Baltimore,Baltimore City,19,121100
20,2017-05-31,11093,Denver,CO,Denver,Denver,20,383200
21,2017-05-31,41568,Washington,DC,Washington,District of Columbia,21,555900
22,2017-05-31,6118,Nashville,TN,Nashville,Davidson,22,228500
23,2017-05-31,5976,Milwaukee,WI,Milwaukee,Milwaukee,23,107900
24,2017-05-31,7481,Tucson,AZ,Tucson,Pima,24,164800
25,2017-05-31,13373,Portland,OR,Portland,Multnomah,25,417900
26,2017-05-31,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,26,132700
27,2017-05-31,40152,Omaha,NE,Omaha,Douglas,27,152100
28,2017-05-31,23429,Albuquerque,NM,Albuquerque,Bernalillo,28,189600
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
...,...,...,...,...,...,...,...,...
10800,2017-05-31,36944,Mount Sidney,VA,Staunton,Augusta,10800,237500
10801,2017-05-31,44501,Cedar Grove,WV,Charleston,Kanawha,10801,73700
10802,2017-05-31,44615,Clark,CO,Steamboat Springs,Routt,10802,418600
10803,2017-05-31,44844,Daleville,VA,Roanoke,Botetourt,10803,264800
10804,2017-05-31,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10804,308000
10805,2017-05-31,50692,Almo,KY,Murray,Calloway,10805,137400
10806,2017-05-31,171874,Bois D Arc,MO,Springfield,Greene,10806,149000
10807,2017-05-31,7512,Tyaskin,MD,Salisbury,Wicomico,10807,105600
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10809,2017-05-31,13137,Otwell,IN,Jasper,Pike,10809,82200
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10811,2017-05-31,25749,Marble Hill,GA,Atlanta,Dawson,10811,379900
10812,2017-05-31,25835,Mead,CO,Greeley,Weld,10812,350600
10813,2017-05-31,32017,Hesperus,CO,Durango,La Plata,10813,300100
10814,2017-05-31,32847,Midland,GA,Columbus,Muscogee,10814,224900
10815,2017-05-31,46172,Lavaca,AR,Fort Smith,Sebastian,10815,118400
10816,2017-05-31,46452,Mays Landing,NJ,Atlantic City,Atlantic,10816,146800
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600
10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
10819,2017-05-31,55357,Decatur,AR,Fayetteville,Benton,10819,113300
10820,2017-05-31,5216,Horse Shoe,NC,Asheville,Henderson,10820,256700
10821,2017-05-31,12312,Laotto,IN,Kendallville,Noble,10821,157700
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10823,2017-05-31,19929,Phoenicia,NY,Kingston,Ulster,10823,122600
10824,2017-05-31,22147,Jones,AL,Montgomery,Autauga,10824,106200
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200
10826,2017-05-31,24105,Clear Lake Shores,TX,Houston,Galveston,10826,191900
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,2017-05-31,182023,Henrico,VA,Richmond,Henrico,10828,230800
10829,2017-05-31,51793,East Hampstead,NH,Boston,Rockingham,10829,296400

In [52]:
# atì€ ì…€ë§Œ
# loc í–‰ ë˜ëŠ” í–‰ê³¼ ì—´ / ì…€ë„ í¬í•¨
# ì—´ì€ 4ê°€ì§€ dict, atr , loc, iloc
# ì…€ì€ 4ê°€ì§€ loc iloc at iat
# ë³´í†µ iloc ì†ë„ì¸¡ë©´ì„ ìž˜ ì•Œê³  íŒë‹¨í•˜ê¸°ë¥¼~

In [37]:
df.loc[df.State == 'CA',[1,1]] #  locì´ê¸° ë•Œë¬¸ì— , label ì‚¬ìš©ì„ í•´ì•¼í•œë‹¤.

KeyError: 'None of [[1, 1]] are in the [columns]'

In [38]:
df.loc[df['State']== 'CA'] # <- í•¨ìˆ˜í˜• íŒ¨ëŸ¬ë‹¤ìž„

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
29,2017-05-31,18203,Fresno,CA,Fresno,Fresno,29,212700
30,2017-05-31,20288,Sacramento,CA,Sacramento,Sacramento,30,299200
32,2017-05-31,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,32,552700
38,2017-05-31,13072,Oakland,CA,San Francisco,Alameda,38,680100
49,2017-05-31,16764,Anaheim,CA,Los Angeles-Long Beach-Anaheim,Orange,49,568800
50,2017-05-31,47568,Santa Ana,CA,Los Angeles-Long Beach-Anaheim,Orange,50,509800
55,2017-05-31,47401,Riverside,CA,Riverside,Riverside,55,349900
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
65,2017-05-31,7266,Stockton,CA,Stockton,San Joaquin,65,256100
70,2017-05-31,25934,Modesto,CA,Modesto,Stanislaus,70,260800
83,2017-05-31,20328,San Bernardino,CA,Riverside,San Bernardino,83,253300
84,2017-05-31,24225,Corona,CA,Riverside,Riverside,84,436800
85,2017-05-31,51405,Chula Vista,CA,San Diego,San Diego,85,486900
89,2017-05-31,24741,Fontana,CA,Riverside,San Bernardino,89,348200
94,2017-05-31,11540,Fremont,CA,San Francisco,Alameda,94,942400
102,2017-05-31,52650,Irvine,CA,Los Angeles-Long Beach-Anaheim,Orange,102,793600
105,2017-05-31,13150,Oxnard,CA,Ventura,Ventura,105,459000
107,2017-05-31,26967,Santa Rosa,CA,Santa Rosa,Sonoma,107,533000
114,2017-05-31,6285,Oceanside,CA,San Diego,San Diego,114,486700
118,2017-05-31,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,118,772000
123,2017-05-31,25218,Huntington Beach,CA,Los Angeles-Long Beach-Anaheim,Orange,123,764400
126,2017-05-31,54288,Salinas,CA,Salinas,Monterey,126,431200
128,2017-05-31,25981,Moreno Valley,CA,Riverside,Riverside,128,289500
134,2017-05-31,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,134,245800
139,2017-05-31,18518,Hayward,CA,San Francisco,Alameda,139,582800
144,2017-05-31,13108,Ontario,CA,Riverside,San Bernardino,144,387400
...,...,...,...,...,...,...,...,...
10288,2017-05-31,118339,Sugarloaf,CA,Riverside,San Bernardino,10288,158900
10308,2017-05-31,48103,Upper Lake,CA,Clearlake,Lake,10308,270200
10328,2017-05-31,42528,Montara,CA,San Francisco,San Mateo,10328,1038600
10364,2017-05-31,25385,Kernville,CA,Bakersfield,Kern,10364,183700
10367,2017-05-31,34197,Sutter Creek,CA,NaN,Amador,10367,278400
10406,2017-05-31,8113,Cazadero,CA,Santa Rosa,Sonoma,10406,466800
10419,2017-05-31,18156,Fort Jones,CA,NaN,Siskiyou,10419,212200
10421,2017-05-31,10479,Bodega Bay,CA,Santa Rosa,Sonoma,10421,810100
10435,2017-05-31,16803,Armona,CA,Hanford,Kings,10435,142400
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10470,2017-05-31,49133,Homewood,CA,Sacramento,Placer,10470,644200
10490,2017-05-31,23250,Friant,CA,Fresno,Fresno,10490,476600
10514,2017-05-31,6588,Posey,CA,Visalia,Tulare,10514,133000
10515,2017-05-31,8383,Berry Creek,CA,Chico,Butte,10515,199600
10517,2017-05-31,16066,Volcano,CA,NaN,Amador,10517,283700
10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
10553,2017-05-31,29343,Santa Ysabel,CA,San Diego,San Diego,10553,470400
10578,2017-05-31,44163,Big Pine,CA,NaN,Inyo,10578,219900
10580,2017-05-31,35629,Fawnskin,CA,Riverside,San Bernardino,10580,279700
10612,2017-05-31,30306,Avila Beach,CA,San Luis Obispo,San Luis Obispo,10612,831400
10640,2017-05-31,55340,Annapolis,CA,Santa Rosa,Sonoma,10640,720200
10645,2017-05-31,35001,Angelus Oaks,CA,Riverside,San Bernardino,10645,204600
10667,2017-05-31,56922,Los Alamos,CA,Santa Maria-Santa Barbara,Santa Barbara,10667,535000
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10761,2017-05-31,23931,Campo,CA,San Diego,San Diego,10761,283200
10775,2017-05-31,36187,Prather,CA,Fresno,Fresno,10775,360200
10776,2017-05-31,36324,Tahoma,CA,Sacramento,El Dorado,10776,509800
10808,2017-05-31,8646,Inverness,CA,San Francisco,Marin,10808,1108300
10810,2017-05-31,25468,Lake Hughes,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,10810,269700
10817,2017-05-31,49856,Stinson Beach,CA,San Francisco,Marin,10817,3173600

In [40]:
df.loc[df.Metro == 'New York', 'County']

0             Queens
63             Essex
72            Hudson
138      Westchester
176          Passaic
225            Union
291        Middlesex
338            Ocean
387            Ocean
402          Passaic
406         Dutchess
521      Westchester
541            Ocean
564          Passaic
582           Hudson
591            Essex
611      Westchester
631           Hudson
651           Nassau
716           Hudson
727      Westchester
732           Nassau
735         Monmouth
750            Essex
760          Passaic
779            Ocean
781            Union
787        Middlesex
800           Orange
806        Middlesex
            ...
9591       Hunterdon
9614         Suffolk
9714         Suffolk
9732           Ocean
9777           Ocean
9791           Ocean
9805        Monmouth
9817           Ocean
9819        Monmouth
9820           Ocean
9860        Monmouth
9939       Hunterdon
10011          Ocean
10022        Suffolk
10113        Suffolk
10158        Suffolk
10173         Bergen
10203        Suffolk
10258          Ocean
10284         Sussex
10360          Ocean
10375        Suffolk
10383        Passaic
10408        Suffolk
10457        Suffolk
10495          Ocean
10589          Ocean
10700         Orange
10818         Nassau
10827      Hunterdon
Name: County, Length: 648, dtype: object

In [57]:
df.sort_values('Metro')

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
9851,2017-05-31,48458,Westport,WA,Aberdeen,Grays Harbor,9851,144600
4996,2017-05-31,36873,Elma,WA,Aberdeen,Grays Harbor,4996,175200
5090,2017-05-31,35514,Hoquiam,WA,Aberdeen,Grays Harbor,5090,95700
9401,2017-05-31,33215,Ocean Shores,WA,Aberdeen,Grays Harbor,9401,152400
9149,2017-05-31,18370,Grayland,WA,Aberdeen,Grays Harbor,9149,143900
2073,2017-05-31,30116,Aberdeen,WA,Aberdeen,Grays Harbor,2073,127800
9859,2017-05-31,31062,Cosmopolis,WA,Aberdeen,Grays Harbor,9859,147400
4568,2017-05-31,56078,Montesano,WA,Aberdeen,Grays Harbor,4568,182000
8420,2017-05-31,19269,McCleary,WA,Aberdeen,Grays Harbor,8420,170700
7108,2017-05-31,6275,Oakville,WA,Aberdeen,Grays Harbor,7108,186900
10535,2017-05-31,54766,Tuscola,TX,Abilene,Taylor,10535,237100
6823,2017-05-31,39752,Merkel,TX,Abilene,Taylor,6823,84300
8855,2017-05-31,8218,Baird,TX,Abilene,Callahan,8855,110100
5653,2017-05-31,44657,Clyde,TX,Abilene,Callahan,5653,126300
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
9301,2017-05-31,50681,Allen,OK,Ada,Pontotoc,9301,80400
9265,2017-05-31,7270,Stonewall,OK,Ada,Pontotoc,9265,94500
10277,2017-05-31,44930,Diamond,OH,Akron,Portage,10277,147700
8292,2017-05-31,26725,Reminderville,OH,Akron,Summit,8292,188400
2196,2017-05-31,7510,Twinsburg,OH,Akron,Summit,2196,196100
10210,2017-05-31,40037,North Benton,OH,Akron,Portage,10210,120100
1907,2017-05-31,52591,Hudson,OH,Akron,Summit,1907,318600
6105,2017-05-31,13510,Richfield,OH,Akron,Summit,6105,263000
5609,2017-05-31,28946,Munroe Falls,OH,Akron,Summit,5609,151700
5051,2017-05-31,202994,Portage Lakes,OH,Akron,Summit,5051,116200
3544,2017-05-31,5746,Macedonia,OH,Akron,Summit,3544,193900
3235,2017-05-31,6254,Norton,OH,Akron,Summit,3235,135100
3982,2017-05-31,43493,Streetsboro,OH,Akron,Portage,3982,144300
1727,2017-05-31,5398,Kent,OH,Akron,Portage,1727,125900
5434,2017-05-31,35128,Atwater,OH,Akron,Portage,5434,161200
...,...,...,...,...,...,...,...,...
10625,2017-05-31,36951,Neskowin,OR,NaN,Tillamook,10625,372500
10629,2017-05-31,44925,Dewy Rose,GA,NaN,Elbert,10629,104800
10636,2017-05-31,24419,Dowelltown,TN,NaN,Dekalb,10636,106800
10642,2017-05-31,15086,Allardt,TN,NaN,Fentress,10642,138400
10657,2017-05-31,51538,Cooper,TX,NaN,Delta,10657,64300
10658,2017-05-31,8136,Coulee Dam,WA,NaN,Okanogan,10658,137000
10661,2017-05-31,7298,Suches,GA,NaN,Union,10661,193200
10666,2017-05-31,15699,Mazama,WA,NaN,Okanogan,10666,328100
10678,2017-05-31,49330,Flintville,TN,NaN,Lincoln,10678,98200
10679,2017-05-31,14139,Tiger,GA,NaN,Rabun,10679,165300
10701,2017-05-31,22845,Trezevant,TN,NaN,Carroll,10701,56300
10704,2017-05-31,7040,Shawneetown,IL,NaN,Gallatin,10704,66600
10707,2017-05-31,396967,Napier Township,PA,NaN,Bedford,10707,138700
10722,2017-05-31,29691,Llano,TX,NaN,Llano,10722,130500
10731,2017-05-31,5885,Meadowlakes,TX,NaN,Burnet,10731,231600
10732,2017-05-31,8060,Big Rock,TN,NaN,Stewart,10732,77600
10736,2017-05-31,5561,Laurel,IN,NaN,Franklin,10736,76800
10737,2017-05-31,8678,Finger,TN,NaN,McNairy,10737,82200
10747,2017-05-31,38522,Finland,MN,NaN,Lake,10747,161600
10752,2017-05-31,45973,Julian,NC,NaN,Guilford,10752,139600
10754,2017-05-31,49199,Granite Shoals,TX,NaN,Burnet,10754,140800
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10758,2017-05-31,34883,Winter Park,CO,NaN,Grand,10758,325700
10762,2017-05-31,28121,Cottageville,SC,NaN,Colleton,10762,118700
10763,2017-05-31,29890,Mulberry,TN,NaN,Lincoln,10763,121600
10764,2017-05-31,35349,Fraser,CO,NaN,Grand,10764,274500
10768,2017-05-31,17816,Dresser,WI,NaN,Polk,10768,189900
10774,2017-05-31,34232,Tamworth,NH,NaN,Carroll,10774,164100
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200

In [41]:
df.sort_values('RegionID', ascending= False) #inplace -> mutable

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
...,...,...,...,...,...,...,...,...
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900

In [42]:
df.sort_values(['RegionID', 'State']) 
# íŒë‹¤ìŠ¤ì—ì„œ ë™ì‹œì— ì—¬ëŸ¬ê°œ ì“¸ë ¤ë©´ ë¦¬ìŠ¤íŠ¸  
# ì²«ë²ˆì§¸ ê°’ì„ ë¹„êµí•˜ë‹¤ê°€ ê°™ìœ¼ë©´ ë‹¤ìŒ ì»¬ëŸ¼ê°’ìœ¼ë¡œ ë¹„êµ

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [43]:
df.sort_values(by=['Metro', 'County', 'Zhvi'], ascending=[True, True, False])

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
7108,2017-05-31,6275,Oakville,WA,Aberdeen,Grays Harbor,7108,186900
4568,2017-05-31,56078,Montesano,WA,Aberdeen,Grays Harbor,4568,182000
4996,2017-05-31,36873,Elma,WA,Aberdeen,Grays Harbor,4996,175200
8420,2017-05-31,19269,McCleary,WA,Aberdeen,Grays Harbor,8420,170700
9401,2017-05-31,33215,Ocean Shores,WA,Aberdeen,Grays Harbor,9401,152400
9859,2017-05-31,31062,Cosmopolis,WA,Aberdeen,Grays Harbor,9859,147400
9851,2017-05-31,48458,Westport,WA,Aberdeen,Grays Harbor,9851,144600
9149,2017-05-31,18370,Grayland,WA,Aberdeen,Grays Harbor,9149,143900
2073,2017-05-31,30116,Aberdeen,WA,Aberdeen,Grays Harbor,2073,127800
5090,2017-05-31,35514,Hoquiam,WA,Aberdeen,Grays Harbor,5090,95700
5653,2017-05-31,44657,Clyde,TX,Abilene,Callahan,5653,126300
8855,2017-05-31,8218,Baird,TX,Abilene,Callahan,8855,110100
10535,2017-05-31,54766,Tuscola,TX,Abilene,Taylor,10535,237100
6823,2017-05-31,39752,Merkel,TX,Abilene,Taylor,6823,84300
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
9265,2017-05-31,7270,Stonewall,OK,Ada,Pontotoc,9265,94500
9301,2017-05-31,50681,Allen,OK,Ada,Pontotoc,9301,80400
2656,2017-05-31,16847,Aurora,OH,Akron,Portage,2656,257300
7365,2017-05-31,39010,Hiram,OH,Akron,Portage,7365,181900
4389,2017-05-31,19185,Mantua,OH,Akron,Portage,4389,170700
5434,2017-05-31,35128,Atwater,OH,Akron,Portage,5434,161200
4716,2017-05-31,24839,Garrettsville,OH,Akron,Portage,4716,151400
7669,2017-05-31,33731,Rootstown,OH,Akron,Portage,7669,148900
10277,2017-05-31,44930,Diamond,OH,Akron,Portage,10277,147700
3982,2017-05-31,43493,Streetsboro,OH,Akron,Portage,3982,144300
3848,2017-05-31,32905,Mogadore,OH,Akron,Portage,3848,143700
8009,2017-05-31,11066,Deerfield,OH,Akron,Portage,8009,127400
1727,2017-05-31,5398,Kent,OH,Akron,Portage,1727,125900
10210,2017-05-31,40037,North Benton,OH,Akron,Portage,10210,120100
7686,2017-05-31,199691,Brimfield,OH,Akron,Portage,7686,119900
...,...,...,...,...,...,...,...,...
3133,2017-05-31,35914,New Albany,MS,NaN,Union,3133,161200
3954,2017-05-31,7956,Wills Point,TX,NaN,Van Zandt,3954,112700
6573,2017-05-31,57116,Van,TX,NaN,Van Zandt,6573,109500
6379,2017-05-31,18354,Grand Saline,TX,NaN,Van Zandt,6379,96400
3664,2017-05-31,7515,Tylertown,MS,NaN,Walthall,3664,105300
8477,2017-05-31,47565,Sandy Hook,MS,NaN,Walthall,8477,103400
4934,2017-05-31,12788,Monahans,TX,NaN,Ward,4934,98700
10222,2017-05-31,16462,Williamsport,IN,NaN,Warren,10222,73800
4840,2017-05-31,33514,Potosi,MO,NaN,Washington,4840,98700
3334,2017-05-31,21600,Chipley,FL,NaN,Washington,3334,95200
8946,2017-05-31,34546,Vernon,FL,NaN,Washington,8946,85200
7101,2017-05-31,4619,Eupora,MS,NaN,Webster,7101,88000
10209,2017-05-31,5116,Helen,GA,NaN,White,10209,151300
2076,2017-05-31,28306,Cleveland,GA,NaN,White,2076,138800
3037,2017-05-31,28856,Monticello,IN,NaN,White,3037,123900
2307,2017-05-31,41004,Sparta,TN,NaN,White,2307,106200
10092,2017-05-31,48312,Walling,TN,NaN,White,10092,105200
8002,2017-05-31,17193,Brookston,IN,NaN,White,8002,99800
10161,2017-05-31,44540,Chalmers,IN,NaN,White,10161,97000
10344,2017-05-31,29440,Wolcott,IN,NaN,White,10344,95000
9677,2017-05-31,40553,Reynolds,IN,NaN,White,9677,85000
6307,2017-05-31,50632,Abbeville,GA,NaN,Wilcox,6307,88900
4325,2017-05-31,48544,Winnfield,LA,NaN,Winn,4325,87700
9997,2017-05-31,25913,Mineola,TX,NaN,Wood,9997,100700
3627,2017-05-31,48593,Wytheville,VA,NaN,Wythe,3627,134200
7432,2017-05-31,53202,Max Meadows,VA,NaN,Wythe,7432,128700
4706,2017-05-31,43208,Water Valley,MS,NaN,Yalobusha,4706,91000
8839,2017-05-31,44668,Coffeeville,MS,NaN,Yalobusha,8839,75000
3332,2017-05-31,52276,Graham,TX,NaN,Young,3332,102600
4112,2017-05-31,44815,Crystal City,TX,NaN,Zavala,4112,66300

In [44]:
df.sort_values('Metro', inplace= True)

In [45]:
df.sort_values('RegionID', axis=1) 
#ì—´ì€ í•­ìƒ ë¹„êµê°€ ë˜ì§€ë§Œ, í–‰ê³¼ ë¹„êµëŠ” ì—ëŸ¬ê°€ ë‚  ìˆ˜ ìžˆë”° .

KeyError: 'RegionID'

In [46]:
df.sort_values('RegionID', inplace=True)

In [47]:
df.reset_index()

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
1,4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
2,4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
3,1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4,3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
5,10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
6,1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
7,10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8,8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
9,622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
10,3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
11,8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
12,10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
13,10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
14,378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
15,8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
16,2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
17,1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
18,8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
19,841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
21,2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
22,6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
23,9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
24,2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
26,9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
27,6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...,...
10800,4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10801,4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10803,8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10805,4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10809,6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10810,9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10812,7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10813,6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
10814,5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
10815,6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
10816,2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10820,10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
10821,741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
10825,9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10826,413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10829,1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [48]:
df

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...
4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [49]:
df.reset_index(inplace=True)

In [50]:
df

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
1,4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
2,4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
3,1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4,3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
5,10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
6,1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
7,10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8,8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
9,622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
10,3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
11,8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
12,10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
13,10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
14,378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
15,8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
16,2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
17,1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
18,8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
19,841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
21,2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
22,6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
23,9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
24,2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
26,9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
27,6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...,...
10800,4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10801,4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10803,8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10805,4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10809,6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10810,9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10812,7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10813,6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
10814,5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
10815,6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
10816,2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10820,10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
10821,741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
10825,9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10826,413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10829,1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [51]:
# resetindexëŠ” drop = true -> ê³¼ê±°ì˜ ì¸ë±ìŠ¤ë¥¼ íŒë‹¤ìŠ¤ëŠ” ê°€ëŠ¥í•œ ì•ˆì „í•œê²Œ ë””í´íŠ¸ ì˜µì…˜

In [52]:
df.reset_index(drop=True)

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
1,4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
2,4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
3,1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4,3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
5,10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
6,1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
7,10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8,8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
9,622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
10,3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
11,8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
12,10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
13,10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
14,378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
15,8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
16,2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
17,1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
18,8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
19,841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
21,2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
22,6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
23,9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
24,2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
26,9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
27,6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...,...
10800,4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10801,4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10803,8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10805,4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10809,6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10810,9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10812,7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10813,6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
10814,5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
10815,6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
10816,2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10820,10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
10821,741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
10825,9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10826,413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10829,1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [53]:
# locëŠ” ì¸ë±ìŠ¤ ì´ë¦„ì„ ê°€ì ¸ì˜¨ë‹¤. reset indexë¥¼ ë§Žì´ ì‚¬ìš©í•´

In [54]:
df.filter()  # ê¸°ë³¸ê°’ ë‹¤ ìžˆìœ¼ë©´ ì‹¤í–‰ë˜ëŠ”ê±° ì•„ëƒ? ì•„! 3ê°œ ë‹¤ ìž…ë ¥í•´ì£¼ì„¸ìš” ëœ¨ëŠ”êµ¬ë‚˜

TypeError: Must pass either `items`, `like`, or `regex`

In [55]:
df.filter(items=['State','Metro'])  # ì»¬ëŸ¼ ë½‘ê¸°, dict, attr, loc, iloc, filter

      State                           Metro
0        NC        Pinehurst-Southern Pines
1        NJ                   Atlantic City
2        MD                      Washington
3        OK                             Ada
4        GA                         Atlanta
5        TN                     Clarksville
6        IL                         Chicago
7        WA                         Spokane
8        CA                          Madera
9        SC                         Augusta
10       MI                    Battle Creek
11       AL                        Anniston
12       CA                      Sacramento
13       IL                       Davenport
14       SC                      Greenville
15       TN                       Knoxville
16       IN                          Angola
17       AZ                         Phoenix
18       FL                           Ocala
19       MN             Minneapolis-St Paul
20       PA                    Philadelphia
21       NJ                        New York
22       MA                       Worcester
23       AL                          Dothan
24       MA                          Boston
25       PA                        Scranton
26       AL                      Montgomery
27       CA  Los Angeles-Long Beach-Anaheim
28       CA                         Hanford
29       CA                     Bakersfield
...     ...                             ...
10800    NY                          Albany
10801    NH                       Claremont
10802    PA                      Pittsburgh
10803    WI                         Madison
10804    PA                         Reading
10805    NY                           Utica
10806    NY                          Auburn
10807    PA                        Scranton
10808    PA                      Pittsburgh
10809    NY                       Watertown
10810    WI                      Janesville
10811    PA                    Philadelphia
10812    NY                             NaN
10813    MI                      Big Rapids
10814    MI                    Grand Rapids
10815    MI                        Bay City
10816    MI                    Grand Rapids
10817    PA                      Pittsburgh
10818    PA                        Scranton
10819    PA                    Philadelphia
10820    NY                    Seneca Falls
10821    MI                        Muskegon
10822    PA                         Reading
10823    PA                      Harrisburg
10824    PA                      Gettysburg
10825    CA                      Santa Rosa
10826    AZ                         Phoenix
10827    NJ                        New York
10828    CA                       Riverside
10829    CT                        Hartford

[10830 rows x 2 columns]

In [56]:
filterd_data = df.filter(regex='Region', axis=0)  #

In [57]:
filterd_data.head()

Empty DataFrame
Columns: [index, Date, RegionID, RegionName, State, Metro, County, SizeRank, Zhvi]
Index: []

In [58]:
filterd_data = df.filter(regex='Region', axis=1)  #
filterd_data.head()

   RegionID   RegionName
0      3301     Aberdeen
1      3304      Absecon
2      3305     Accokeek
3      3310          Ada
4      3312  Adairsville

In [59]:
df['Zhvi'] >50000 #ê²°ê³¼ê°’ì´ true falseê°€ ë‚˜ì˜¨ë‹¤.

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
10800    True
10801    True
10802    True
10803    True
10804    True
10805    True
10806    True
10807    True
10808    True
10809    True
10810    True
10811    True
10812    True
10813    True
10814    True
10815    True
10816    True
10817    True
10818    True
10819    True
10820    True
10821    True
10822    True
10823    True
10824    True
10825    True
10826    True
10827    True
10828    True
10829    True
Name: Zhvi, Length: 10830, dtype: bool

In [60]:
 df[df.Zhvi >50000 ] #trueì¸ ê°’ë§Œ ì œì¶œ(filterë°©ì‹)

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,3043,2017-05-31,3301,Aberdeen,NC,Pinehurst-Southern Pines,Moore,3043,163900
1,4159,2017-05-31,3304,Absecon,NJ,Atlantic City,Atlantic,4159,164400
2,4986,2017-05-31,3305,Accokeek,MD,Washington,Prince Georges,4986,360400
3,1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
4,3116,2017-05-31,3312,Adairsville,GA,Atlanta,Bartow,3116,124300
5,10202,2017-05-31,3315,Adams,TN,Clarksville,Montgomery,10202,210200
6,1136,2017-05-31,3319,Addison,IL,Chicago,Du Page,1136,234000
7,10569,2017-05-31,3322,Addy,WA,Spokane,Stevens,10569,158400
8,8018,2017-05-31,3333,Ahwahnee,CA,Madera,Madera,8018,286200
9,622,2017-05-31,3334,Aiken,SC,Augusta,Aiken,622,122800
10,3261,2017-05-31,3344,Albion,MI,Battle Creek,Calhoun,3261,71500
11,8315,2017-05-31,3352,Alexandria,AL,Anniston,Calhoun,8315,109700
12,10456,2017-05-31,3379,Alta,CA,Sacramento,Placer,10456,347700
13,10537,2017-05-31,3403,Andalusia,IL,Davenport,Rock Island,10537,116900
14,378,2017-05-31,3404,Anderson,SC,Greenville,Anderson,378,121800
15,8503,2017-05-31,3406,Andersonville,TN,Knoxville,Anderson,8503,165000
16,2744,2017-05-31,3412,Angola,IN,Angola,Steuben,2744,153700
17,1194,2017-05-31,3418,Anthem,AZ,Phoenix,Maricopa,1194,346400
18,8260,2017-05-31,3419,Anthony,FL,Ocala,Marion,8260,167100
19,841,2017-05-31,3425,Apple Valley,MN,Minneapolis-St Paul,Dakota,841,257200
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
21,2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
22,6130,2017-05-31,3457,Ashburnham,MA,Worcester,Worcester,6130,231600
23,9864,2017-05-31,3460,Ashford,AL,Dothan,Houston,9864,124100
24,2484,2017-05-31,3461,Ashland,MA,Boston,Middlesex,2484,382100
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
26,9321,2017-05-31,3489,Autaugaville,AL,Montgomery,Autauga,9321,110400
27,6714,2017-05-31,3491,Avalon,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,6714,570900
28,3652,2017-05-31,3493,Avenal,CA,Hanford,Kings,3652,134300
29,58,2017-05-31,3506,Bakersfield,CA,Bakersfield,Kern,58,219800
...,...,...,...,...,...,...,...,...,...
10800,4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10801,4678,2017-05-31,399257,Town of Plymouth,NH,Claremont,Grafton,4678,164500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10803,8647,2017-05-31,399264,Town of Windsor,WI,Madison,Dane,8647,259600
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10805,4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10809,6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10810,9290,2017-05-31,399276,Newark,WI,Janesville,Rock,9290,191000
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10812,7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10813,6882,2017-05-31,399284,Green Township,MI,Big Rapids,Mecosta,6882,92500
10814,5985,2017-05-31,399285,Rutland Township,MI,Grand Rapids,Barry,5985,168300
10815,6881,2017-05-31,399287,Portsmouth Township,MI,Bay City,Bay,6881,91700
10816,2124,2017-05-31,399288,Allendale Township,MI,Grand Rapids,Ottawa,2124,195900
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10820,10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600
10821,741,2017-05-31,399297,Muskegon Township,MI,Muskegon,Muskegon,741,70800
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600
10825,9295,2017-05-31,737786,The Sea Ranch,CA,Santa Rosa,Sonoma,9295,863600
10826,413,2017-05-31,737787,San Tan Valley,AZ,Phoenix,Pinal,413,183200
10827,10827,2017-05-31,737788,Lebanon Borough,NJ,New York,Hunterdon,10827,231100
10828,731,2017-05-31,737790,Eastvale,CA,Riverside,Riverside,731,532700
10829,1736,2017-05-31,737791,Town of Mansfield,CT,Hartford,Tolland,1736,207100

In [61]:
df.filter(like='Met', axis=1) # likeëŠ” í¬í•¨ í•˜ëŠ” ì•

                                Metro
0            Pinehurst-Southern Pines
1                       Atlantic City
2                          Washington
3                                 Ada
4                             Atlanta
5                         Clarksville
6                             Chicago
7                             Spokane
8                              Madera
9                             Augusta
10                       Battle Creek
11                           Anniston
12                         Sacramento
13                          Davenport
14                         Greenville
15                          Knoxville
16                             Angola
17                            Phoenix
18                              Ocala
19                Minneapolis-St Paul
20                       Philadelphia
21                           New York
22                          Worcester
23                             Dothan
24                             Boston
25                           Scranton
26                         Montgomery
27     Los Angeles-Long Beach-Anaheim
28                            Hanford
29                        Bakersfield
...                               ...
10800                          Albany
10801                       Claremont
10802                      Pittsburgh
10803                         Madison
10804                         Reading
10805                           Utica
10806                          Auburn
10807                        Scranton
10808                      Pittsburgh
10809                       Watertown
10810                      Janesville
10811                    Philadelphia
10812                             NaN
10813                      Big Rapids
10814                    Grand Rapids
10815                        Bay City
10816                    Grand Rapids
10817                      Pittsburgh
10818                        Scranton
10819                    Philadelphia
10820                    Seneca Falls
10821                        Muskegon
10822                         Reading
10823                      Harrisburg
10824                      Gettysburg
10825                      Santa Rosa
10826                         Phoenix
10827                        New York
10828                       Riverside
10829                        Hartford

[10830 rows x 1 columns]

In [62]:
#ì¡°ê±´ì€ & ì—°ê²°

In [63]:
df[(df['Zhvi'] > 1000000) & (df['State'] == 'NY')]

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
805,9714,2017-05-31,7774,Water Mill,NY,New York,Suffolk,9714,4085200
1694,6661,2017-05-31,12894,Muttontown,NY,New York,Nassau,6661,1613400
1886,3904,2017-05-31,13937,Southampton,NY,New York,Suffolk,3904,1398200
2215,8093,2017-05-31,16387,Sands Point,NY,New York,Nassau,8093,2289600
2466,6736,2017-05-31,17874,East Hills,NY,New York,Nassau,6736,1299300
2557,1132,2017-05-31,18375,Great Neck,NY,New York,Nassau,1132,1235800
2572,3474,2017-05-31,18478,Harrison,NY,New York,Westchester,3474,1031200
2646,3064,2017-05-31,18955,Larchmont,NY,New York,Westchester,3064,1052200
2649,9028,2017-05-31,18963,Lattingtown,NY,New York,Nassau,9028,1184500
2794,9055,2017-05-31,19808,Oyster Bay Cove,NY,New York,Nassau,9055,1649400
3157,9370,2017-05-31,22015,Laurel Hollow,NY,New York,Nassau,9370,1585300
3748,3032,2017-05-31,25725,Manhasset,NY,New York,Nassau,3032,1483400
3933,9179,2017-05-31,26537,Plandome,NY,New York,Nassau,9179,2024500
4491,10203,2017-05-31,30203,Amagansett,NY,New York,Suffolk,10203,2613800
5181,10375,2017-05-31,33971,Shelter Island Heights,NY,New York,Suffolk,10375,1153600
5391,8317,2017-05-31,35276,Cold Spring Harbor,NY,New York,Suffolk,8317,1164600
5626,10457,2017-05-31,36840,Bridgehampton,NY,New York,Suffolk,10457,1703600
5976,9523,2017-05-31,38975,Hewlett Harbor,NY,New York,Nassau,9523,1304800
6180,5682,2017-05-31,40053,North Hills,NY,New York,Nassau,5682,1431800
7357,2619,2017-05-31,47495,Rye,NY,New York,Westchester,2619,1736400
7359,8611,2017-05-31,47499,Sag Harbor,NY,New York,Suffolk,8611,1576200
8175,4700,2017-05-31,52907,Lawrence,NY,New York,Nassau,4700,1124600
8332,6386,2017-05-31,53705,Old Westbury,NY,New York,Nassau,6386,2230800
8450,2405,2017-05-31,54333,Scarsdale,NY,New York,Westchester,2405,1468100
8542,10818,2017-05-31,54802,Upper Brookville,NY,New York,Nassau,10818,1958600
8771,10022,2017-05-31,56373,North Haven,NY,New York,Suffolk,10022,2384800
9199,7728,2017-05-31,194752,Flower Hill,NY,New York,Nassau,7728,1220300

In [64]:
df[(df['Zhvi'] > 1000000) | (df['State'] == 'NY')]

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
30,7720,2017-05-31,3509,Bal Harbour,FL,Miami-Fort Lauderdale,Miami-Dade,7720,1043000
33,5375,2017-05-31,3521,Ballston Spa,NY,Albany,Saratoga,5375,209700
71,10205,2017-05-31,3734,Boca Grande,FL,Fort Myers,Lee,10205,1382300
91,8307,2017-05-31,3835,Brookhaven,NY,New York,Suffolk,8307,362000
125,7328,2017-05-31,4028,Centerport,NY,New York,Suffolk,7328,502300
144,7385,2017-05-31,4145,Clyde Hill,WA,Seattle,King,7385,2425000
173,757,2017-05-31,4281,Cupertino,CA,San Jose,Santa Clara,757,1847800
177,10786,2017-05-31,4313,Dayton,NY,Olean,Cattaraugus,10786,67000
199,5753,2017-05-31,4482,East Moriches,NY,New York,Suffolk,5753,375400
200,1581,2017-05-31,4484,East Northport,NY,New York,Suffolk,1581,450800
201,7452,2017-05-31,4485,East Norwich,NY,New York,Nassau,7452,586300
299,8255,2017-05-31,4983,Greenport,NY,New York,Suffolk,8255,529500
327,5931,2017-05-31,5137,Herricks,NY,New York,Nassau,5931,643100
340,4131,2017-05-31,5213,Hornell,NY,Corning,Steuben,4131,54200
361,3310,2017-05-31,5343,Jericho,NY,New York,Nassau,3310,833300
376,3225,2017-05-31,5415,Key Biscayne,FL,Miami-Fort Lauderdale,Miami-Dade,3225,1165900
387,1717,2017-05-31,5437,Kingston,NY,Kingston,Ulster,1717,151300
399,3396,2017-05-31,5493,Lake Grove,NY,New York,Suffolk,3396,407200
401,8117,2017-05-31,5500,Lake Katrine,NY,Kingston,Ulster,8117,165300
460,2256,2017-05-31,5838,Massapequa Park,NY,New York,Nassau,2256,461900
479,1703,2017-05-31,5937,Middletown,NY,New York,Orange,1703,141500
481,3879,2017-05-31,5960,Miller Place,NY,New York,Suffolk,3879,408800
533,0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
585,3417,2017-05-31,6495,Piedmont,CA,San Francisco,Alameda,3417,2119400
589,1637,2017-05-31,6528,Plainview,NY,New York,Nassau,1637,553300
592,4657,2017-05-31,6536,Pleasantville,NY,New York,Westchester,4657,581100
642,8728,2017-05-31,6822,Rolling Hills,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,8728,3526900
646,3602,2017-05-31,6839,Roslyn Heights,NY,New York,Nassau,3602,879700
647,10538,2017-05-31,6840,Ross,CA,San Francisco,Marin,10538,2604000
664,1393,2017-05-31,6916,San Carlos,CA,San Francisco,San Mateo,1393,1619900
...,...,...,...,...,...,...,...,...,...
10695,2588,2017-05-31,398996,Town of Monroe,NY,New York,Orange,2588,278000
10697,8529,2017-05-31,398998,Town of Randolph,NY,Olean,Cattaraugus,8529,72200
10710,3710,2017-05-31,399031,Town of Geneseo,NY,Rochester,Livingston,3710,165900
10711,8998,2017-05-31,399033,Town of Ellicottville,NY,Olean,Cattaraugus,8998,215200
10715,2503,2017-05-31,399037,Town of Geneva,NY,Rochester,Ontario,2503,94100
10716,1666,2017-05-31,399039,Town of Oswego,NY,Syracuse,Oswego,1666,74900
10717,9600,2017-05-31,399041,Town of Sandy Creek,NY,Syracuse,Oswego,9600,121900
10723,6043,2017-05-31,399055,Gaines,NY,Rochester,Orleans,6043,97800
10727,8997,2017-05-31,399065,Town of Leicester,NY,Rochester,Livingston,8997,123100
10729,4166,2017-05-31,399067,Niagara,NY,Buffalo,Niagara,4166,123100
10733,9576,2017-05-31,399073,Wayne,NY,Corning,Steuben,9576,226700
10736,7366,2017-05-31,399077,Town of Portville,NY,Olean,Cattaraugus,7366,77200
10743,6738,2017-05-31,399093,Campbell,NY,Corning,Steuben,6738,106700
10752,6297,2017-05-31,399122,Town of Oxford,NY,NaN,Chenango,6297,82400
10755,3427,2017-05-31,399139,Chenango,NY,Binghamton,Broome,3427,116600
10756,4337,2017-05-31,399140,Deerpark,NY,New York,Orange,4337,157900
10766,7367,2017-05-31,399166,Town of Lisle,NY,Binghamton,Broome,7367,98300
10770,6894,2017-05-31,399174,Union Vale,NY,New York,Dutchess,6894,278500
10771,7019,2017-05-31,399180,Town of Bergen,NY,Batavia,Genesee,7019,127700
10775,1391,2017-05-31,399185,Town of Watertown,NY,Watertown,Jefferson,1391,119100
10785,4446,2017-05-31,399203,Town of Rhinebeck,NY,New York,Dutchess,4446,320200
10786,5492,2017-05-31,399208,Town of Mexico,NY,Syracuse,Oswego,5492,111200
10787,2328,2017-05-31,399213,Town of Mamaroneck,NY,New York,Westchester,2328,633800
10796,5455,2017-05-31,399237,Town of Candor,NY,Binghamton,Tioga,5455,98000
10800,4843,2017-05-31,399254,Town of Corinth,NY,Albany,Saratoga,4843,162600
10805,4987,2017-05-31,399266,Westmoreland,NY,Utica,Oneida,4987,133900
10806,6557,2017-05-31,399268,Town of Moravia,NY,Auburn,Cayuga,6557,133400
10809,6136,2017-05-31,399272,Pamelia,NY,Watertown,Jefferson,6136,145600
10812,7453,2017-05-31,399279,Town of Afton,NY,NaN,Chenango,7453,90800
10820,10001,2017-05-31,399293,Covert,NY,Seneca Falls,Seneca,10001,179600

In [65]:
filter = df['Metro'].isin(['New York', 'SanFrancisco']) 
# in í•˜ë©´ íŒŒì´ì¬ iní•˜ê³  ì¶©ëŒ ë˜ê¸° ë•Œë¬¸ì— 
df[filter].head() #filterì—ëŠ” true

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
21,2589,2017-05-31,3455,Asbury Park,NJ,New York,Monmouth,2589,301300
64,969,2017-05-31,3699,Bloomfield,NJ,New York,Essex,969,316100
76,4075,2017-05-31,3752,Boonton,NJ,New York,Morris,4075,380200
91,8307,2017-05-31,3835,Brookhaven,NY,New York,Suffolk,8307,362000
125,7328,2017-05-31,4028,Centerport,NY,New York,Suffolk,7328,502300

In [66]:
df['State'].unique()

array(['NC', 'NJ', 'MD', 'OK', 'GA', 'TN', 'IL', 'WA', 'CA', 'SC', 'MI',
       'AL', 'IN', 'AZ', 'FL', 'MN', 'PA', 'MA', 'NY', 'OR', 'AR', 'TX',
       'MO', 'WI', 'OH', 'NH', 'ID', 'VA', 'KY', 'CT', 'LA', 'WY', 'KS',
       'CO', 'MS', 'ND', 'RI', 'UT', 'NE', 'HI', 'NV', 'AK', 'MT', 'IA',
       'DE', 'WV', 'NM', 'DC', 'ME'], dtype=object)

In [67]:
df['State'].isin(['DC', 'PA'])

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20        True
21       False
22       False
23       False
24       False
25        True
26       False
27       False
28       False
29       False
         ...
10800    False
10801    False
10802     True
10803    False
10804     True
10805    False
10806    False
10807     True
10808     True
10809    False
10810    False
10811     True
10812    False
10813    False
10814    False
10815    False
10816    False
10817     True
10818     True
10819     True
10820    False
10821    False
10822     True
10823     True
10824     True
10825    False
10826    False
10827    False
10828    False
10829    False
Name: State, Length: 10830, dtype: bool

In [68]:
df[df['State'].isin(['DC', 'PA'])] #dataì˜ í–‰í•„í„°

,index,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
20,3101,2017-05-31,3436,Ardmore,PA,Philadelphia,Delaware,3101,293600
25,7440,2017-05-31,3465,Ashley,PA,Scranton,Luzerne,7440,59600
47,4220,2017-05-31,3618,Bellevue,PA,Pittsburgh,Allegheny,4220,128400
57,3636,2017-05-31,3649,Berwick,PA,Bloomsburg,Columbia,3636,106000
68,2804,2017-05-31,3706,Bloomsburg,PA,Bloomsburg,Columbia,2804,118100
69,5302,2017-05-31,3711,Blue Bell,PA,Philadelphia,Montgomery,5302,419100
90,8237,2017-05-31,3831,Brockway,PA,NaN,Jefferson,8237,86200
136,9462,2017-05-31,4106,Clarks Green,PA,Scranton,Lackawanna,9462,190200
137,5708,2017-05-31,4107,Clarks Summit,PA,Scranton,Lackawanna,5708,161600
205,1653,2017-05-31,4502,Easton,PA,Allentown,Northampton,1653,114400
230,6801,2017-05-31,4615,Etna,PA,Pittsburgh,Allegheny,6801,86400
252,4012,2017-05-31,4727,Fleetwood,PA,Reading,Berks,4012,191300
256,7178,2017-05-31,4745,Ford City,PA,Pittsburgh,Armstrong,7178,53600
322,9477,2017-05-31,5115,Heidelberg,PA,Pittsburgh,Allegheny,9477,123000
344,3771,2017-05-31,5236,Hummelstown,PA,Harrisburg,Dauphin,3771,202200
351,9305,2017-05-31,5279,Industry,PA,Pittsburgh,Beaver,9305,127800
352,6846,2017-05-31,5287,Ingram,PA,Pittsburgh,Allegheny,6846,121400
357,3816,2017-05-31,5332,Jeannette,PA,Pittsburgh,Westmoreland,3816,72000
369,5034,2017-05-31,5396,Kennett Square,PA,Philadelphia,Chester,5034,227500
434,1836,2017-05-31,5714,Lower Paxton,PA,Harrisburg,Dauphin,1836,232600
467,2141,2017-05-31,5875,McKeesport,PA,Pittsburgh,Allegheny,2141,54100
495,4425,2017-05-31,6010,Monessen,PA,Pittsburgh,Westmoreland,4425,60000
509,4507,2017-05-31,6073,Mount Joy,PA,Lancaster,Lancaster,4507,168200
510,7007,2017-05-31,6079,Mount Pocono,PA,East Stroudsburg,Monroe,7007,121400
519,4042,2017-05-31,6127,Nazareth,PA,Allentown,Northampton,4042,214900
520,2924,2017-05-31,6134,Nether Providence,PA,Philadelphia,Delaware,2924,322000
526,6436,2017-05-31,6149,New Freedom,PA,York,York,6436,235900
546,7036,2017-05-31,6242,North Wales,PA,Philadelphia,Montgomery,7036,314300
566,5537,2017-05-31,6319,Olyphant,PA,Scranton,Lackawanna,5537,116300
588,3413,2017-05-31,6521,Pittston Township,PA,Scranton,Luzerne,3413,84300
...,...,...,...,...,...,...,...,...,...
10754,2691,2017-05-31,399136,West Hempfield Township,PA,Lancaster,Lancaster,2691,197000
10757,6816,2017-05-31,399147,London Britain Township,PA,Philadelphia,Chester,6816,354400
10758,2686,2017-05-31,399150,Whitemarsh Township,PA,Philadelphia,Montgomery,2686,381400
10761,3586,2017-05-31,399156,Warwick Township,PA,Lancaster,Lancaster,3586,217700
10765,5832,2017-05-31,399162,Findlay Township,PA,Pittsburgh,Allegheny,5832,172200
10767,3938,2017-05-31,399167,Slippery Rock Township,PA,Pittsburgh,Butler,3938,166400
10768,7528,2017-05-31,399168,Clearfield Township,PA,Pittsburgh,Butler,7528,179900
10772,5429,2017-05-31,399182,Upper Mt Bethel Township,PA,Allentown,Northampton,5429,207200
10773,7205,2017-05-31,399183,South Annville Township,PA,Lebanon,Lebanon,7205,206500
10778,2970,2017-05-31,399194,Guilford Township,PA,Chambersburg,Franklin,2970,193100
10780,8193,2017-05-31,399197,Haycock Township,PA,Philadelphia,Bucks,8193,302400
10781,7845,2017-05-31,399198,Brothersvalley Township,PA,Somerset,Somerset,7845,113500
10782,5630,2017-05-31,399199,East Allen Township,PA,Allentown,Northampton,5630,227000
10784,7494,2017-05-31,399202,Lackawannock Township,PA,Youngstown,Mercer,7494,144900
10792,7723,2017-05-31,399222,Plumcreek Township,PA,Pittsburgh,Armstrong,7723,140000
10793,6346,2017-05-31,399226,East Drumore Township,PA,Lancaster,Lancaster,6346,225600
10795,9112,2017-05-31,399236,Wilmington Township,PA,Youngstown,Mercer,9112,170000
10798,2696,2017-05-31,399248,Antrim Township,PA,Chambersburg,Franklin,2696,187600
10799,9444,2017-05-31,399252,Parks Township,PA,Pittsburgh,Armstrong,9444,133500
10802,7425,2017-05-31,399263,Greene Township,PA,Pittsburgh,Beaver,7425,191800
10804,6857,2017-05-31,399265,Douglass Township,PA,Reading,Berks,6857,188100
10807,6667,2017-05-31,399270,Newport Township,PA,Scranton,Luzerne,6667,71200
10808,2104,2017-05-31,399271,Penn Township,PA,Pittsburgh,Westmoreland,2104,161200
10811,4418,2017-05-31,399278,East Vincent Township,PA,Philadelphia,Chester,4418,347700
10817,6475,2017-05-31,399289,Penn Township,PA,Pittsburgh,Butler,6475,224300
10818,6119,2017-05-31,399290,Sugarloaf Township,PA,Scranton,Luzerne,6119,173000
10819,2971,2017-05-31,399292,Whitpain Township,PA,Philadelphia,Montgomery,2971,424500
10822,2813,2017-05-31,399300,Exeter Township,PA,Reading,Berks,2813,182400
10823,3154,2017-05-31,399305,Swatara Township,PA,Harrisburg,Dauphin,3154,153200
10824,8209,2017-05-31,399307,Berwick Township,PA,Gettysburg,Adams,8209,246600

In [69]:
1 in [1, 2, 3]

True

In [ ]:
df[df.isin({'State': ['CA'], 'Metro': ['San Francisco']})] #nanì´ ë‚˜ì˜¤ë„¤ 
df[] # ì¡°ê±´ì— ë§žëŠ” í–‰ ë½‘ê¸°
df[df.State == 'CA'] # true or false ë‚˜ì˜¤ê¸° # trueë§Œ ë‚˜ì˜¨ë‹¤ 
df[True] # ì¡°ê±°ì´ ì•„ë‹ˆë‹ˆê¹ 
df['State'].isin(['DC', 'PA']) # series type  # true falseë¡œ êµ¬ì„±
df[ df['State'].isin(['DC', 'PA']) ]

#isinì€ ì—¬ëŸ¬ê°œ dictí¬ë§·
df.isin({'State': ['CA'], 'Metro': ['San Francisco']}) # dataframeì˜ ì¡°ê±´ì„ ë„£ì—ˆê¸° ë•Œë¬¸ì— dataframe


#dict -> colum (ì»´ëŸ¼ì´ í•˜ë‚˜ë©´ ì‹œë¦¬ì¦ˆ , ì»¬ëŸ¼ì´ 2ê°œ ì´ìƒì´ë©´ ë°ì´í„°í”„ë ˆìž„)
df.columns
df['Date'] # ì‹œë¦¬ì¦ˆ
df[['Date']] # ë°ì´í„° í”„ë ˆìž„
# attr -> ë¬´ì¡°ê±´ ì‹œë¦¬ì¦ˆ 
# loc -> ,ì—†ì´ ë‚˜ì˜¤ë©´ í–‰(ì „ì²´ì˜ ì—´ ë‹¤ ) -> ë°ì´í„° í”„ë ˆìž„
# ì „ì²´ì—´ ë½‘ë“ ë° í•œ ê°œë§Œ ë½‘ìœ¼ë©´ ì‹œë¦¬ì¦ˆ 
df.loc[1:3,"Date"] # ì‹œë¦¬ì¦ˆ 
df.loc[1:3,["Date"]] # ë°ì´í„°í”„ëž˜ìž„
# ì‹œë¦¬ì¦ˆ ë°ì´í„°í”„ë ˆìž„ ê°€ê° ì“°ì´ëŠ” ë©”ì„œë“œê°€ ë‹¤ë¥´ë‹¤ 
# iloc -> data frame or series


df[ì¡°ê±´] # -> ì°¸ì¸ê²ƒë§Œ ë¶ˆëŸ¬ì˜¨ë‹¤ 
# $ -> í•œ ì»¬ëŸ¼ì—ì„œë§Œ ì¡°ê±´ì„ ì—¬ëŸ¬ê°œ ë¶™ì¼ ë•Œ
# ê°ê° ì»¬ëŸ¼ì— ì¡°ê±´ì„ ì¤„ ë•Œ , dict ë°©ì‹ 
df[df.isin({'State': ['CA'], 'Metro': ['San Francisco']})] #nanì´ ë‚˜ì˜¤ë„¤ ????????