In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('pew.txt', sep ='\t')

In [15]:
df = df.set_index('religion')

In [5]:
df

,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
religion,,,,,,,,,,
Agnostic,27,34,60,81,76,137,122,109,84,96
Atheist,12,27,37,52,35,70,73,59,74,76
Buddhist,27,21,30,34,33,58,62,39,53,54
Catholic,418,617,732,670,638,1116,949,792,633,1489
Don’t know/refused,15,14,15,11,10,35,21,17,18,116
Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
Hindu,1,9,7,9,11,34,47,48,54,37
Historically Black Prot,228,244,236,238,197,223,131,81,78,339
Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
Jewish,19,19,25,25,30,95,69,87,151,162
Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
Mormon,29,40,48,51,56,112,85,49,42,69
Muslim,6,7,9,10,9,23,16,8,6,22
Orthodox,13,17,23,32,32,47,38,42,46,73
Other Christian,9,7,11,13,13,14,18,14,12,18
Other Faiths,20,33,40,46,49,63,46,40,41,71
Other World Religions,5,2,3,4,2,7,3,4,4,8
Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [6]:
df =df.stack()

In [7]:
df #series # 한열로 쫙 쌓는거야 # axixs = index

religion
Agnostic               <$10k                  27
                       $10-20k                34
                       $20-30k                60
                       $30-40k                81
                       $40-50k                76
                       $50-75k               137
                       $75-100k              122
                       $100-150k             109
                       >150k                  84
                       Don't know/refused     96
Atheist                <$10k                  12
                       $10-20k                27
                       $20-30k                37
                       $30-40k                52
                       $40-50k                35
                       $50-75k                70
                       $75-100k               73
                       $100-150k              59
                       >150k                  74
                       Don't know/refused     76
Buddhist               <$10k                  27
                       $10-20k                21
                       $20-30k                30
                       $30-40k                34
                       $40-50k                33
                       $50-75k                58
                       $75-100k               62
                       $100-150k              39
                       >150k                  53
                       Don't know/refused     54
                                            ...
Other Faiths           <$10k                  20
                       $10-20k                33
                       $20-30k                40
                       $30-40k                46
                       $40-50k                49
                       $50-75k                63
                       $75-100k               46
                       $100-150k              40
                       >150k                  41
                       Don't know/refused     71
Other World Religions  <$10k                   5
                       $10-20k                 2
                       $20-30k                 3
                       $30-40k                 4
                       $40-50k                 2
                       $50-75k                 7
                       $75-100k                3
                       $100-150k               4
                       >150k                   4
                       Don't know/refused      8
Unaffiliated           <$10k                 217
                       $10-20k               299
                       $20-30k               374
                       $30-40k               365
                       $40-50k               341
                       $50-75k               528
                       $75-100k              407
                       $100-150k             321
                       >150k                 258
                       Don't know/refused    597
Length: 180, dtype: int64

In [12]:
df = df.unstack()

In [13]:
df # axis = column

                    religion
<$10k               Agnostic                     27
                    Atheist                      12
                    Buddhist                     27
                    Catholic                    418
                    Don’t know/refused           15
                    Evangelical Prot            575
                    Hindu                         1
                    Historically Black Prot     228
                    Jehovah's Witness            20
                    Jewish                       19
                    Mainline Prot               289
                    Mormon                       29
                    Muslim                        6
                    Orthodox                     13
                    Other Christian               9
                    Other Faiths                 20
                    Other World Religions         5
                    Unaffiliated                217
$10-20k             Agnostic                     34
                    Atheist                      27
                    Buddhist                     21
                    Catholic                    617
                    Don’t know/refused           14
                    Evangelical Prot            869
                    Hindu                         9
                    Historically Black Prot     244
                    Jehovah's Witness            27
                    Jewish                       19
                    Mainline Prot               495
                    Mormon                       40
                                               ...
>150k               Hindu                        54
                    Historically Black Prot      78
                    Jehovah's Witness             6
                    Jewish                      151
                    Mainline Prot               634
                    Mormon                       42
                    Muslim                        6
                    Orthodox                     46
                    Other Christian              12
                    Other Faiths                 41
                    Other World Religions         4
                    Unaffiliated                258
Don't know/refused  Agnostic                     96
                    Atheist                      76
                    Buddhist                     54
                    Catholic                   1489
                    Don’t know/refused          116
                    Evangelical Prot           1529
                    Hindu                        37
                    Historically Black Prot     339
                    Jehovah's Witness            37
                    Jewish                      162
                    Mainline Prot              1328
                    Mormon                       69
                    Muslim                       22
                    Orthodox                     73
                    Other Christian              18
                    Other Faiths                 71
                    Other World Religions         8
                    Unaffiliated                597
Length: 180, dtype: int64

In [16]:
df.index

Index(['Agnostic', 'Atheist', 'Buddhist', 'Catholic', 'Don’t know/refused',
       'Evangelical Prot', 'Hindu', 'Historically Black Prot',
       'Jehovah's Witness', 'Jewish', 'Mainline Prot', 'Mormon', 'Muslim',
       'Orthodox', 'Other Christian', 'Other Faiths', 'Other World Religions',
       'Unaffiliated'],
      dtype='object', name='religion')

In [17]:
df.index = df.index.rename('A')

In [19]:
df.index

Index(['Agnostic', 'Atheist', 'Buddhist', 'Catholic', 'Don’t know/refused',
       'Evangelical Prot', 'Hindu', 'Historically Black Prot',
       'Jehovah's Witness', 'Jewish', 'Mainline Prot', 'Mormon', 'Muslim',
       'Orthodox', 'Other Christian', 'Other Faiths', 'Other World Religions',
       'Unaffiliated'],
      dtype='object', name='A')

In [20]:
df.<$10k # 연산자 우선순위 겹치기 때문에 딕셔너리 사용

SyntaxError: invalid syntax (<ipython-input-20-68506635f693>, line 1)

In [22]:
a = df['<$10k']

In [24]:
a.rename('BBB')

A
Agnostic                    27
Atheist                     12
Buddhist                    27
Catholic                   418
Don’t know/refused          15
Evangelical Prot           575
Hindu                        1
Historically Black Prot    228
Jehovah's Witness           20
Jewish                      19
Mainline Prot              289
Mormon                      29
Muslim                       6
Orthodox                    13
Other Christian              9
Other Faiths                20
Other World Religions        5
Unaffiliated               217
Name: BBB, dtype: int64

In [25]:
df # 반영이 안됨 df자체 rename 해야한다.

,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
A,,,,,,,,,,
Agnostic,27,34,60,81,76,137,122,109,84,96
Atheist,12,27,37,52,35,70,73,59,74,76
Buddhist,27,21,30,34,33,58,62,39,53,54
Catholic,418,617,732,670,638,1116,949,792,633,1489
Don’t know/refused,15,14,15,11,10,35,21,17,18,116
Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
Hindu,1,9,7,9,11,34,47,48,54,37
Historically Black Prot,228,244,236,238,197,223,131,81,78,339
Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
Jewish,19,19,25,25,30,95,69,87,151,162
Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
Mormon,29,40,48,51,56,112,85,49,42,69
Muslim,6,7,9,10,9,23,16,8,6,22
Orthodox,13,17,23,32,32,47,38,42,46,73
Other Christian,9,7,11,13,13,14,18,14,12,18
Other Faiths,20,33,40,46,49,63,46,40,41,71
Other World Religions,5,2,3,4,2,7,3,4,4,8
Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Agnostic to Unaffiliated
Data columns (total 10 columns):
<$10k                 18 non-null int64
$10-20k               18 non-null int64
$20-30k               18 non-null int64
$30-40k               18 non-null int64
$40-50k               18 non-null int64
$50-75k               18 non-null int64
$75-100k              18 non-null int64
$100-150k             18 non-null int64
>150k                 18 non-null int64
Don't know/refused    18 non-null int64
dtypes: int64(10)
memory usage: 2.2+ KB

In [27]:
df['<$10k'] = df['<$10k'].astype('category')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Agnostic to Unaffiliated
Data columns (total 10 columns):
<$10k                 18 non-null category
$10-20k               18 non-null int64
$20-30k               18 non-null int64
$30-40k               18 non-null int64
$40-50k               18 non-null int64
$50-75k               18 non-null int64
$75-100k              18 non-null int64
$100-150k             18 non-null int64
>150k                 18 non-null int64
Don't know/refused    18 non-null int64
dtypes: category(1), int64(9)
memory usage: 2.8+ KB

In [29]:
df.describe()

,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,154.500000,186.500000,183.444444,171.388889,288.055556,221.666667,177.611111,144.888889,340.055556
std,255.172433,309.891869,291.470354,271.144446,458.442436,345.078849,275.679724,205.224952,530.523878
min,2.000000,3.000000,4.000000,2.000000,7.000000,3.000000,4.000000,4.000000,8.000000
25%,14.750000,17.000000,15.750000,15.000000,34.250000,25.250000,22.500000,23.750000,41.250000
50%,27.000000,33.500000,40.000000,34.000000,66.500000,65.500000,48.500000,53.500000,74.500000
75%,193.000000,192.000000,198.750000,166.750000,201.500000,128.750000,103.500000,134.250000,294.750000
max,869.000000,1064.000000,982.000000,881.000000,1486.000000,949.000000,792.000000,634.000000,1529.000000

In [33]:
df.category = df['<$10k']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [34]:
df.category = df.category.astype('category')

In [35]:
df.category.describe()

count     18
unique    16
top       27
freq       2
Name: <$10k, dtype: int64

In [36]:
df.category.cat.codes # 문자 데이터를 숫자 데이터로 만드는게 중요하다

A
Agnostic                    9
Atheist                     4
Buddhist                    9
Catholic                   14
Don’t know/refused          6
Evangelical Prot           15
Hindu                       0
Historically Black Prot    12
Jehovah's Witness           8
Jewish                      7
Mainline Prot              13
Mormon                     10
Muslim                      2
Orthodox                    5
Other Christian             3
Other Faiths                8
Other World Religions       1
Unaffiliated               11
dtype: int8

In [37]:
# one - htot ecncoding
# label encoding

In [38]:
# astype('datetype')

In [ ]:
# 데이터 읽기
# info
# 데이터 훓어보기 insight 찾기 
# astype으로 데이터 변경 
# 전처리란? -> 통계치 보고 agrigation하는디 전처리 겁나 하는거야