In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./data/pew.txt", delimiter="\t")

In [3]:
data

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [4]:
data_long = pd.melt(data, id_vars= "religion") # id_vars 안바뀌는것 rename 이나 컬럼즈

In [5]:
data_long = pd.melt(data, id_vars="religion", var_name="income", value_name="count")

In [6]:
data_long.head()

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [9]:
data.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [10]:
data.unstack()

religion            0                    Agnostic
                    1                     Atheist
                    2                    Buddhist
                    3                    Catholic
                    4          Don’t know/refused
                    5            Evangelical Prot
                    6                       Hindu
                    7     Historically Black Prot
                    8           Jehovah's Witness
                    9                      Jewish
                    10              Mainline Prot
                    11                     Mormon
                    12                     Muslim
                    13                   Orthodox
                    14            Other Christian
                    15               Other Faiths
                    16      Other World Religions
                    17               Unaffiliated
<$10k               0                          27
                    1                          12
                    2                          27
                    3                         418
                    4                          15
                    5                         575
                    6                           1
                    7                         228
                    8                          20
                    9                          19
                    10                        289
                    11                         29
                                   ...
>150k               6                          54
                    7                          78
                    8                           6
                    9                         151
                    10                        634
                    11                         42
                    12                          6
                    13                         46
                    14                         12
                    15                         41
                    16                          4
                    17                        258
Don't know/refused  0                          96
                    1                          76
                    2                          54
                    3                        1489
                    4                         116
                    5                        1529
                    6                          37
                    7                         339
                    8                          37
                    9                         162
                    10                       1328
                    11                         69
                    12                         22
                    13                         73
                    14                         18
                    15                         71
                    16                          8
                    17                        597
Length: 198, dtype: object

In [11]:
# object -> category -> 함수 통계 할 때 좋아
#        ->  str
# bool
# int64
# float64

In [12]:
data2 = pd.read_csv("./data/billboard_utf.csv", sep=",")

In [13]:
data2

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,2000-07-29,82,70.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,2000-01-15,71,51.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,2000-07-15,70,61.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,2000-11-11,84,78.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,2000-06-17,59,53.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,60,37.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,2000-02-19,82,68.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,81,68.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,2000-12-02,72,57.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,2000-12-30,99,92.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,2000-05-06,63,55.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,77,54.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,"98?,Give Me Just One Night (Una Noche)""",3:24,Rock,2000-08-19,2000-09-30,51,39,34.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,2000-08-19,74,71.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,81,70.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,2000-05-20,74,63.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,2000-07-01,50,39.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,2000-01-08,81,68.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,2000-07-01,94,86.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,92,80.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,2000-09-09,91,87.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,2000-09-16,98,96.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,Eve,Got It All,3:48,Rap,2000-07-15,2000-07-22,89,88.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,Limp Bizkit,Re-Arranged,4:08,Rock,1999-12-04,2000-02-05,91,91.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,"Spencer, Tracie",Still In My Heart,4:11,Rock,2000-03-04,2000-03-11,95,88.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Nu Flavor,3 Little Words,3:54,R&B,2000-06-03,2000-06-17,97,97.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Tamar,If You Don't Wanna Love Me,4:02,Rock,2000-03-25,2000-04-15,98,98.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Levert, Gerald",Baby U Are,4:10,R&B,2000-08-19,2000-08-26,96,89.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,"Hart, Beth",L.A. Song,3:47,Country,1999-11-27,2000-01-15,99,100.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Diffie, Joe",The Quittin' Kind,3:23,Country,2000-01-01,2000-01-22,98,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Funkmaster Flex,Do You,4:14,Rap,2000-11-11,2000-12-02,92,92.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Price, Kelly",Love Sets You Free,3:46,Rock,2000-05-13,2000-05-20,92,91.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,En Vogue,Riddle,5:10,Rock,2000-06-17,2000-06-17,92,92.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,"Herndon, Ty",No Mercy,4:43,Country,2000-03-18,2000-05-06,100,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,92,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Trina,Pull Over,2:58,Rap,2000-09-09,2000-09-16,97,93.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Lil' Mo,Ta Da,4:17,Rap,2000-08-12,2000-09-16,100,99.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,A*Teens,Dancing Queen,3:44,Pop,2000-07-08,2000-07-29,97,97.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Sheist, Shade",Where I Wanna Be,4:16,Rap,2000-11-11,2000-11-18,96,95.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,De La Soul,All Good?,5:02,Rap,2000-12-23,2000-12-23,96,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,"Larrieux, Amel",Get Up,4:02,R&B,2000-03-04,2000-03-11,100,97.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Braxton, Toni",Spanish Guitar,4:24,Rock,2000-12-02,2000-12-02,98,98.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,Tuesday,I Know,4:06,Rock,2000-12-30,2000-12-30,98,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,LL Cool J,Imagine That,4:00,Rap,2000-08-12,2000-08-19,99,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,Master P,Souljas,3:33,Rap,2000-11-18,2000-11-18,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data2_long = pd.melt(data2, id_vars=["year", "artist.inverted", "track", "time", "genre"],
                    var_name="week", 
                    value_name="rating") 
# pd. -> 첫 번째 인자가 data frame # dataframe.melt -> 첫 번째 인자가 dataframe이 아니란 것

In [29]:
data2_long.head()

,year,artist.inverted,track,time,genre,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,date.entered,2000-09-23
1,2000,Santana,"Maria, Maria",4:18,Rock,date.entered,2000-02-12
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,date.entered,1999-10-23
3,2000,Madonna,Music,3:45,Rock,date.entered,2000-08-12
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,date.entered,2000-08-05

In [30]:
data2_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24726 entries, 0 to 24725
Data columns (total 7 columns):
year               24726 non-null int64
artist.inverted    24726 non-null object
track              24726 non-null object
time               24726 non-null object
genre              24726 non-null object
week               24726 non-null object
rating             5940 non-null object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [35]:
data2_long.week = data2_long.week.str.replace('week', '')

In [39]:
import numpy as np

In [42]:
data2_long.week = data2_long.week.str.replace('date.entered', np.nan)

TypeError: repl must be a string or callable

In [43]:
data2_long.week = data2_long.week.str.replace('date.entered', '')

In [51]:
data2_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24726 entries, 0 to 24725
Data columns (total 7 columns):
year               24726 non-null int64
artist.inverted    24726 non-null object
track              24726 non-null object
time               24726 non-null object
genre              24726 non-null object
week               24726 non-null object
rating             5940 non-null object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [52]:
ebola = pd.read_csv("./data/country_timeseries.csv")

In [53]:
ebola # Cases_SierraLeone #국가 # case / country 따로?

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [55]:
ebola.describe()

,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
count,122.000000,93.000000,83.000000,87.000000,38.000000,25.00,18.000000,16.0,12.000000,92.000000,81.000000,87.000000,38.000000,22.0,18.000000,16.000000,12.000000
mean,144.778689,911.064516,2335.337349,2427.367816,16.736842,1.08,3.277778,1.0,3.500000,563.239130,1101.209877,693.701149,6.131579,0.0,0.833333,0.187500,3.166667
std,89.316460,849.108801,2987.966721,3184.803996,5.998577,0.40,1.178511,0.0,2.746899,508.511345,1297.208568,869.947073,2.781901,0.0,0.383482,0.403113,2.405801
min,0.000000,49.000000,3.000000,0.000000,0.000000,1.00,1.000000,1.0,1.000000,29.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000
25%,66.250000,236.000000,25.500000,64.500000,15.000000,1.00,3.000000,1.0,1.000000,157.750000,12.000000,6.000000,4.000000,0.0,1.000000,0.000000,1.000000
50%,150.000000,495.000000,516.000000,783.000000,20.000000,1.00,4.000000,1.0,2.500000,360.500000,294.000000,334.000000,8.000000,0.0,1.000000,0.000000,2.000000
75%,219.500000,1519.000000,4162.500000,3801.000000,20.000000,1.00,4.000000,1.0,6.250000,847.750000,2413.000000,1176.000000,8.000000,0.0,1.000000,0.000000,6.000000
max,289.000000,2776.000000,8166.000000,10030.000000,22.000000,3.00,4.000000,1.0,7.000000,1786.000000,3496.000000,2977.000000,8.000000,0.0,1.000000,1.000000,6.000000

In [56]:
ebola_long = pd.melt(ebola, id_vars= ['Date', 'Day'])
ebola_long .head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [57]:
"Cases_Guinea".split('_')

['Cases', 'Guinea']

In [80]:
# string accessor
variable_split = ebola_long['variable'].str.split('_') # str -> string의 관한 함수를 쓰겠다. # ebola_long['variable'] <- sereise

In [81]:
type(variable_split)

pandas.core.series.Series

In [82]:
variable_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
5       [Cases, Guinea]
6       [Cases, Guinea]
7       [Cases, Guinea]
8       [Cases, Guinea]
9       [Cases, Guinea]
10      [Cases, Guinea]
11      [Cases, Guinea]
12      [Cases, Guinea]
13      [Cases, Guinea]
14      [Cases, Guinea]
15      [Cases, Guinea]
16      [Cases, Guinea]
17      [Cases, Guinea]
18      [Cases, Guinea]
19      [Cases, Guinea]
20      [Cases, Guinea]
21      [Cases, Guinea]
22      [Cases, Guinea]
23      [Cases, Guinea]
24      [Cases, Guinea]
25      [Cases, Guinea]
26      [Cases, Guinea]
27      [Cases, Guinea]
28      [Cases, Guinea]
29      [Cases, Guinea]
             ...
1922     [Deaths, Mali]
1923     [Deaths, Mali]
1924     [Deaths, Mali]
1925     [Deaths, Mali]
1926     [Deaths, Mali]
1927     [Deaths, Mali]
1928     [Deaths, Mali]
1929     [Deaths, Mali]
1930     [Deaths, Mali]
1931     [Deaths, Mali]
1932     [Deaths, Mali]
1933     [Deaths, Mali]
1934     [Deaths, Mali]
1935     [Deaths, Mali]
1936     [Deaths, Mali]
1937     [Deaths, Mali]
1938     [Deaths, Mali]
1939     [Deaths, Mali]
1940     [Deaths, Mali]
1941     [Deaths, Mali]
1942     [Deaths, Mali]
1943     [Deaths, Mali]
1944     [Deaths, Mali]
1945     [Deaths, Mali]
1946     [Deaths, Mali]
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [83]:
type(variable_split[0])

list

In [88]:
variable_split[1951]

['Deaths', 'Mali']

In [89]:
variable_split.get(0)

['Cases', 'Guinea']

In [92]:
variable_split.str.get(0).head()

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object

In [93]:
variable_split.str.get(1).head()

0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object

In [84]:
status_values = variable_split[0]
status_values.head()

AttributeError: 'list' object has no attribute 'head'

In [85]:
status_values = variable_split.get(0)
status_values.head()

AttributeError: 'list' object has no attribute 'head'

In [86]:
status_values = variable_split.str.get(1)
status_values.head()

0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object

In [64]:
ebola_long['status'] = variable_split.str.get(0)
ebola_long['country'] = variable_split.str.get(1)

In [97]:
ebola_long[ebola_long.status=='Deaths'].groupby('country')[['value']].mean()

                    value
country
Guinea         563.239130
Liberia       1101.209877
Mali             3.166667
Nigeria          6.131579
Senegal          0.000000
SierraLeone    693.701149
Spain            0.187500
UnitedStates     0.833333

In [66]:
ebola_long.dropna

            Date  Day      variable   value  status country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea
5     12/28/2014  281  Cases_Guinea  2706.0   Cases  Guinea
6     12/27/2014  280  Cases_Guinea  2695.0   Cases  Guinea
7     12/24/2014  277  Cases_Guinea  2630.0   Cases  Guinea
8     12/21/2014  273  Cases_Guinea  2597.0   Cases  Guinea
9     12/20/2014  272  Cases_Guinea  2571.0   Cases  Guinea
10    12/18/2014  271  Cases_Guinea     NaN   Cases  Guinea
11    12/14/2014  267  Cases_Guinea  2416.0   Cases  Guinea
12     12/9/2014  262  Cases_Guinea     NaN   Cases  Guinea
13     12/7/2014  260  Cases_Guinea  2292.0   Cases  Guinea
14     12/3/2014  256  Cases_Guinea     NaN   Cases  Guinea
15    11/30/2014  253  Cases_Guinea  2164.0   Cases  Guinea
16    11/28/2014  251  Cases_Guinea     NaN   Cases  Guinea
17    11/23/2014  246  Cases_Guinea  2134.0   Cases  Guinea
18    11/22/2014  245  Cases_Guinea     NaN   Cases  Guinea
19    11/18/2014  241  Cases_Guinea  2047.0   Cases  Guinea
20    11/16/2014  239  Cases_Guinea  1971.0   Cases  Guinea
21    11/15/2014  238  Cases_Guinea     NaN   Cases  Guinea
22    11/11/2014  234  Cases_Guinea  1919.0   Cases  Guinea
23    11/10/2014  233  Cases_Guinea     NaN   Cases  Guinea
24     11/9/2014  232  Cases_Guinea  1878.0   Cases  Guinea
25     11/8/2014  231  Cases_Guinea     NaN   Cases  Guinea
26     11/4/2014  227  Cases_Guinea     NaN   Cases  Guinea
27     11/3/2014  226  Cases_Guinea  1760.0   Cases  Guinea
28     11/2/2014  225  Cases_Guinea  1731.0   Cases  Guinea
29    10/31/2014  222  Cases_Guinea     NaN   Cases  Guinea
...          ...  ...           ...     ...     ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN  Deaths    Mali
1923   5/12/2014   51   Deaths_Mali     NaN  Deaths    Mali
1924   5/10/2014   49   Deaths_Mali     NaN  Deaths    Mali
1925    5/7/2014   46   Deaths_Mali     NaN  Deaths    Mali
1926    5/5/2014   44   Deaths_Mali     NaN  Deaths    Mali
1927    5/3/2014   42   Deaths_Mali     NaN  Deaths    Mali
1928    5/1/2014   40   Deaths_Mali     NaN  Deaths    Mali
1929   4/26/2014   35   Deaths_Mali     NaN  Deaths    Mali
1930   4/24/2014   33   Deaths_Mali     NaN  Deaths    Mali
1931   4/23/2014   32   Deaths_Mali     NaN  Deaths    Mali
1932   4/22/2014   31   Deaths_Mali     NaN  Deaths    Mali
1933   4/21/2014   30   Deaths_Mali     NaN  Deaths    Mali
1934   4/20/2014   29   Deaths_Mali     NaN  Deaths    Mali
1935   4/17/2014   26   Deaths_Mali     NaN  Deaths    Mali
1936   4/16/2014   25   Deaths_Mali     NaN  Deaths    Mali
1937   4/15/2014   24   Deaths_Mali     NaN  Deaths    Mali
1938   4/14/2014   23   Deaths_Mali     NaN  Deaths    Mali
1939   4/11/2014   20   Deaths_Mali     NaN  Deaths    Mali
1940    4/9/2014   18   Deaths_Mali     NaN  Deaths    Mali
1941    4/7/2014   16   Deaths_Mali     NaN  Deaths    Mali
1942    4/4/2014   13   Deaths_Mali     NaN  Deaths    Mali
1943    4/1/2014   10   Deaths_Mali     NaN  Deaths    Mali
1944   3/31/2014    9   Deaths_Mali     NaN  Deaths    Mali
1945   3/29/2014    7   Deaths_Mali     NaN  Deaths    Mali
1946   3/28/2014    6   Deaths_Mali     NaN  Deaths    Mali
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali

[1952 rows x 6 columns]

In [67]:
weather = pd.read_csv('./data/weather.txt', delimiter='\t')

In [68]:
weather # day , nan -> dropna

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX000017004,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,MX000017004,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,MX000017004,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX000017004,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX000017004,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,MX000017004,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,MX000017004,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,MX000017004,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,MX000017004,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,MX000017004,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,MX000017004,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX000017004,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX000017004,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,MX000017004,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,MX000017004,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,MX000017004,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,MX000017004,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,MX000017004,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,MX000017004,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX000017004,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
id         22 non-null object
year       22 non-null int64
month      22 non-null int64
element    22 non-null object
d1         2 non-null float64
d2         4 non-null float64
d3         4 non-null float64
d4         2 non-null float64
d5         8 non-null float64
d6         2 non-null float64
d7         2 non-null float64
d8         2 non-null float64
d9         0 non-null float64
d10        2 non-null float64
d11        2 non-null float64
d12        0 non-null float64
d13        2 non-null float64
d14        4 non-null float64
d15        2 non-null float64
d16        2 non-null float64
d17        2 non-null float64
d18        0 non-null float64
d19        0 non-null float64
d20        0 non-null float64
d21        0 non-null float64
d22        0 non-null float64
d23        4 non-null float64
d24        0 non-null float64
d25        2 non-null float64
d26        2 non-null float64
d27        6 non-null float64
d28        2 non-null float64
d29        4 non-null float64
d30        2 non-null float64
d31        2 non-null float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

In [106]:
weather_long = pd.melt(weather, id_vars=["id","year","month","element"],
                    var_name="day", 
                    value_name="temp")

In [107]:
weather_long

              id  year  month element  day   temp
0    MX000017004  2010      1    TMAX   d1    NaN
1    MX000017004  2010      1    TMIN   d1    NaN
2    MX000017004  2010      2    TMAX   d1    NaN
3    MX000017004  2010      2    TMIN   d1    NaN
4    MX000017004  2010      3    TMAX   d1    NaN
5    MX000017004  2010      3    TMIN   d1    NaN
6    MX000017004  2010      4    TMAX   d1    NaN
7    MX000017004  2010      4    TMIN   d1    NaN
8    MX000017004  2010      5    TMAX   d1    NaN
9    MX000017004  2010      5    TMIN   d1    NaN
10   MX000017004  2010      6    TMAX   d1    NaN
11   MX000017004  2010      6    TMIN   d1    NaN
12   MX000017004  2010      7    TMAX   d1    NaN
13   MX000017004  2010      7    TMIN   d1    NaN
14   MX000017004  2010      8    TMAX   d1    NaN
15   MX000017004  2010      8    TMIN   d1    NaN
16   MX000017004  2010     10    TMAX   d1    NaN
17   MX000017004  2010     10    TMIN   d1    NaN
18   MX000017004  2010     11    TMAX   d1    NaN
19   MX000017004  2010     11    TMIN   d1    NaN
20   MX000017004  2010     12    TMAX   d1  299.0
21   MX000017004  2010     12    TMIN   d1  138.0
22   MX000017004  2010      1    TMAX   d2    NaN
23   MX000017004  2010      1    TMIN   d2    NaN
24   MX000017004  2010      2    TMAX   d2  273.0
25   MX000017004  2010      2    TMIN   d2  144.0
26   MX000017004  2010      3    TMAX   d2    NaN
27   MX000017004  2010      3    TMIN   d2    NaN
28   MX000017004  2010      4    TMAX   d2    NaN
29   MX000017004  2010      4    TMIN   d2    NaN
..           ...   ...    ...     ...  ...    ...
652  MX000017004  2010      8    TMAX  d30    NaN
653  MX000017004  2010      8    TMIN  d30    NaN
654  MX000017004  2010     10    TMAX  d30    NaN
655  MX000017004  2010     10    TMIN  d30    NaN
656  MX000017004  2010     11    TMAX  d30    NaN
657  MX000017004  2010     11    TMIN  d30    NaN
658  MX000017004  2010     12    TMAX  d30    NaN
659  MX000017004  2010     12    TMIN  d30    NaN
660  MX000017004  2010      1    TMAX  d31    NaN
661  MX000017004  2010      1    TMIN  d31    NaN
662  MX000017004  2010      2    TMAX  d31    NaN
663  MX000017004  2010      2    TMIN  d31    NaN
664  MX000017004  2010      3    TMAX  d31    NaN
665  MX000017004  2010      3    TMIN  d31    NaN
666  MX000017004  2010      4    TMAX  d31    NaN
667  MX000017004  2010      4    TMIN  d31    NaN
668  MX000017004  2010      5    TMAX  d31    NaN
669  MX000017004  2010      5    TMIN  d31    NaN
670  MX000017004  2010      6    TMAX  d31    NaN
671  MX000017004  2010      6    TMIN  d31    NaN
672  MX000017004  2010      7    TMAX  d31    NaN
673  MX000017004  2010      7    TMIN  d31    NaN
674  MX000017004  2010      8    TMAX  d31  254.0
675  MX000017004  2010      8    TMIN  d31  154.0
676  MX000017004  2010     10    TMAX  d31    NaN
677  MX000017004  2010     10    TMIN  d31    NaN
678  MX000017004  2010     11    TMAX  d31    NaN
679  MX000017004  2010     11    TMIN  d31    NaN
680  MX000017004  2010     12    TMAX  d31    NaN
681  MX000017004  2010     12    TMIN  d31    NaN

[682 rows x 6 columns]

In [108]:
weather_long.dropna(inplace=True)

In [109]:
weather_long[weather_long.day == "d1"]

             id  year  month element day   temp
20  MX000017004  2010     12    TMAX  d1  299.0
21  MX000017004  2010     12    TMIN  d1  138.0

In [110]:
weather_long.pivot_table(index=["id","year","month","day"],columns="element",values="temp").reset_index()

element           id  year  month  day   TMAX   TMIN
0        MX000017004  2010      1  d30  278.0  145.0
1        MX000017004  2010      2  d11  297.0  134.0
2        MX000017004  2010      2   d2  273.0  144.0
3        MX000017004  2010      2  d23  299.0  107.0
4        MX000017004  2010      2   d3  241.0  144.0
5        MX000017004  2010      3  d10  345.0  168.0
6        MX000017004  2010      3  d16  311.0  176.0
7        MX000017004  2010      3   d5  321.0  142.0
8        MX000017004  2010      4  d27  363.0  167.0
9        MX000017004  2010      5  d27  332.0  182.0
10       MX000017004  2010      6  d17  280.0  175.0
11       MX000017004  2010      6  d29  301.0  180.0
12       MX000017004  2010      7  d14  299.0  165.0
13       MX000017004  2010      7   d3  286.0  175.0
14       MX000017004  2010      8  d13  298.0  165.0
15       MX000017004  2010      8  d23  264.0  150.0
16       MX000017004  2010      8  d25  297.0  156.0
17       MX000017004  2010      8  d29  280.0  153.0
18       MX000017004  2010      8  d31  254.0  154.0
19       MX000017004  2010      8   d5  296.0  158.0
20       MX000017004  2010      8   d8  290.0  173.0
21       MX000017004  2010     10  d14  295.0  130.0
22       MX000017004  2010     10  d15  287.0  105.0
23       MX000017004  2010     10  d28  312.0  150.0
24       MX000017004  2010     10   d5  270.0  140.0
25       MX000017004  2010     10   d7  281.0  129.0
26       MX000017004  2010     11   d2  313.0  163.0
27       MX000017004  2010     11  d26  281.0  121.0
28       MX000017004  2010     11  d27  277.0  142.0
29       MX000017004  2010     11   d4  272.0  120.0
30       MX000017004  2010     11   d5  263.0   79.0
31       MX000017004  2010     12   d1  299.0  138.0
32       MX000017004  2010     12   d6  278.0  105.0

In [111]:
weather_long_pivot = (weather_long.pivot_table(index=["id","year","month","day"],columns="element",values="temp").reset_index() )

In [113]:
weather_long_pivot[weather_long_pivot.day == 'd1']

element           id  year  month day   TMAX   TMIN
31       MX000017004  2010     12  d1  299.0  138.0

In [114]:
weather_long.reset_index()

element           id  year  month  day   TMAX   TMIN
0        MX000017004  2010      1  d30  278.0  145.0
1        MX000017004  2010      2  d11  297.0  134.0
2        MX000017004  2010      2   d2  273.0  144.0
3        MX000017004  2010      2  d23  299.0  107.0
4        MX000017004  2010      2   d3  241.0  144.0
5        MX000017004  2010      3  d10  345.0  168.0
6        MX000017004  2010      3  d16  311.0  176.0
7        MX000017004  2010      3   d5  321.0  142.0
8        MX000017004  2010      4  d27  363.0  167.0
9        MX000017004  2010      5  d27  332.0  182.0
10       MX000017004  2010      6  d17  280.0  175.0
11       MX000017004  2010      6  d29  301.0  180.0
12       MX000017004  2010      7  d14  299.0  165.0
13       MX000017004  2010      7   d3  286.0  175.0
14       MX000017004  2010      8  d13  298.0  165.0
15       MX000017004  2010      8  d23  264.0  150.0
16       MX000017004  2010      8  d25  297.0  156.0
17       MX000017004  2010      8  d29  280.0  153.0
18       MX000017004  2010      8  d31  254.0  154.0
19       MX000017004  2010      8   d5  296.0  158.0
20       MX000017004  2010      8   d8  290.0  173.0
21       MX000017004  2010     10  d14  295.0  130.0
22       MX000017004  2010     10  d15  287.0  105.0
23       MX000017004  2010     10  d28  312.0  150.0
24       MX000017004  2010     10   d5  270.0  140.0
25       MX000017004  2010     10   d7  281.0  129.0
26       MX000017004  2010     11   d2  313.0  163.0
27       MX000017004  2010     11  d26  281.0  121.0
28       MX000017004  2010     11  d27  277.0  142.0
29       MX000017004  2010     11   d4  272.0  120.0
30       MX000017004  2010     11   d5  263.0   79.0
31       MX000017004  2010     12   d1  299.0  138.0
32       MX000017004  2010     12   d6  278.0  105.0

In [125]:
billboard = pd.read_csv("./data/billboard.csv", engine='python')

In [126]:
billboard

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,2000-07-29,82,70.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,2000-01-15,71,51.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,2000-07-15,70,61.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,2000-11-11,84,78.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,2000-06-17,59,53.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,60,37.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,2000-02-19,82,68.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,81,68.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,2000-12-02,72,57.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,2000-12-30,99,92.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,2000-05-06,63,55.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,77,54.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,98�,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,2000-09-30,51,39.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,2000-08-19,74,71.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,81,70.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,2000-05-20,74,63.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,2000-07-01,50,39.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,2000-01-08,81,68.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,2000-07-01,94,86.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,92,80.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,2000-09-09,91,87.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,2000-09-16,98,96.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,Eve,Got It All,3:48,Rap,2000-07-15,2000-07-22,89,88.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,Limp Bizkit,Re-Arranged,4:08,Rock,1999-12-04,2000-02-05,91,91.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,"Spencer, Tracie",Still In My Heart,4:11,Rock,2000-03-04,2000-03-11,95,88.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Nu Flavor,3 Little Words,3:54,R&B,2000-06-03,2000-06-17,97,97.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Tamar,If You Don't Wanna Love Me,4:02,Rock,2000-03-25,2000-04-15,98,98.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Levert, Gerald",Baby U Are,4:10,R&B,2000-08-19,2000-08-26,96,89.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,"Hart, Beth",L.A. Song,3:47,Country,1999-11-27,2000-01-15,99,100.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Diffie, Joe",The Quittin' Kind,3:23,Country,2000-01-01,2000-01-22,98,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Funkmaster Flex,Do You,4:14,Rap,2000-11-11,2000-12-02,92,92.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Price, Kelly",Love Sets You Free,3:46,Rock,2000-05-13,2000-05-20,92,91.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,En Vogue,Riddle,5:10,Rock,2000-06-17,2000-06-17,92,92.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,"Herndon, Ty",No Mercy,4:43,Country,2000-03-18,2000-05-06,100,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,92,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Trina,Pull Over,2:58,Rap,2000-09-09,2000-09-16,97,93.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Lil' Mo,Ta Da,4:17,Rap,2000-08-12,2000-09-16,100,99.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,A*Teens,Dancing Queen,3:44,Pop,2000-07-08,2000-07-29,97,97.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Sheist, Shade",Where I Wanna Be,4:16,Rap,2000-11-11,2000-11-18,96,95.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,De La Soul,All Good?,5:02,Rap,2000-12-23,2000-12-23,96,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,"Larrieux, Amel",Get Up,4:02,R&B,2000-03-04,2000-03-11,100,97.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Braxton, Toni",Spanish Guitar,4:24,Rock,2000-12-02,2000-12-02,98,98.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,Tuesday,I Know,4:06,Rock,2000-12-30,2000-12-30,98,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,LL Cool J,Imagine That,4:00,Rap,2000-08-12,2000-08-19,99,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,Master P,Souljas,3:33,Rap,2000-11-18,2000-11-18,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
billboard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 83 columns):
year               317 non-null int64
artist.inverted    317 non-null object
track              317 non-null object
time               317 non-null object
genre              317 non-null object
date.entered       317 non-null object
date.peaked        317 non-null object
x1st.week          317 non-null int64
x2nd.week          312 non-null float64
x3rd.week          307 non-null float64
x4th.week          300 non-null float64
x5th.week          292 non-null float64
x6th.week          280 non-null float64
x7th.week          269 non-null float64
x8th.week          260 non-null float64
x9th.week          253 non-null float64
x10th.week         244 non-null float64
x11th.week         236 non-null float64
x12th.week         222 non-null float64
x13th.week         210 non-null float64
x14th.week         204 non-null float64
x15th.week         197 non-null float64
x16th.week         182 non-null float64
x17th.week         177 non-null float64
x18th.week         166 non-null float64
x19th.week         156 non-null float64
x20th.week         146 non-null float64
x21st.week         65 non-null float64
x22nd.week         55 non-null float64
x23rd.week         48 non-null float64
x24th.week         46 non-null float64
x25th.week         38 non-null float64
x26th.week         36 non-null float64
x27th.week         29 non-null float64
x28th.week         24 non-null float64
x29th.week         20 non-null float64
x30th.week         20 non-null float64
x31st.week         19 non-null float64
x32nd.week         18 non-null float64
x33rd.week         12 non-null float64
x34th.week         10 non-null float64
x35th.week         9 non-null float64
x36th.week         9 non-null float64
x37th.week         9 non-null float64
x38th.week         8 non-null float64
x39th.week         8 non-null float64
x40th.week         7 non-null float64
x41st.week         7 non-null float64
x42nd.week         6 non-null float64
x43rd.week         6 non-null float64
x44th.week         6 non-null float64
x45th.week         5 non-null float64
x46th.week         5 non-null float64
x47th.week         5 non-null float64
x48th.week         4 non-null float64
x49th.week         4 non-null float64
x50th.week         4 non-null float64
x51st.week         4 non-null float64
x52nd.week         4 non-null float64
x53rd.week         4 non-null float64
x54th.week         2 non-null float64
x55th.week         2 non-null float64
x56th.week         2 non-null float64
x57th.week         2 non-null float64
x58th.week         2 non-null float64
x59th.week         2 non-null float64
x60th.week         2 non-null float64
x61st.week         2 non-null float64
x62nd.week         2 non-null float64
x63rd.week         2 non-null float64
x64th.week         2 non-null float64
x65th.week         1 non-null float64
x66th.week         0 non-null float64
x67th.week         0 non-null float64
x68th.week         0 non-null float64
x69th.week         0 non-null float64
x70th.week         0 non-null float64
x71st.week         0 non-null float64
x72nd.week         0 non-null float64
x73rd.week         0 non-null float64
x74th.week         0 non-null float64
x75th.week         0 non-null float64
x76th.week         0 non-null float64
dtypes: float64(75), int64(2), object(6)
memory usage: 205.6+ KB

In [128]:
billboard.describe()

,year,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
count,317.0,317.000000,312.000000,307.000000,300.000000,292.000000,280.000000,269.000000,260.000000,253.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2000.0,79.958991,71.173077,65.045603,59.763333,56.339041,52.360714,49.219331,47.119231,46.343874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,14.686865,18.200443,20.752302,22.324619,23.780022,24.473273,25.654279,26.370782,27.136419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2000.0,15.000000,8.000000,6.000000,5.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2000.0,74.000000,63.000000,53.000000,44.750000,38.750000,33.750000,30.000000,27.000000,26.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2000.0,81.000000,73.000000,66.000000,61.000000,57.000000,51.500000,47.000000,45.500000,42.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2000.0,91.000000,84.000000,79.000000,76.000000,73.250000,72.250000,67.000000,67.000000,67.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2000.0,100.000000,100.000000,100.000000,100.000000,100.000000,99.000000,100.000000,99.000000,100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
billboard_long = pd.melt(billboard, id_vars=["year","artist.inverted", "track", "time","genre","date.entered","date.peaked"],
                   var_name="week",
                        value_name="rating")

In [141]:
billboard_long

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,x1st.week,59.0
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,x1st.week,83.0
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,x1st.week,63.0
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,x1st.week,77.0
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x1st.week,81.0
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,2000-07-29,x1st.week,82.0
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,2000-01-15,x1st.week,71.0
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,2000-07-15,x1st.week,70.0
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,2000-11-11,x1st.week,84.0
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,2000-06-17,x1st.week,59.0
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,x1st.week,60.0
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,2000-02-19,x1st.week,82.0
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,x1st.week,81.0
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,2000-12-02,x1st.week,72.0
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,2000-12-30,x1st.week,99.0
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,2000-05-06,x1st.week,63.0
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,x1st.week,77.0
22,2000,98�,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,2000-09-30,x1st.week,51.0
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,2000-08-19,x1st.week,74.0
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,x1st.week,81.0
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,2000-05-20,x1st.week,74.0
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,2000-07-01,x1st.week,50.0
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,2000-01-08,x1st.week,81.0
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,2000-07-01,x1st.week,94.0
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,x1st.week,92.0
...,...,...,...,...,...,...,...,...,...
24062,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,2000-09-09,x76th.week,NaN
24063,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,2000-09-16,x76th.week,NaN
24064,2000,Eve,Got It All,3:48,Rap,2000-07-15,2000-07-22,x76th.week,NaN
24065,2000,Limp Bizkit,Re-Arranged,4:08,Rock,1999-12-04,2000-02-05,x76th.week,NaN
24066,2000,"Spencer, Tracie",Still In My Heart,4:11,Rock,2000-03-04,2000-03-11,x76th.week,NaN
24067,2000,Nu Flavor,3 Little Words,3:54,R&B,2000-06-03,2000-06-17,x76th.week,NaN
24068,2000,Tamar,If You Don't Wanna Love Me,4:02,Rock,2000-03-25,2000-04-15,x76th.week,NaN
24069,2000,"Levert, Gerald",Baby U Are,4:10,R&B,2000-08-19,2000-08-26,x76th.week,NaN
24070,2000,"Hart, Beth",L.A. Song,3:47,Country,1999-11-27,2000-01-15,x76th.week,NaN
24071,2000,"Diffie, Joe",The Quittin' Kind,3:23,Country,2000-01-01,2000-01-22,x76th.week,NaN
24072,2000,Funkmaster Flex,Do You,4:14,Rap,2000-11-11,2000-12-02,x76th.week,NaN
24073,2000,"Price, Kelly",Love Sets You Free,3:46,Rock,2000-05-13,2000-05-20,x76th.week,NaN
24074,2000,En Vogue,Riddle,5:10,Rock,2000-06-17,2000-06-17,x76th.week,NaN
24075,2000,"Herndon, Ty",No Mercy,4:43,Country,2000-03-18,2000-05-06,x76th.week,NaN
24076,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,x76th.week,NaN
24077,2000,Trina,Pull Over,2:58,Rap,2000-09-09,2000-09-16,x76th.week,NaN
24078,2000,Lil' Mo,Ta Da,4:17,Rap,2000-08-12,2000-09-16,x76th.week,NaN
24079,2000,A*Teens,Dancing Queen,3:44,Pop,2000-07-08,2000-07-29,x76th.week,NaN
24080,2000,"Sheist, Shade",Where I Wanna Be,4:16,Rap,2000-11-11,2000-11-18,x76th.week,NaN
24081,2000,De La Soul,All Good?,5:02,Rap,2000-12-23,2000-12-23,x76th.week,NaN
24082,2000,"Larrieux, Amel",Get Up,4:02,R&B,2000-03-04,2000-03-11,x76th.week,NaN
24083,2000,"Braxton, Toni",Spanish Guitar,4:24,Rock,2000-12-02,2000-12-02,x76th.week,NaN
24084,2000,Tuesday,I Know,4:06,Rock,2000-12-30,2000-12-30,x76th.week,NaN
24085,2000,LL Cool J,Imagine That,4:00,Rap,2000-08-12,2000-08-19,x76th.week,NaN
24086,2000,Master P,Souljas,3:33,Rap,2000-11-18,2000-11-18,x76th.week,NaN
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [142]:
billboard_long.dropna(inplace=True)

In [143]:
billboard_long

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,x1st.week,59.0
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,x1st.week,83.0
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,x1st.week,63.0
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,x1st.week,77.0
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x1st.week,81.0
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,2000-07-29,x1st.week,82.0
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,2000-01-15,x1st.week,71.0
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,2000-07-15,x1st.week,70.0
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,2000-11-11,x1st.week,84.0
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,2000-06-17,x1st.week,59.0
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,x1st.week,60.0
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,2000-02-19,x1st.week,82.0
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,x1st.week,81.0
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,2000-12-02,x1st.week,72.0
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,2000-12-30,x1st.week,99.0
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,2000-05-06,x1st.week,63.0
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,x1st.week,77.0
22,2000,98�,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,2000-09-30,x1st.week,51.0
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,2000-08-19,x1st.week,74.0
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,x1st.week,81.0
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,2000-05-20,x1st.week,74.0
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,2000-07-01,x1st.week,50.0
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,2000-01-08,x1st.week,81.0
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,2000-07-01,x1st.week,94.0
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,x1st.week,92.0
...,...,...,...,...,...,...,...,...,...
16184,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,x52nd.week,48.0
16191,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,x52nd.week,42.0
16213,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x52nd.week,16.0
16493,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x53rd.week,20.0
16501,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,x53rd.week,47.0
16508,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,x53rd.week,49.0
16530,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x53rd.week,17.0
16810,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x54th.week,22.0
16847,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x54th.week,17.0
17127,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x55th.week,22.0
17164,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x55th.week,21.0
17444,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x56th.week,25.0
17481,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x56th.week,26.0
17761,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x57th.week,26.0
17798,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x57th.week,29.0
18078,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x58th.week,31.0
18115,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x58th.week,32.0
18395,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x59th.week,32.0
18432,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x59th.week,39.0
18712,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x60th.week,37.0
18749,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x60th.week,39.0
19029,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x61st.week,42.0
19066,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x61st.week,43.0
19346,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x62nd.week,42.0
19383,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x62nd.week,47.0
19663,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x63rd.week,45.0
19700,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x63rd.week,50.0
19980,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x64th.week,50.0
20017,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x64th.week,50.0
20334,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x65th.week,49.0

In [144]:
billboard_long.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5307 entries, 0 to 20334
Data columns (total 9 columns):
year               5307 non-null int64
artist.inverted    5307 non-null object
track              5307 non-null object
time               5307 non-null object
genre              5307 non-null object
date.entered       5307 non-null object
date.peaked        5307 non-null object
week               5307 non-null object
rating             5307 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 414.6+ KB

In [145]:
billboard_long.describe()

         year       rating
count  5307.0  5307.000000
mean   2000.0    51.052384
std       0.0    28.966198
min    2000.0     1.000000
25%    2000.0    26.000000
50%    2000.0    51.000000
75%    2000.0    76.000000
max    2000.0   100.000000

In [146]:
billboard_long.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0

In [147]:
billboard_long.nsmallest(5, 'year')

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0

In [149]:
# 시간 날짜, 위치정보  
# timeseries 시계열  -> 조금 영역이 달라 
# 별도의 분야로 다루기도 한다. -> 사이킷에서도 온전하게 다룰 수 없다. 
# 시계열은 날짜와 시간 
# 날짜와 시간은 파이썬에서 기본적인 데이터 구조가 없다. 
# import를 해야한다. 
# 표준라이브러리가 있지만, 기본적인 데이터구조가 없다. 
# 표준라이브러리에는 총 3가지가 있다.
# 시계열은 3가지의 라이브러리를 알아야한다. 
# time, 
# 치명적인 단점; 시간 관련된 라이브러리를 잘 안만들어서
# dateutil로 서브로 지원을 받아야한다.  <- 쉽게 사용할 수 있따.
# pytz <- python time지원이 별로라 만들어놈 
# https://pendulum.eustace.io/ <- 요즘 나온 기술  
#

In [152]:
temp_data = pd.to_datetime(billboard_long['date.entered'])

In [153]:
temp_data

0       2000-09-23
1       2000-02-12
2       1999-10-23
3       2000-08-12
4       2000-08-05
5       2000-06-17
6       1999-12-25
7       2000-04-01
8       2000-06-24
9       1999-06-05
10      2000-05-06
11      1999-11-27
12      2000-01-22
13      2000-05-13
14      2000-03-18
15      2000-04-29
16      1999-12-11
17      1999-11-06
18      2000-08-19
19      2000-09-30
20      2000-03-18
21      2000-02-26
22      2000-08-19
23      2000-05-13
24      2000-04-08
25      2000-01-29
26      2000-04-15
27      1999-09-04
28      2000-01-01
29      1999-10-23
           ...
16184   1999-11-06
16191   2000-04-08
16213   1999-09-11
16493   1999-06-05
16501   1999-11-06
16508   2000-04-08
16530   1999-09-11
16810   1999-06-05
16847   1999-09-11
17127   1999-06-05
17164   1999-09-11
17444   1999-06-05
17481   1999-09-11
17761   1999-06-05
17798   1999-09-11
18078   1999-06-05
18115   1999-09-11
18395   1999-06-05
18432   1999-09-11
18712   1999-06-05
18749   1999-09-11
19029   1999-06-05
19066   1999-09-11
19346   1999-06-05
19383   1999-09-11
19663   1999-06-05
19700   1999-09-11
19980   1999-06-05
20017   1999-09-11
20334   1999-09-11
Name: date.entered, Length: 5307, dtype: datetime64[ns]

In [154]:
billboard_long['date.entered'] = temp_data

In [156]:
billboard_long

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,x1st.week,59.0
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,x1st.week,83.0
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,x1st.week,63.0
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,x1st.week,77.0
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x1st.week,81.0
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,2000-07-29,x1st.week,82.0
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,2000-01-15,x1st.week,71.0
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,2000-07-15,x1st.week,70.0
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,2000-11-11,x1st.week,84.0
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,2000-06-17,x1st.week,59.0
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,x1st.week,60.0
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,2000-02-19,x1st.week,82.0
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,x1st.week,81.0
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,2000-12-02,x1st.week,72.0
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,2000-12-30,x1st.week,99.0
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,2000-05-06,x1st.week,63.0
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,x1st.week,77.0
22,2000,98�,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,2000-09-30,x1st.week,51.0
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,2000-08-19,x1st.week,74.0
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,x1st.week,81.0
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,2000-05-20,x1st.week,74.0
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,2000-07-01,x1st.week,50.0
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,2000-01-08,x1st.week,81.0
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,2000-07-01,x1st.week,94.0
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,x1st.week,92.0
...,...,...,...,...,...,...,...,...,...
16184,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,x52nd.week,48.0
16191,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,x52nd.week,42.0
16213,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x52nd.week,16.0
16493,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x53rd.week,20.0
16501,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,x53rd.week,47.0
16508,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,x53rd.week,49.0
16530,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x53rd.week,17.0
16810,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x54th.week,22.0
16847,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x54th.week,17.0
17127,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x55th.week,22.0
17164,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x55th.week,21.0
17444,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x56th.week,25.0
17481,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x56th.week,26.0
17761,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x57th.week,26.0
17798,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x57th.week,29.0
18078,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x58th.week,31.0
18115,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x58th.week,32.0
18395,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x59th.week,32.0
18432,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x59th.week,39.0
18712,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x60th.week,37.0
18749,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x60th.week,39.0
19029,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x61st.week,42.0
19066,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x61st.week,43.0
19346,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x62nd.week,42.0
19383,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x62nd.week,47.0
19663,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x63rd.week,45.0
19700,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x63rd.week,50.0
19980,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x64th.week,50.0
20017,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x64th.week,50.0
20334,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x65th.week,49.0

In [157]:
billboard_long.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5307 entries, 0 to 20334
Data columns (total 9 columns):
year               5307 non-null int64
artist.inverted    5307 non-null object
track              5307 non-null object
time               5307 non-null object
genre              5307 non-null object
date.entered       5307 non-null datetime64[ns]
date.peaked        5307 non-null object
week               5307 non-null object
rating             5307 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 414.6+ KB

In [160]:
billboard_long['date.entered']['2010'] # 인덱스가 안됨 값으로 들어갔기 때문에  # 인덱스가 시계열로 들어가야한다.

KeyError: '2010'