In [3]:
import pandas as pd 
import numpy as np
import datetime # dataetime , time, date -> 크게 3가지 패키지가 존재

In [11]:
date = datetime.date(year =2013, month = 6 , day =7) # 생성자 방식으로 인스턴스 
time = datetime.time(hour = 12 , minute = 30, second = 19, microsecond = 463198)
dt = datetime.datetime(year = 2013, month = 6, day =7, hour = 12, minute = 30, second = 19, microsecond = 463198)

In [13]:
td = datetime.timedelta(weeks = 2, days = 5, hours = 10 , minutes = 20, seconds =  6.73, milliseconds = 99, microseconds =8)

In [16]:
from IPython import InteractiveShell

In [22]:
date - td  # 날짜 - 시간 
dt + td

datetime.datetime(2013, 6, 26, 22, 50, 26, 292206)

In [21]:
time + td # 시간 + 시간

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

In [18]:
dir(time) # add 존재 하지가 않음 지정을 안했기 때문에

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'dst',
 'fold',
 'hour',
 'isoformat',
 'max',
 'microsecond',
 'min',
 'minute',
 'replace',
 'resolution',
 'second',
 'strftime',
 'tzinfo',
 'tzname',
 'utcoffset']

In [19]:
dir(td) # add 존재

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'days',
 'max',
 'microseconds',
 'min',
 'resolution',
 'seconds',
 'total_seconds']

In [23]:
# timestamp는 특정 시각

In [35]:
pd.Timestamp(year = 2012, month = 12 , day = 21, hour = 5, minute = 10 , second=59)

Timestamp('2012-12-21 05:10:59')

In [26]:
pd.Timestamp('22/1/2018') # 앞에 꺼가 월이 될 수 있으면 월 앞이 월이 될 수 없으면 뒤에껄로 자동으로 하게 한다.

Timestamp('2018-01-22 00:00:00')

In [28]:
pd.Timestamp('2014-5/10')

Timestamp('2014-05-10 00:00:00')

In [29]:
pd.Timestamp(500) # 유닉스로 1970 - 01 시작

Timestamp('1970-01-01 00:00:00.000000500')

In [30]:
pd.Timestamp(5000, unit= 'D')

Timestamp('1983-09-10 00:00:00')

In [36]:
pd.to_datetime('2015-5-13')

Timestamp('2015-05-13 00:00:00')

In [37]:
pd.to_datetime('2015-13-5', dayfirst=True)

Timestamp('2015-05-13 00:00:00')

In [38]:
pd.to_datetime(100, unit = 'D', origin = '2013-1-1')

Timestamp('2013-04-11 00:00:00')

In [44]:
s = pd.Series([10,100, 1000, 10000]) # day 뒤에 ~ 10일 뒤에 
b = pd.to_datetime(s, unit= 'D')
a = pd.Series(b)

In [40]:
s[0]

10

In [45]:
a[0]

Timestamp('1970-01-11 00:00:00')

In [46]:
s = pd.Series(['12-5-2015', '14-1-2013', '20/12/2017', '40/23/2017'])
pd.to_datetime(s, dayfirst=True, errors='coerce')
# Nat datetime이 아니란것 
# 변환 실패 시 -> errors -> coerce -> 강제적으로 NAt Nat a tiemstamp 숫자즌 NaN not a number

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [47]:
pd.Timedelta(days = 5, minutes =7.34)

Timedelta('5 days 00:07:20.400000')

In [48]:
pd.Timedelta(100, unit = "W")

Timedelta('700 days 00:00:00')

In [49]:
pd.to_timedelta('5 dayz', errors='coerce') # dayz -> 안되니깐 변환 똑 바로 못함

NaT

In [50]:
pd.to_timedelta('5 dayz', errors='ignore')

'5 dayz'

In [51]:
pd.to_timedelta('67:15:45, 454')

Timedelta('3 days 07:52:34')

In [52]:
s = pd.Series([10, 100])

In [53]:
pd.to_timedelta(s, unit='s')

0   00:00:10
1   00:01:40
dtype: timedelta64[ns]

In [54]:
time_strings = ['2 days 24 minutes 89.67 seconds', '00:45:23.6']

In [55]:
pd.Timedelta('12 days 5 hours 3 minutes') * 2

Timedelta('24 days 10:06:00')

In [56]:
# value 들어갈 수 있는건 
# 인덱스에 시간 날짜 데이터 있을 때 시계열 분석
# 총 3가지 
# 인덱스에 따라 3가지 방식 
# 기본적인 포맷은 파이썬의 datetime 사용이 아니라  안에있는는 np 에있는 datetime64 사용 
# 값 자체를 pd.datastmpa  pd.timedelta 클래스를 만든 것 
# 지금은 timedelta -> 시간차를 나타내는 객체
# 변화하는걸 자주 사용 하니깐 astype이 아니라 
# helpfunc -> to_~~~
# to_Timedelta 
# 아 옵션 많아 
# timedelta -> timestamp는 + - 사용 가능 (며칠 뒤 며칠 앞)
# datatime에 timedata와 똑같다 pandas 전용으로 만든거야 
# dateTime
# Timedelta 
#

In [58]:
td1 = pd.to_timedelta([10, 100], unit ='s')

In [59]:
type(td1)

pandas.core.indexes.timedeltas.TimedeltaIndex

In [60]:
td2 = pd.to_timedelta(['3 hours', '4 hours'])
td1 + td2 
# timedelta끼리도 더하고 빼진다. 후~~ 많아 많아 ( + - )

TimedeltaIndex(['03:00:10', '04:01:40'], dtype='timedelta64[ns]', freq=None)

In [61]:
pd.Timedelta('12 hours') / pd.Timedelta('3 days') # 근디 사칙연산 하지마 -> timedelta + td -> 반환이 td이기 때문에 이거 갑자기 안드로메다 가

0.16666666666666666

In [62]:
# 곱셈도 가능한디 하지마...

In [63]:
# timesstamp는 객체 
# pd.timedelta는 timedelta

In [65]:
ts = pd.Timestamp('2016-10-1 4:23:23.9')

In [66]:
type(ts)

pandas._libs.tslibs.timestamps.Timestamp

In [69]:
ts.ceil('h') # datetime 객체와 비슷하다

Timestamp('2016-10-01 05:00:00')

In [68]:
type(ts.ceil('h')) # 올림  datetime 객체 만들어서 .year

pandas._libs.tslibs.timestamps.Timestamp

In [70]:
ts.year, ts.month, ts.day, ts.hour, ts.minute, ts.daysinmonth

(2016, 10, 1, 4, 23, 31)

In [75]:
type(ts.year)

int

In [71]:
ts.to_pydatetime()

datetime.datetime(2016, 10, 1, 4, 23, 23, 900000)

In [73]:
td = pd.Timedelta(125.8723, unit='h')
td

Timedelta('5 days 05:52:20.280000')

In [74]:
td.round('min') # 시간 내림 ceil round flow

Timedelta('5 days 05:52:00')

In [76]:
td.components

Components(days=5, hours=5, minutes=52, seconds=20, milliseconds=280, microseconds=0, nanoseconds=0)

In [77]:
td.round('min')

Timedelta('5 days 05:52:00')

In [78]:
td.components

Components(days=5, hours=5, minutes=52, seconds=20, milliseconds=280, microseconds=0, nanoseconds=0)

In [79]:
td.total_seconds()

453140.28

In [80]:
date_string_list = ['Sep 30 1984'] * 10000

In [82]:
date_string_list

['Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 'Sep 30 1984',
 ...]

In [83]:
%timeit pd.to_datetime(date_string_list, format= '%b %d %Y') # format은 느려 속도차가 엄청나 (이렇게 하지말고 모든걸 2018-09-9 '-'로 통일 하자 )

40.7 ms ± 1.57 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [84]:
%timeit pd.to_datetime(date_string_list)

1.48 s ± 151 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
# TS -> 만드는 방법 객체의 인스턴스화 
#     ->pd.to_datetime  (인자가 하나면 인스턴스를 돌려주고) 리스트를 넣었을 때 결과가 인덱스 
# TS -> Datetime 파이썬 np -> Datetime64
# TD ->인스턴스화,  pd.to_timedelta 
# TD 파이썬 timedelta , np -> timedelta64

In [85]:
TS = pd.to_datetime('2015-05-30')

In [86]:
type(TS)

pandas._libs.tslibs.timestamps.Timestamp

In [87]:
TS = pd.to_datetime(['2015-05-30','2015-05-30'])

In [88]:
type(TS)

pandas.core.indexes.datetimes.DatetimeIndex

In [89]:
# datetime 변환의 핵심!!!!!

In [92]:
TD = pd.to_timedelta('12 hour')

In [93]:
type(TD)

pandas._libs.tslibs.timedeltas.Timedelta

In [94]:
TD = pd.to_timedelta(['12 hour','12 hour'] )

In [95]:
type(TD)

pandas.core.indexes.timedeltas.TimedeltaIndex