In [1]:
from sqlalchemy import create_engine # core

In [2]:
from sqlalchemy.ext.declarative import declarative_base # 원래 베이스(비교하기 위해) orm (like a Metadata)

In [3]:
engine = create_engine("sqlite:///orm.db", echo=True)

In [4]:
from sqlalchemy.ext.automap import automap_base

In [5]:
Base = automap_base()
# Base = declartive_base()

In [6]:
Base.prepare(engine, reflect=True) # 반영하기

2018-07-18 22:08:53,254 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-18 22:08:53,269 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,271 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-18 22:08:53,272 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,273 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-18 22:08:53,274 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,278 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-18 22:08:53,279 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,281 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'album' AND type = 'table'
2018-07-18 22:08:53,282 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,285 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("album")
2018-07-18 22:08:53,286 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,288 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'album' AND type = 'table'
2018-07-18 22:08:53,289 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,295 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-18 22:08:53,296 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,298 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'artist' AND type = 'table'
2018-07-18 22:08:53,299 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,301 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("artist")
2018-07-18 22:08:53,302 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,303 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'artist' AND type = 'table'
2018-07-18 22:08:53,304 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,306 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("artist")
2018-07-18 22:08:53,308 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,310 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("artist")
2018-07-18 22:08:53,310 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,312 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'artist' AND type = 'table'
2018-07-18 22:08:53,313 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,318 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("album")
2018-07-18 22:08:53,319 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,321 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("album")
2018-07-18 22:08:53,321 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,324 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'album' AND type = 'table'
2018-07-18 22:08:53,325 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,327 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-18 22:08:53,328 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,330 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'genre' AND type = 'table'
2018-07-18 22:08:53,331 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,332 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("genre")
2018-07-18 22:08:53,333 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,335 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'genre' AND type = 'table'
2018-07-18 22:08:53,335 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,337 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("genre")
2018-07-18 22:08:53,338 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,339 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("genre")
2018-07-18 22:08:53,340 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,343 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'genre' AND type = 'table'
2018-07-18 22:08:53,344 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,347 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-18 22:08:53,348 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,352 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'track' AND type = 'table'
2018-07-18 22:08:53,353 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,355 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("track")
2018-07-18 22:08:53,356 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,359 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'track' AND type = 'table'
2018-07-18 22:08:53,360 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,362 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("track")
2018-07-18 22:08:53,363 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,364 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("track")
2018-07-18 22:08:53,365 INFO sqlalchemy.engine.base.Engine ()
2018-07-18 22:08:53,367 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'track' AND type = 'table'
2018-07-18 22:08:53,368 INFO sqlalchemy.engine.base.Engine ()

In [7]:
from sqlalchemy.orm import sessionmaker

In [8]:
Session = sessionmaker(bind = engine)

In [9]:
session = Session() # DB작업 할거 아니면 필요 없다 # 이미 클래스 상수에 이미 불러 왔기 때문에

In [10]:
artist = Base.classes.artist

In [11]:
artist # 오토맵이라는 클래스를 감싼다  # 객체화

sqlalchemy.ext.automap.artist

In [12]:
artist.name

In [13]:
result = session.query(artist)

In [14]:
type(result)

sqlalchemy.orm.query.Query

In [15]:
for row in result:
    print(row)# 바로 출력이 안됨 # 인스턴스로 가져왔지만 우리는 아직 보이지 안흔다

2018-07-18 22:09:26,261 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-18 22:09:26,263 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
2018-07-18 22:09:26,264 INFO sqlalchemy.engine.base.Engine ()
<sqlalchemy.ext.automap.artist object at 0x000001C2BC282E10>
<sqlalchemy.ext.automap.artist object at 0x000001C2BC282E80>
<sqlalchemy.ext.automap.artist object at 0x000001C2BC282EF0>
<sqlalchemy.ext.automap.artist object at 0x000001C2BC282F60>
<sqlalchemy.ext.automap.artist object at 0x000001C2BC282FD0>
<sqlalchemy.ext.automap.artist object at 0x000001C2BC2950B8>

In [16]:
for row in result:
    print(row.id, row.name)

2018-07-18 22:09:32,626 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
2018-07-18 22:09:32,627 INFO sqlalchemy.engine.base.Engine ()
1 xyz
2 AC/DC
3 Led zepplin
4 AC/DC
5 xyz
6 AC/DC